Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2022-08, with the labels that each got.

#1031 chore(build): broke up pr workflow & measure package size
  .github/workflows/measure-packages-size.yml
  .github/workflows/pr_lint_and_test.yml
  examples/sam/package-lock.json
  examples/sam/package.json
  packages/commons/package.json
  packages/logger/package.json
  packages/metrics/package.json
  packages/tracer/package.json
Labels: github-actions, internal

#1048 docs: update logger.md
  docs/core/logger.md
Labels: documentation

#1052 fix(layers): release process + remove duplicate code
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-merge.yml
  .github/workflows/make-release.yml
  .github/workflows/on-merge-to-main.yml
  .github/workflows/on-release-prod.yml
  .github/workflows/pr_lint_and_test.yml
  .github/workflows/reusable-publish-docs.yml
  .github/workflows/reusable-run-unit-tests.yml
Labels: bug, fix

#1054 fix(build): publish workflow concurrency + leftover dependencies
  .github/workflows/on-merge-to-main.yml
  .github/workflows/reusable-publish-docs.yml
Labels: bug, github-actions

#1055 fix(tracer): use instance as `this` in capture decorators
  docs/core/tracer.md
  packages/tracer/src/Tracer.ts
  packages/tracer/tests/e2e/allFeatures.decorator.test.functionCode.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.functionCode.ts
  packages/tracer/tests/unit/Tracer.test.ts
Labels: bug, utility:tracer

#1060 fix(logger): decorated class methods cannot access `this`
  docs/core/logger.md
  packages/logger/src/Logger.ts
  packages/logger/tests/e2e/sampleRate.decorator.test.FunctionCode.ts
  packages/logger/tests/unit/Logger.test.ts
Labels: bug, utility:logger, fix

#1059 Fix(metrics): decorated class methods cannot access `this`
  docs/core/metrics.md
  packages/metrics/src/Metrics.ts
  packages/metrics/tests/e2e/basicFeatures.decorator.test.functionCode.ts
  packages/metrics/tests/unit/Metrics.test.ts
Labels: bug, utility:metrics, fix

#1066 fix(docs): docs published with incorrect version number + api docs missing after release
  .github/workflows/on-merge-to-main.yml
  .github/workflows/publish-docs-on-release.yml
  .github/workflows/reusable-publish-docs.yml
Labels: bug

#1065 feat(tracer): allow disabling result capture for decorators and middleware
  docs/core/tracer.md
  packages/tracer/src/Tracer.ts
  packages/tracer/src/middleware/middy.ts
  packages/tracer/src/types/Tracer.ts
  packages/tracer/tests/e2e/allFeatures.decorator.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.decorator.test.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.ts
  packages/tracer/tests/helpers/tracesUtils.ts
  packages/tracer/tests/unit/Tracer.test.ts
  packages/tracer/tests/unit/middy.test.ts
Labels: feature, area/tracer

#1072 feat(metrics): increase maximum dimensions to 29
  docs/core/metrics.md
  packages/metrics/src/Metrics.ts
  packages/metrics/tests/unit/Metrics.test.ts
Labels: feature, area/metrics

#1075 chore(build): update make-release.yml to remove redundant publish step
  .github/workflows/make-release.yml
Labels: github-actions, internal

#1078 fix(build): remove leftover code in action that labels issues on merge
  .github/scripts/label_related_issue.js
Labels: bug, github-actions, internal

#1079 improv(build): allow to specify PR number when running e2e tests
  .github/scripts/get_pr_info.js
  .github/workflows/run-e2e-tests.yml
Labels: github-actions, internal
