Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2022-09, with the labels that each got.

#1086 feat(idempotency): create initial class structure for function idempotency
  layer-publisher/package-lock.json
  package-lock.json
  packages/idempotency/LICENSE-THIRD-PARTY
  packages/idempotency/README.md
  packages/idempotency/jest.config.js
  packages/idempotency/package.json
  packages/idempotency/src/IdempotencyOptions.ts
  packages/idempotency/src/makeFunctionIdempotent.ts
  packages/idempotency/src/persistence/DynamoDbPersistenceLayer.ts
  packages/idempotency/src/persistence/IdempotencyRecord.ts
  packages/idempotency/src/persistence/PersistenceLayer.ts
  packages/idempotency/src/persistence/PersistenceLayerInterface.ts
  packages/idempotency/src/types/AnyFunction.ts
  packages/idempotency/src/types/IdempotencyRecordStatus.ts
  packages/idempotency/tsconfig-dev.json
  packages/idempotency/tsconfig.es.json
  packages/idempotency/tsconfig.json
Labels: feature

#1087 fix(logger): wait for decorated method return before clearing out state
  packages/logger/src/Logger.ts
  packages/logger/tests/unit/Logger.test.ts
Labels: bug, utility:logger

#1090 fix(metrics): captureColdStartMetric and throwOnEmptyMetrics when set to false was interpreted as true
  packages/metrics/src/middleware/middy.ts
  packages/metrics/tests/unit/Metrics.test.ts
  packages/metrics/tests/unit/middleware/middy.test.ts
Labels: bug, utility:metrics
