Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2023-08, with the labels that each got.

#1646 chore(logger): extract logger creation into protected method
  packages/logger/src/Logger.ts
Labels: area/logger, size/S

#1642 improv(idempotency): consolidate internal implementation
  packages/idempotency/src/IdempotencyHandler.ts
  packages/idempotency/src/middleware/makeHandlerIdempotent.ts
  packages/idempotency/tests/unit/IdempotencyHandler.test.ts
Labels: area/idempotency, size/XL, type/tests

#1652 chore(ci): add project config to issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_improvements.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/ISSUE_TEMPLATE/share_your_work.yml
  .github/ISSUE_TEMPLATE/support_powertools.yml
Labels: type/internal, size/XS

#1653 chore(docs): added tecRacer GmbH & Co. KG to project supporters
  README.md
  docs/index.md
  packages/batch/README.md
  packages/commons/README.md
  packages/idempotency/README.md
  packages/logger/README.md
  packages/metrics/README.md
  packages/parameters/README.md
  packages/tracer/README.md
Labels: area/documentation, type/internal, size/S

#1656 chore(ci): add il-central-1 to layer deployment pipeline
  .github/workflows/reusable_deploy_layer_stack.yml
  docs/index.md
Labels: area/documentation, area/automation, size/XS

#1655 chore(docs): improve idempotency documentation
  docs/snippets/idempotency/makeIdempotentJmes.ts
  docs/utilities/idempotency.md
Labels: area/documentation, area/idempotency, size/M
