Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2023-07, with the labels that each got.

#1570 fix(ci): remove old release tag version for layer
  .github/workflows/publish_layer.yml
Labels: area/automation, size/S

#1567 chore(maintenance): add powertools to user-agent in SDK clients
  package-lock.json
  packages/commons/package.json
  packages/commons/src/index.ts
  packages/commons/src/userAgentMiddleware.ts
  packages/commons/src/version.ts
  packages/commons/tests/unit/userAgentMiddleware.test.ts
  packages/idempotency/src/middleware/makeHandlerIdempotent.ts
  packages/idempotency/src/persistence/DynamoDBPersistenceLayer.ts
  packages/idempotency/tests/unit/persistence/DynamoDbPersistenceLayer.test.ts
Labels: type/dependencies, area/idempotency, size/L, type/tests, area/commons

#1576 fix(docs): fix alias in versions.json
  .github/workflows/reusable-publish-docs.yml
Labels: type/bug, area/automation, size/XS

#1575 chore(tracer): apply UA to AWS SDK clients used by Tracer
  packages/tracer/src/provider/ProviderService.ts
  packages/tracer/tests/unit/ProviderService.test.ts
Labels: area/tracer, size/S, type/tests

#1577 chore(parameters): apply UA to AWS SDK clients used by Parameters
  packages/parameters/src/appconfig/AppConfigProvider.ts
  packages/parameters/src/dynamodb/DynamoDBProvider.ts
  packages/parameters/src/secrets/SecretsProvider.ts
  packages/parameters/src/ssm/SSMProvider.ts
  packages/parameters/tests/unit/AppConfigProvider.test.ts
  packages/parameters/tests/unit/DynamoDBProvider.test.ts
  packages/parameters/tests/unit/SSMProvider.test.ts
  packages/parameters/tests/unit/SecretsProvider.test.ts
Labels: area/parameters, size/M, type/tests

#1591 test(idempotency): improve integration tests for utility
  .github/workflows/run-e2e-tests.yml
  packages/idempotency/README.md
  packages/idempotency/src/makeIdempotent.ts
  packages/idempotency/src/middleware/makeHandlerIdempotent.ts
  packages/idempotency/src/persistence/BasePersistenceLayerInterface.ts
  packages/idempotency/tests/e2e/makeFunctionIdempotent.test.FunctionCode.ts
  packages/idempotency/tests/e2e/makeFunctionIdempotent.test.ts
  packages/idempotency/tests/e2e/makeHandlerIdempotent.test.FunctionCode.ts
  packages/idempotency/tests/e2e/makeHandlerIdempotent.test.ts
  packages/idempotency/tests/e2e/makeIdempotent.test.FunctionCode.ts
  packages/idempotency/tests/e2e/makeIdempotent.test.ts
  packages/idempotency/tests/helpers/idempotencyUtils.ts
  packages/idempotency/tests/unit/makeIdempotent.test.ts
Labels: area/automation, type/internal, area/idempotency, size/XXL, type/tests

#1592 docs(idempotency): write utility docs
  .gitignore
  docs/snippets/idempotency/customizePersistenceLayer.ts
  docs/snippets/idempotency/makeHandlerIdempotent.ts
  docs/snippets/idempotency/makeIdempotentAnyFunction.ts
  docs/snippets/idempotency/makeIdempotentBase.ts
  docs/snippets/idempotency/makeIdempotentJmes.ts
  docs/snippets/idempotency/makeIdempotentLambdaContext.ts
  docs/snippets/idempotency/requiredIdempotencyKey.ts
  docs/snippets/idempotency/types.ts
  docs/snippets/idempotency/workingWithCompositeKey.ts
  docs/snippets/idempotency/workingWithCustomClient.ts
  docs/snippets/idempotency/workingWithCustomConfig.ts
  docs/snippets/idempotency/workingWithExceptions.ts
  docs/snippets/idempotency/workingWithIdempotencyRequiredKey.ts
  docs/snippets/idempotency/workingWithLocalCache.ts
  docs/snippets/idempotency/workingWithPayloadValidation.ts
  docs/snippets/idempotency/workingWithRecordExpiration.ts
  docs/snippets/package.json
  docs/snippets/tsconfig.json
  docs/utilities/idempotency.md
  mkdocs.yml
  packages/idempotency/README.md
Labels: area/documentation, type/dependencies, type/internal, size/XXL

#1595 chore(idempotency): mark the utility ready public beta
  .github/scripts/release_patch_package_json.js
  packages/commons/src/version.ts
  packages/idempotency/package.json
Labels: type/dependencies, area/automation, size/S, area/commons

#1597 docs(internal): update AWS SDK links to new docs
  docs/utilities/idempotency.md
  docs/utilities/parameters.md
Labels: area/documentation, size/M

#1599 chore(maintenance): remove parameters utility from layer bundling and layers e2e tests
  .github/scripts/setup_tmp_layer_files.sh
  layers/src/canary-stack.ts
  layers/tests/e2e/layerPublisher.class.test.functionCode.ts
Labels: area/automation, size/XS, type/tests, area/layers

#1601 chore(ci): fix canary deploy in ci with correct workspace name
  .github/workflows/reusable_deploy_layer_stack.yml
Labels: area/automation, size/XS

#1605 feat(batch): Batch processing wrapper function
  packages/batch/src/BasePartialBatchProcessor.ts
  packages/batch/src/constants.ts
  packages/batch/src/index.ts
  packages/batch/src/processPartialResponse.ts
  packages/batch/src/types.ts
  packages/batch/tests/helpers/factories.ts
  packages/batch/tests/unit/BatchProcessor.test.ts
  packages/batch/tests/unit/processPartialResponse.test.ts
Labels: size/L, type/feature, type/tests, area/batch

#1606 feat(batch): Implementing SQS FIFO processor class
  packages/batch/src/SqsFifoPartialProcessor.ts
  packages/batch/src/index.ts
  packages/batch/src/processPartialResponse.ts
  packages/batch/tests/unit/SqsFifoPartialProcessor.test.ts
Labels: size/L, type/feature, type/tests, area/batch

#1611 chore(maintenance): remove proxy-agent from dependencies
  package-lock.json
  package.json
Labels: type/dependencies, size/XS

#1613 chore(maintenance): remove vm2 from package-lock.json
  package-lock.json
Labels: type/dependencies, size/XS

#1615 chore(ci): restore dependencies & fix e2e tests
  package-lock.json
  package.json
Labels: type/dependencies, size/XS

#1617 feat(logger): add `cause` field to formatted error
  packages/logger/src/formatter/LogFormatter.ts
  packages/logger/tests/unit/formatter/PowertoolLogFormatter.test.ts
Labels: area/logger, size/M, type/feature, type/tests

#1625 feat(batch): add batch processing utility
  .github/scripts/release_patch_package_json.js
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  README.md
  docs/snippets/batch/accessLambdaContext.ts
  docs/snippets/batch/accessProcessedMessages.ts
  docs/snippets/batch/customPartialProcessor.ts
  docs/snippets/batch/extendingFailure.ts
  docs/snippets/batch/gettingStartedAsync.ts
  docs/snippets/batch/gettingStartedDynamoDBStreams.ts
  docs/snippets/batch/gettingStartedKinesis.ts
  docs/snippets/batch/gettingStartedSQS.ts
  docs/snippets/batch/gettingStartedSQSFifo.ts
  docs/snippets/batch/samples/sampleDynamoDBStreamsEvent.json
  docs/snippets/batch/samples/sampleDynamoDBStreamsResponse.json
  docs/snippets/batch/samples/sampleKinesisEvent.json
  docs/snippets/batch/samples/sampleKinesisResponse.json
  docs/snippets/batch/samples/sampleSQSEvent.json
  docs/snippets/batch/samples/sampleSQSResponse.json
  docs/snippets/batch/templates/sam/dynamodb.yaml
  docs/snippets/batch/templates/sam/kinesis.yaml
  docs/snippets/batch/templates/sam/sqs.yaml
  docs/snippets/batch/testingYourCode.ts
  docs/snippets/package.json
  docs/snippets/tsconfig.json
  docs/utilities/batch.md
  lerna.json
  mkdocs.yml
  package-lock.json
  package.json
  packages/batch/README.md
  packages/batch/jest.config.js
  packages/batch/package.json
  packages/batch/src/AsyncBatchProcessor.ts
  packages/batch/src/BasePartialBatchProcessor.ts
  packages/batch/src/BasePartialProcessor.ts
  packages/batch/src/BatchProcessor.ts
  packages/batch/src/SqsFifoPartialProcessor.ts
  packages/batch/src/asyncProcessPartialResponse.ts
  packages/batch/src/constants.ts
  packages/batch/src/errors.ts
  packages/batch/src/index.ts
  packages/batch/src/processPartialResponse.ts
  packages/batch/src/types.ts
  packages/batch/tests/helpers/factories.ts
  packages/batch/tests/helpers/handlers.ts
  packages/batch/tests/helpers/populateEnvironmentVariables.ts
  packages/batch/tests/unit/AsyncBatchProcessor.test.ts
  packages/batch/tests/unit/BatchProcessor.test.ts
  packages/batch/tests/unit/SqsFifoPartialProcessor.test.ts
  packages/batch/tests/unit/asyncProcessPartialResponse.test.ts
  packages/batch/tests/unit/processPartialResponse.test.ts
  packages/batch/tsconfig-dev.json
  packages/batch/tsconfig.es.json
  packages/batch/tsconfig.json
  packages/batch/typedoc.json
Labels: area/documentation, size/XXL, area/batch

#1622 docs(parameters): add parameters examples cdk and sam
  examples/cdk/functions/common/getUuid.ts
  examples/cdk/functions/common/powertools.ts
  examples/cdk/functions/get-all-items.ts
  examples/cdk/functions/get-by-id.ts
  examples/cdk/functions/put-item.ts
  examples/cdk/functions/uuid.ts
  examples/cdk/package.json
  examples/cdk/src/example-stack.ts
  examples/cdk/tests/cdk-app.test.ts
  examples/sam/package.json
  examples/sam/src/common/getUuid.ts
  examples/sam/src/common/powertools.ts
  examples/sam/src/get-all-items.ts
  examples/sam/src/get-by-id.ts
  examples/sam/src/get-uuid.ts
  examples/sam/src/put-item.ts
  examples/sam/template.yaml
  package-lock.json
Labels: area/documentation, type/dependencies, size/L

#1628 chore(commons): bump version prior to release
  packages/commons/src/version.ts
Labels: size/XS, area/commons

#1630 chore(ci): add batch to build
  .github/actions/cached-node-modules/action.yml
  packages/commons/src/version.ts
Labels: area/automation, size/XS, area/commons

#1632 chore(docs): update roadmap, labels, and issue templates
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/semantic.yml
  MAINTAINERS.md
  docs/roadmap.md
Labels: area/documentation, area/automation, type/internal, size/M

#1633 improv(tests): adopt aws cdk cli lib
  .github/actions/cached-node-modules/action.yml
  layers/package.json
  layers/tests/e2e/layerPublisher.test.ts
  lerna.json
  package-lock.json
  package.json
  packages/commons/tests/utils/cdk-cli.ts
  packages/commons/tests/utils/e2eUtils.ts
  packages/idempotency/package.json
  packages/idempotency/tests/e2e/makeHandlerIdempotent.test.ts
  packages/idempotency/tests/e2e/makeIdempotent.test.ts
  packages/logger/package.json
  packages/logger/tests/e2e/basicFeatures.middy.test.ts
  packages/logger/tests/e2e/childLogger.manual.test.ts
  packages/logger/tests/e2e/logEventEnvVarSetting.middy.test.ts
  packages/logger/tests/e2e/sampleRate.decorator.test.ts
  packages/metrics/package.json
  packages/metrics/tests/e2e/basicFeatures.decorators.test.ts
  packages/metrics/tests/e2e/basicFeatures.manual.test.ts
  packages/parameters/tests/e2e/appConfigProvider.class.test.ts
  packages/parameters/tests/e2e/dynamoDBProvider.class.test.ts
  packages/parameters/tests/e2e/secretsProvider.class.test.ts
  packages/parameters/tests/e2e/ssmProvider.class.test.ts
  packages/testing/jest.config.js
  packages/testing/package.json
  packages/testing/src/TestStack.ts
  packages/testing/src/constants.ts
  packages/testing/src/index.ts
  packages/testing/tests/helpers/populateEnvironmentVariables.ts
  packages/testing/tsconfig.es.json
  packages/testing/tsconfig.json
  packages/tracer/package.json
  packages/tracer/tests/e2e/allFeatures.decorator.test.ts
  packages/tracer/tests/e2e/allFeatures.manual.test.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.ts
Labels: type/dependencies, area/automation, type/internal, size/XL, type/tests, type/enhancement

#1637 fix(batch): Update processor to pass only context to handler
  packages/batch/src/AsyncBatchProcessor.ts
  packages/batch/src/BatchProcessor.ts
  packages/batch/tests/helpers/handlers.ts
Labels: type/bug, size/S, type/tests, area/batch

#1638 chore(ci): fix post release workflow
  .github/workflows/post-release.yml
Labels: area/automation, size/XS
