Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2023-10, with the labels that each got.

#1722 chore(maintenance): remove `createLogger` and `createTracer` helpers
  .github/scripts/release_patch_package_json.js
  docs/snippets/package.json
  package-lock.json
  packages/logger/src/helpers.ts
  packages/logger/src/index.ts
  packages/logger/tests/unit/Logger.test.ts
  packages/logger/tests/unit/helpers.test.ts
  packages/tracer/src/helpers.ts
  packages/tracer/src/index.ts
  packages/tracer/tests/unit/Tracer.test.ts
  packages/tracer/tests/unit/helpers.test.ts
  v2.json
Labels: area/logger, area/automation, area/tracer, size/XXL

#1728 chore(docs): update docs url in comments & readme files
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
  docs/index.md
  examples/cdk/functions/get-all-items.ts
  examples/cdk/functions/get-by-id.ts
  examples/sam/README.md
  examples/sam/src/get-all-items.ts
  examples/sam/src/get-by-id.ts
  packages/batch/README.md
  packages/commons/README.md
  packages/commons/src/config/EnvironmentVariablesService.ts
  packages/idempotency/README.md
  packages/idempotency/src/config/EnvironmentVariablesService.ts
  packages/logger/README.md
  packages/logger/src/Logger.ts
  packages/logger/src/config/ConfigServiceInterface.ts
  packages/logger/src/config/EnvironmentVariablesService.ts
  packages/metrics/README.md
  packages/parameters/src/appconfig/AppConfigProvider.ts
  packages/parameters/src/appconfig/getAppConfig.ts
  packages/parameters/src/dynamodb/DynamoDBProvider.ts
  packages/parameters/src/secrets/SecretsProvider.ts
  packages/parameters/src/secrets/getSecret.ts
  packages/parameters/src/ssm/SSMProvider.ts
  packages/parameters/src/ssm/getParameter.ts
  packages/parameters/src/ssm/getParameters.ts
  packages/parameters/src/ssm/getParametersByName.ts
  packages/tracer/README.md
  packages/tracer/src/Tracer.ts
Labels: area/documentation, type/internal, size/L

#1734 feat(logger): Add dual exports with esmodule support on Logger
  .gitignore
  package-lock.json
  packages/logger/README.md
  packages/logger/jest.config.cjs
  packages/logger/package.json
  packages/logger/src/Logger.ts
  packages/logger/src/config/EnvironmentVariablesService.ts
  packages/logger/src/config/index.ts
  packages/logger/src/formatter/LogFormatter.ts
  packages/logger/src/formatter/LogFormatterInterface.ts
  packages/logger/src/formatter/PowertoolsLogFormatter.ts
  packages/logger/src/formatter/index.ts
  packages/logger/src/index.ts
  packages/logger/src/log/LogItem.ts
  packages/logger/src/log/LogItemInterface.ts
  packages/logger/src/log/index.ts
  packages/logger/src/middleware/index.ts
  packages/logger/src/middleware/middy.ts
  packages/logger/src/types/Logger.ts
  packages/logger/src/types/formats/PowertoolsLog.ts
  packages/logger/src/types/formats/index.ts
  packages/logger/src/types/index.ts
  packages/logger/tests/tsconfig.json
  packages/logger/tests/unit/Logger.test.ts
  packages/logger/tests/unit/config/EnvironmentVariablesService.test.ts
  packages/logger/tests/unit/formatter/PowertoolsLogFormatter.test.ts
  packages/logger/tests/unit/middleware/middy.test.ts
  packages/logger/tsconfig.esm.json
  packages/logger/tsconfig.json
  packages/logger/typedoc.json
  tsconfig.esm.json
Labels: area/logger, size/L, type/feature, type/tests

#1736 feat(parameters): add esmodule support
  packages/parameters/jest.config.cjs
  packages/parameters/package.json
  packages/parameters/src/appconfig/AppConfigProvider.ts
  packages/parameters/src/appconfig/getAppConfig.ts
  packages/parameters/src/appconfig/index.ts
  packages/parameters/src/base/BaseProvider.ts
  packages/parameters/src/base/DefaultProviders.ts
  packages/parameters/src/base/ExpirableValue.ts
  packages/parameters/src/base/GetMultipleOptions.ts
  packages/parameters/src/base/GetOptions.ts
  packages/parameters/src/base/index.ts
  packages/parameters/src/base/transformValue.ts
  packages/parameters/src/config/EnvironmentVariablesService.ts
  packages/parameters/src/dynamodb/DynamoDBProvider.ts
  packages/parameters/src/dynamodb/index.ts
  packages/parameters/src/index.ts
  packages/parameters/src/secrets/SecretsProvider.ts
  packages/parameters/src/secrets/getSecret.ts
  packages/parameters/src/secrets/index.ts
  packages/parameters/src/ssm/SSMProvider.ts
  packages/parameters/src/ssm/getParameter.ts
  packages/parameters/src/ssm/getParameters.ts
  packages/parameters/src/ssm/getParametersByName.ts
  packages/parameters/src/ssm/index.ts
  packages/parameters/src/types/AppConfigProvider.ts
  packages/parameters/src/types/BaseProvider.ts
  packages/parameters/src/types/ConfigServiceInterface.ts
  packages/parameters/src/types/DynamoDBProvider.ts
  packages/parameters/src/types/SSMProvider.ts
  packages/parameters/src/types/SecretsProvider.ts
  packages/parameters/tests/e2e/appConfigProvider.class.test.functionCode.ts
  packages/parameters/tests/e2e/appConfigProvider.class.test.ts
  packages/parameters/tests/e2e/dynamoDBProvider.class.test.functionCode.ts
  packages/parameters/tests/e2e/dynamoDBProvider.class.test.ts
  packages/parameters/tests/e2e/secretsProvider.class.test.functionCode.ts
  packages/parameters/tests/e2e/secretsProvider.class.test.ts
  packages/parameters/tests/e2e/ssmProvider.class.test.functionCode.ts
  packages/parameters/tests/e2e/ssmProvider.class.test.ts
  packages/parameters/tests/helpers/tinyLogger.ts
  packages/parameters/tests/unit/AppConfigProvider.test.ts
  packages/parameters/tests/unit/BaseProvider.test.ts
  packages/parameters/tests/unit/DynamoDBProvider.test.ts
  packages/parameters/tests/unit/EnvironmentVariablesService.test.ts
  packages/parameters/tests/unit/SSMProvider.test.ts
  packages/parameters/tests/unit/SecretsProvider.test.ts
  packages/parameters/tests/unit/getAppConfig.test.ts
  packages/parameters/tests/unit/getParameter.test.ts
  packages/parameters/tests/unit/getParameters.test.ts
  packages/parameters/tests/unit/getParametersByName.test.ts
  packages/parameters/tests/unit/getSecret.test.ts
  packages/parameters/tsconfig.esm.json
  packages/parameters/tsconfig.json
Labels: type/dependencies, area/parameters, size/L, type/feature

#1737 feat(batch): add esmodule support
  packages/batch/jest.config.cjs
  packages/batch/package.json
  packages/batch/src/BasePartialBatchProcessor.ts
  packages/batch/src/BasePartialProcessor.ts
  packages/batch/src/BatchProcessor.ts
  packages/batch/src/BatchProcessorSync.ts
  packages/batch/src/SqsFifoPartialProcessor.ts
  packages/batch/src/constants.ts
  packages/batch/src/errors.ts
  packages/batch/src/index.ts
  packages/batch/src/processPartialResponse.ts
  packages/batch/src/processPartialResponseSync.ts
  packages/batch/tests/helpers/handlers.ts
  packages/batch/tests/unit/BasePartialProcessor.test.ts
  packages/batch/tests/unit/BatchProcessor.test.ts
  packages/batch/tests/unit/BatchProcessorSync.test.ts
  packages/batch/tests/unit/SqsFifoPartialProcessor.test.ts
  packages/batch/tests/unit/processPartialResponse.test.ts
  packages/batch/tests/unit/processPartialResponseSync.test.ts
  packages/batch/tsconfig.esm.json
  packages/batch/tsconfig.json
Labels: size/L, type/feature, area/batch

#1739 feat(metrics): add esmodule support
  examples/cdk/functions/get-all-items.ts
  examples/sam/src/get-all-items.ts
  layers/tests/e2e/layerPublisher.test.ts
  packages/commons/src/types/LambdaInterface.ts
  packages/commons/src/types/index.ts
  packages/metrics/jest.config.cjs
  packages/metrics/package.json
  packages/metrics/src/Metrics.ts
  packages/metrics/src/config/EnvironmentVariablesService.ts
  packages/metrics/src/config/index.ts
  packages/metrics/src/constants.ts
  packages/metrics/src/index.ts
  packages/metrics/src/middleware/index.ts
  packages/metrics/src/middleware/middy.ts
  packages/metrics/src/types/ConfigServiceInterface.ts
  packages/metrics/src/types/MetricResolution.ts
  packages/metrics/src/types/MetricUnit.ts
  packages/metrics/src/types/Metrics.ts
  packages/metrics/src/types/MetricsInterface.ts
  packages/metrics/src/types/index.ts
  packages/metrics/tests/e2e/basicFeatures.decorator.test.functionCode.ts
  packages/metrics/tests/e2e/basicFeatures.manual.test.functionCode.ts
  packages/metrics/tests/helpers/metricsUtils.ts
  packages/metrics/tests/helpers/resources.ts
  packages/metrics/tests/unit/Metrics.test.ts
  packages/metrics/tests/unit/middleware/middy.test.ts
  packages/metrics/tsconfig.esm.json
  packages/metrics/tsconfig.json
Labels: area/documentation, type/dependencies, area/metrics, type/internal, size/XL, type/feature, type/tests, area/commons

#1741 feat(tracer): add esmodule support
  examples/cdk/functions/get-all-items.ts
  examples/sam/src/get-all-items.ts
  packages/tracer/jest.config.cjs
  packages/tracer/package.json
  packages/tracer/src/Tracer.ts
  packages/tracer/src/TracerInterface.ts
  packages/tracer/src/config/EnvironmentVariablesService.ts
  packages/tracer/src/config/index.ts
  packages/tracer/src/index.ts
  packages/tracer/src/middleware/middy.ts
  packages/tracer/src/provider/ProviderService.ts
  packages/tracer/src/provider/index.ts
  packages/tracer/src/types/ConfigServiceInterface.ts
  packages/tracer/src/types/ProviderServiceInterface.ts
  packages/tracer/src/types/Tracer.ts
  packages/tracer/src/types/index.ts
  packages/tracer/tests/e2e/allFeatures.decorator.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.decorator.test.ts
  packages/tracer/tests/e2e/allFeatures.manual.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.manual.test.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.functionCode.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.ts
  packages/tracer/tests/helpers/resources.ts
  packages/tracer/tests/helpers/traceAssertions.ts
  packages/tracer/tests/helpers/traceUtils.types.ts
  packages/tracer/tests/helpers/tracesUtils.ts
  packages/tracer/tests/unit/EnvironmentVariablesService.test.ts
  packages/tracer/tests/unit/ProviderService.test.ts
  packages/tracer/tests/unit/Tracer.test.ts
  packages/tracer/tests/unit/middy.test.ts
  packages/tracer/tsconfig.esm.json
  packages/tracer/tsconfig.json
Labels: area/tracer, size/L, type/feature

#1743 feat(idempotency): add esmodule support
  packages/idempotency/jest.config.cjs
  packages/idempotency/package.json
  packages/idempotency/src/IdempotencyConfig.ts
  packages/idempotency/src/IdempotencyHandler.ts
  packages/idempotency/src/config/EnvironmentVariablesService.ts
  packages/idempotency/src/config/index.ts
  packages/idempotency/src/idempotencyDecorator.ts
  packages/idempotency/src/index.ts
  packages/idempotency/src/makeIdempotent.ts
  packages/idempotency/src/middleware/index.ts
  packages/idempotency/src/middleware/makeHandlerIdempotent.ts
  packages/idempotency/src/persistence/BasePersistenceLayer.ts
  packages/idempotency/src/persistence/BasePersistenceLayerInterface.ts
  packages/idempotency/src/persistence/DynamoDBPersistenceLayer.ts
  packages/idempotency/src/persistence/IdempotencyRecord.ts
  packages/idempotency/src/persistence/LRUCache.ts
  packages/idempotency/src/persistence/index.ts
  packages/idempotency/src/types/BasePersistenceLayer.ts
  packages/idempotency/src/types/ConfigServiceInterface.ts
  packages/idempotency/src/types/IdempotencyOptions.ts
  packages/idempotency/src/types/IdempotencyRecord.ts
  packages/idempotency/src/types/index.ts
  packages/idempotency/tests/e2e/idempotentDecorator.test.FunctionCode.ts
  packages/idempotency/tests/e2e/idempotentDecorator.test.ts
  packages/idempotency/tests/e2e/makeHandlerIdempotent.test.FunctionCode.ts
  packages/idempotency/tests/e2e/makeHandlerIdempotent.test.ts
  packages/idempotency/tests/e2e/makeIdempotent.test.FunctionCode.ts
  packages/idempotency/tests/e2e/makeIdempotent.test.ts
  packages/idempotency/tests/helpers/idempotencyUtils.ts
  packages/idempotency/tests/unit/EnvironmentVariableService.test.ts
  packages/idempotency/tests/unit/IdempotencyConfig.test.ts
  packages/idempotency/tests/unit/IdempotencyHandler.test.ts
  packages/idempotency/tests/unit/idempotencyDecorator.test.ts
  packages/idempotency/tests/unit/makeHandlerIdempotent.test.ts
  packages/idempotency/tests/unit/makeIdempotent.test.ts
  packages/idempotency/tests/unit/persistence/BasePersistenceLayer.test.ts
  packages/idempotency/tests/unit/persistence/DynamoDbPersistenceLayer.test.ts
  packages/idempotency/tests/unit/persistence/IdempotencyRecord.test.ts
  packages/idempotency/tests/unit/persistence/LRUCache.test.ts
  packages/idempotency/tsconfig.esm.json
  packages/idempotency/tsconfig.json
Labels: area/documentation, type/dependencies, area/automation, type/internal, area/idempotency, size/L, type/feature, type/tests, area/layers, area/batch

#1745 chore(ci): update v2 release workflow
  .github/workflows/make-v2-release.yml
Labels: area/automation, size/XS

#1750 chore(tracer): update warning to better format segment name
  packages/tracer/src/Tracer.ts
  packages/tracer/src/middleware/middy.ts
  packages/tracer/tests/unit/Tracer.test.ts
  packages/tracer/tests/unit/middy.test.ts
Labels: area/tracer, size/S, type/tests

#1752 chore(internal): remove outdated notice files
  LICENSE-THIRD-PARTY
  packages/commons/LICENSE-THIRD-PARTY
  packages/idempotency/LICENSE-THIRD-PARTY
  packages/logger/LICENSE-THIRD-PARTY
  packages/metrics/LICENSE-THIRD-PARTY
  packages/tracer/LICENSE-THIRD-PARTY
Labels: type/internal, size/XXL

#1754 chore(maintenance): set `removeComments` to `false` in `tsconfig.json`
  tsconfig.json
Labels: size/XS

#1755 chore(docs): add invisible unicode char to decorator docstrings
  packages/idempotency/src/idempotencyDecorator.ts
  packages/logger/src/Logger.ts
  packages/metrics/src/Metrics.ts
  packages/tracer/src/Tracer.ts
Labels: area/logger, area/tracer, area/metrics, area/idempotency, size/L

#1744 feat(logger): align sampling debug logs feature implementation with the other runtimes
  packages/logger/src/Logger.ts
  packages/logger/src/config/EnvironmentVariablesService.ts
  packages/logger/src/types/Logger.ts
  packages/logger/tests/e2e/sampleRate.decorator.test.ts
  packages/logger/tests/unit/Logger.test.ts
  packages/logger/tests/unit/middleware/middy.test.ts
  packages/testing/src/TestInvocationLogs.ts
Labels: area/logger, size/XL, type/feature, type/tests

#1757 chore(parameters): refactor provider constructor to init client as needed
  packages/parameters/src/appconfig/AppConfigProvider.ts
  packages/parameters/src/base/BaseProvider.ts
  packages/parameters/src/dynamodb/DynamoDBProvider.ts
  packages/parameters/src/secrets/SecretsProvider.ts
  packages/parameters/src/ssm/SSMProvider.ts
  packages/parameters/tests/unit/BaseProvider.test.ts
Labels: area/parameters, size/L, type/tests

#1758 chore(logger): refactor types and interfaces
  package-lock.json
  packages/logger/src/Logger.ts
  packages/logger/src/config/EnvironmentVariablesService.ts
  packages/logger/src/constants.ts
  packages/logger/src/formatter/LogFormatter.ts
  packages/logger/src/formatter/LogFormatterInterface.ts
  packages/logger/src/formatter/LogItem.ts
  packages/logger/src/formatter/PowertoolsLogFormatter.ts
  packages/logger/src/index.ts
  packages/logger/src/log/LogItemInterface.ts
  packages/logger/src/middleware/middy.ts
  packages/logger/src/types/ConfigServiceInterface.ts
  packages/logger/src/types/Log.ts
  packages/logger/src/types/Logger.ts
  packages/logger/src/types/formats/PowertoolsLog.ts
  packages/logger/src/types/formats/index.ts
  packages/logger/src/types/index.ts
  packages/logger/tests/e2e/sampleRate.decorator.test.ts
  packages/logger/tests/unit/EnvironmentVariablesService.test.ts
  packages/logger/tests/unit/Logger.test.ts
  packages/logger/tests/unit/formatter/PowertoolsLogFormatter.test.ts
  packages/logger/tests/unit/middleware/middy.test.ts
  packages/tracer/tests/unit/Tracer.test.ts
  tsconfig.json
Labels: type/dependencies, area/logger, size/XXL, type/tests

#1760 chore(maintenance): bump Middy v4 & run tests
  package-lock.json
  package.json
Labels: type/dependencies, size/XS

#1762 chore(commons): update Powertools UA middleware detection
  packages/commons/src/awsSdk/userAgentMiddleware.ts
  packages/commons/tests/unit/awsSdk.test.ts
Labels: size/S, type/tests, area/commons

#1765 chore(maintenance): enable `isolatedModules` and isolate cache
  .gitignore
  layers/tests/e2e/layerPublisher.class.test.functionCode.ts
  packages/batch/package.json
  packages/batch/tsconfig.esm.json
  packages/batch/tsconfig.json
  packages/commons/package.json
  packages/commons/src/types/LambdaInterface.ts
  packages/commons/src/types/awsSdk.ts
  packages/commons/src/types/index.ts
  packages/commons/src/types/middy.ts
  packages/commons/tsconfig.esm.json
  packages/commons/tsconfig.json
  packages/idempotency/package.json
  packages/idempotency/src/types/BasePersistenceLayer.ts
  packages/idempotency/src/types/ConfigServiceInterface.ts
  packages/idempotency/src/types/IdempotencyOptions.ts
  packages/idempotency/src/types/IdempotencyRecord.ts
  packages/idempotency/src/types/LRUCache.ts
  packages/idempotency/src/types/index.ts
  packages/idempotency/tsconfig.esm.json
  packages/idempotency/tsconfig.json
  packages/logger/package.json
  packages/logger/src/types/ConfigServiceInterface.ts
  packages/logger/src/types/Logger.ts
  packages/logger/src/types/index.ts
  packages/logger/tsconfig.esm.json
  packages/logger/tsconfig.json
  packages/metrics/package.json
  packages/metrics/src/types/ConfigServiceInterface.ts
  packages/metrics/src/types/Metrics.ts
  packages/metrics/src/types/MetricsInterface.ts
  packages/metrics/src/types/index.ts
  packages/metrics/tsconfig.esm.json
  packages/metrics/tsconfig.json
  packages/parameters/package.json
  packages/parameters/src/types/ConfigServiceInterface.ts
  packages/parameters/tsconfig.esm.json
  packages/parameters/tsconfig.json
  packages/testing/package.json
  packages/testing/src/types.ts
  packages/testing/tsconfig.esm.json
  packages/testing/tsconfig.json
  packages/tracer/package.json
  packages/tracer/src/types/ConfigServiceInterface.ts
  packages/tracer/src/types/ProviderServiceInterface.ts
  packages/tracer/src/types/Tracer.ts
  packages/tracer/src/types/index.ts
  packages/tracer/tsconfig.esm.json
  packages/tracer/tsconfig.json
  tsconfig.json
Labels: type/internal, size/L

#1768 chore(idempotency): refactor aws sdk init logic
  packages/idempotency/src/persistence/DynamoDBPersistenceLayer.ts
Labels: area/idempotency, size/S

#1769 build(tracer): bump `aws-xray-sdk-core` to latest
  package-lock.json
  packages/tracer/package.json
Labels: type/dependencies, size/XS

#1771 build(maintenance): bump `@aws-sdk/*` dev dependencies
  package-lock.json
  packages/idempotency/package.json
  packages/metrics/package.json
  packages/parameters/package.json
  packages/testing/package.json
  packages/tracer/package.json
Labels: type/dependencies, size/S
