Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2023-09, with the labels that each got.

#1666 chore(ci): pin npm 9.x in workflows
  .github/actions/cached-node-modules/action.yml
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
Labels: area/automation, size/XS

#1661 chore(ci): move e2e utils into testing
  layers/src/canary-stack.ts
  layers/src/layer-publisher-stack.ts
  layers/tests/e2e/layerPublisher.class.test.functionCode.ts
  layers/tests/e2e/layerPublisher.test.ts
  package-lock.json
  package.json
  packages/commons/tests/utils/e2eUtils.ts
  packages/idempotency/tests/e2e/makeHandlerIdempotent.test.FunctionCode.ts
  packages/idempotency/tests/e2e/makeHandlerIdempotent.test.ts
  packages/idempotency/tests/e2e/makeIdempotent.test.ts
  packages/idempotency/tests/helpers/idempotencyUtils.ts
  packages/idempotency/tests/helpers/resources.ts
  packages/logger/tests/e2e/basicFeatures.middy.test.FunctionCode.ts
  packages/logger/tests/e2e/basicFeatures.middy.test.ts
  packages/logger/tests/e2e/childLogger.manual.test.ts
  packages/logger/tests/e2e/constants.ts
  packages/logger/tests/e2e/logEventEnvVarSetting.middy.test.ts
  packages/logger/tests/e2e/sampleRate.decorator.test.ts
  packages/logger/tests/helpers/resources.ts
  packages/metrics/tests/e2e/basicFeatures.decorators.test.ts
  packages/metrics/tests/e2e/basicFeatures.manual.test.ts
  packages/metrics/tests/e2e/constants.ts
  packages/metrics/tests/helpers/resources.ts
  packages/parameters/tests/e2e/appConfigProvider.class.test.ts
  packages/parameters/tests/e2e/dynamoDBProvider.class.test.ts
  packages/parameters/tests/e2e/secretsProvider.class.test.ts
  packages/parameters/tests/e2e/ssmProvider.class.test.ts
  packages/parameters/tests/helpers/cdkAspectGrantAccess.ts
  packages/parameters/tests/helpers/parametersUtils.ts
  packages/parameters/tests/helpers/resources.ts
  packages/testing/src/TestInvocationLogs.ts
  packages/testing/src/TestStack.ts
  packages/testing/src/helpers.ts
  packages/testing/src/index.ts
  packages/testing/src/invokeTestFunction.ts
  packages/testing/src/resources/TestDynamodbTable.ts
  packages/testing/src/resources/TestNodejsFunction.ts
  packages/testing/src/resources/index.ts
  packages/testing/src/resources/types.ts
  packages/testing/tests/unit/TestInvocationLogs.test.ts
  packages/tracer/tests/e2e/allFeatures.decorator.test.ts
  packages/tracer/tests/e2e/allFeatures.manual.test.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.ts
  packages/tracer/tests/e2e/constants.ts
  packages/tracer/tests/helpers/populateEnvironmentVariables.ts
  packages/tracer/tests/helpers/resources.ts
  packages/tracer/tests/helpers/traceUtils.types.ts
  packages/tracer/tests/helpers/tracesUtils.ts
Labels: type/dependencies, size/XXL, type/tests, area/layers

#1669 chore(tests): address integration test flakiness
  .github/workflows/run-e2e-tests.yml
  layers/src/layer-publisher-stack.ts
  layers/tests/e2e/layerPublisher.test.ts
  package-lock.json
  packages/logger/tests/e2e/basicFeatures.middy.test.ts
  packages/parameters/tests/e2e/dynamoDBProvider.class.test.ts
  packages/parameters/tests/e2e/secretsProvider.class.test.ts
  packages/parameters/tests/e2e/ssmProvider.class.test.ts
  packages/parameters/tests/helpers/resources.ts
  packages/tracer/package.json
  packages/tracer/tests/e2e/allFeatures.decorator.test.ts
  packages/tracer/tests/e2e/allFeatures.manual.test.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.ts
  packages/tracer/tests/helpers/tracesUtils.ts
Labels: type/dependencies, area/automation, do-not-merge, need-issue, size/XL, type/tests, area/layers

#1671 fix(parameters): return type when options without transform is used
  packages/parameters/src/types/AppConfigProvider.ts
  packages/parameters/src/types/SecretsProvider.ts
Labels: type/bug, area/parameters, size/XS

#1672 chore(maintenance): adopt TypeScript 5.x
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  examples/cdk/package.json
  examples/sam/package.json
  package-lock.json
  package.json
  packages/testing/package.json
  tsconfig.json
Labels: area/documentation, type/dependencies, size/M

#1673 docs(batch): add section on how to trace batch processing
  docs/index.md
  docs/snippets/batch/advancedTracingRecordHandler.ts
  docs/snippets/batch/customPartialProcessor.ts
  docs/stylesheets/extra.css
  docs/utilities/batch.md
  docs/utilities/parameters.md
  mkdocs.yml
Labels: area/documentation, size/L

#1676 docs(idempotency): add batch integration to idempotency docs
  docs/snippets/idempotency/workingWithBatch.ts
  docs/utilities/idempotency.md
Labels: area/documentation, area/idempotency, size/L

#1679 improv(idempotency): expose record status & expiry config + make DynamoDB Client optional
  docs/utilities/idempotency.md
  package-lock.json
  packages/commons/tests/unit/userAgentMiddleware.test.ts
  packages/idempotency/README.md
  packages/idempotency/package.json
  packages/idempotency/src/IdempotencyHandler.ts
  packages/idempotency/src/constants.ts
  packages/idempotency/src/index.ts
  packages/idempotency/src/persistence/BasePersistenceLayer.ts
  packages/idempotency/src/persistence/DynamoDBPersistenceLayer.ts
  packages/idempotency/src/persistence/IdempotencyRecord.ts
  packages/idempotency/src/types/IdempotencyRecord.ts
  packages/idempotency/tests/unit/IdempotencyHandler.test.ts
  packages/idempotency/tests/unit/makeHandlerIdempotent.test.ts
  packages/idempotency/tests/unit/makeIdempotent.test.ts
  packages/idempotency/tests/unit/persistence/BasePersistenceLayer.test.ts
  packages/idempotency/tests/unit/persistence/DynamoDbPersistenceLayer.test.ts
  packages/idempotency/tests/unit/persistence/IdempotencyRecord.test.ts
  packages/parameters/tests/unit/AppConfigProvider.test.ts
  packages/parameters/tests/unit/SSMProvider.test.ts
  packages/parameters/tests/unit/getAppConfig.test.ts
Labels: area/documentation, type/dependencies, type/internal, area/idempotency, size/L, type/tests, type/enhancement

#1681 docs(idempotency): bring your own persistent store
  docs/snippets/idempotency/advancedBringYourOwnPersistenceLayer.ts
  docs/snippets/idempotency/advancedBringYourOwnPersistenceLayerProvider.ts
  docs/snippets/idempotency/advancedBringYourOwnPersistenceLayerUsage.ts
  docs/snippets/idempotency/makeIdempotentJmes.ts
  docs/snippets/idempotency/samples/makeIdempotentJmes.json
  docs/snippets/idempotency/samples/workingWIthIdempotencyRequiredKeyError.json
  docs/snippets/idempotency/samples/workingWIthIdempotencyRequiredKeySuccess.json
  docs/snippets/idempotency/samples/workingWithBatch.json
  docs/snippets/idempotency/templates/tableCdk.ts
  docs/snippets/idempotency/templates/tableSam.yaml
  docs/snippets/idempotency/templates/tableTerraform.tf
  docs/snippets/idempotency/types.ts
  docs/utilities/idempotency.md
  package-lock.json
Labels: area/documentation, type/dependencies, size/XL

#1685 chore(maintenance): bump dependencies + apply `peerDependencies`
  .github/scripts/release_patch_package_json.js
  docs/snippets/package.json
  examples/cdk/package.json
  examples/cdk/src/example-stack.ts
  examples/cdk/tests/tsconfig.json
  examples/cdk/tsconfig.es.json
  examples/sam/package.json
  examples/sam/template.yaml
  examples/sam/tests/tsconfig.json
  examples/sam/tsconfig.es.json
  layers/package.json
  package-lock.json
  packages/commons/package.json
  packages/commons/src/version.ts
  packages/idempotency/package.json
  packages/logger/package.json
  packages/metrics/package.json
  packages/parameters/package.json
  packages/testing/package.json
  packages/tracer/package.json
Labels: area/documentation, type/dependencies, area/automation, type/internal, size/L, area/commons

#1692 chore(tracer): mark createTracer helper function as deprecated
  packages/tracer/src/helpers.ts
Labels: area/tracer, size/XS

#1695 docs: upgrade mkdocs to fix dark mode custom highlight style
  docs/requirements.txt
  docs/stylesheets/extra.css
Labels: area/documentation, size/XS

#1696 docs: remove beta warning from batch and idempotency readme
  README.md
  docs/index.md
  packages/batch/README.md
  packages/commons/README.md
  packages/idempotency/README.md
Labels: area/documentation, type/internal, size/M

#1698 chore: bump version in commons for user agent
  packages/commons/src/version.ts
Labels: size/XS, area/commons

#1705 fix(maintenance): remove upper peer dependency Middy
  package-lock.json
  packages/idempotency/package.json
  packages/logger/package.json
  packages/metrics/package.json
  packages/parameters/package.json
  packages/tracer/package.json
Labels: type/bug, type/dependencies, size/S

#1704 docs(tracer): update annotation & metadata docs to include full code
  docs/core/tracer.md
  docs/snippets/tracer/putAnnotation.ts
  docs/snippets/tracer/putMetadata.ts
Labels: area/documentation, size/S

#1701 docs: typo for serverless framework
  .github/scripts/update_layer_arn.sh
  docs/index.md
Labels: area/documentation, area/automation, do-not-merge, size/XS

#1708 refactor(commons): aws sdk util + identity check
  package-lock.json
  packages/commons/package.json
  packages/commons/src/awsSdk/index.ts
  packages/commons/src/awsSdk/userAgentMiddleware.ts
  packages/commons/src/awsSdk/utils.ts
  packages/commons/src/index.ts
  packages/commons/src/types/awsSdk.ts
  packages/commons/src/userAgentMiddleware.ts
  packages/commons/tests/unit/awsSdk.test.ts
  packages/commons/tests/unit/userAgentMiddleware.test.ts
  packages/idempotency/src/persistence/DynamoDBPersistenceLayer.ts
  packages/idempotency/src/types/DynamoDBPersistence.ts
  packages/idempotency/tests/unit/persistence/DynamoDbPersistenceLayer.test.ts
  packages/parameters/src/appconfig/AppConfigProvider.ts
  packages/parameters/src/dynamodb/DynamoDBProvider.ts
  packages/parameters/src/secrets/SecretsProvider.ts
  packages/parameters/src/ssm/SSMProvider.ts
  packages/parameters/src/types/AppConfigProvider.ts
  packages/parameters/src/types/DynamoDBProvider.ts
  packages/parameters/src/types/SSMProvider.ts
  packages/parameters/src/types/SecretsProvider.ts
  packages/parameters/tests/unit/AppConfigProvider.test.ts
  packages/parameters/tests/unit/DynamoDBProvider.test.ts
  packages/parameters/tests/unit/SSMProvider.test.ts
  packages/parameters/tests/unit/SecretsProvider.test.ts
  packages/testing/package.json
  packages/testing/src/invokeTestFunction.ts
  packages/tracer/tests/unit/ProviderService.test.ts
Labels: type/dependencies, area/idempotency, area/parameters, size/XL, type/tests, type/enhancement, area/commons

#1710 chore(layers): bundle assets from source when testing
  .github/scripts/setup_tmp_layer_files.sh
  .github/workflows/publish_layer.yml
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .github/workflows/run-e2e-tests.yml
  layers/README.md
  layers/bin/layers.ts
  layers/package.json
  layers/src/canary-stack.ts
  layers/src/layer-publisher-stack.ts
  layers/tests/e2e/layerPublisher.class.test.functionCode.ts
  layers/tests/e2e/layerPublisher.test.ts
  layers/tests/unit/layer-publisher.test.ts
Labels: type/dependencies, area/automation, type/internal, size/L, type/tests, area/layers

#1712 chore(layers): add Idempotency, Batch, and Parameters to layer
  layers/src/canary-stack.ts
  layers/src/layer-publisher-stack.ts
  layers/tests/e2e/layerPublisher.class.test.functionCode.ts
  layers/tests/e2e/layerPublisher.test.ts
Labels: size/M, type/tests, area/layers

#1715 improv(commons): add number key type to JSONObject type
  packages/commons/src/types/utils.ts
Labels: size/XS, type/enhancement, area/commons

#1720 feat(layers): add `arm64` to integration test matrix
  .github/workflows/run-e2e-tests.yml
  packages/idempotency/tests/e2e/constants.ts
  packages/logger/tests/e2e/constants.ts
  packages/metrics/tests/e2e/constants.ts
  packages/parameters/tests/e2e/constants.ts
  packages/parameters/tests/helpers/resources.ts
  packages/testing/src/constants.ts
  packages/testing/src/helpers.ts
  packages/testing/src/resources/TestNodejsFunction.ts
  packages/tracer/tests/e2e/constants.ts
Labels: area/automation, size/M, type/feature, type/tests

#1719 chore(ci): create v2 alpha release workflow
  .github/workflows/make-v2-release.yml
Labels: area/automation, size/M

#1716 feat(tracer): add try/catch logic to decorator and middleware close
  packages/tracer/src/Tracer.ts
  packages/tracer/src/middleware/middy.ts
  packages/tracer/src/provider/ProviderService.ts
  packages/tracer/tests/unit/Tracer.test.ts
  packages/tracer/tests/unit/middy.test.ts
Labels: area/tracer, size/L, type/feature, type/tests

#1723 feat(idempotency): add idempotency decorator
  docs/snippets/idempotency/idempotentDecoratorBase.ts
  docs/utilities/idempotency.md
  packages/idempotency/README.md
  packages/idempotency/src/idempotencyDecorator.ts
  packages/idempotency/src/index.ts
  packages/idempotency/tests/e2e/idempotentDecorator.test.FunctionCode.ts
  packages/idempotency/tests/e2e/idempotentDecorator.test.ts
  packages/idempotency/tests/unit/idempotencyDecorator.test.ts
Labels: area/documentation, type/internal, area/idempotency, size/XXL, type/feature, type/tests

#1724 docs(idempotency): address comments
  docs/snippets/idempotency/idempotentDecoratorBase.ts
  docs/utilities/idempotency.md
  packages/idempotency/README.md
  packages/idempotency/src/idempotencyDecorator.ts
Labels: area/documentation, type/internal, area/idempotency, size/M, type/tests
