Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2024-06, with the labels that each got.

#2570 fix(idempotency): deep sort payload during hashing
  packages/idempotency/src/deepSort.ts
  packages/idempotency/src/persistence/BasePersistenceLayer.ts
  packages/idempotency/tests/unit/deepSort.test.ts
Labels: on-hold, idempotency, size/L, feature, tests

#2590 feat(batch): add option to continue processing other group IDs on failure in `SqsFifoPartialProcessor`
  docs/utilities/batch.md
  examples/snippets/batch/gettingStartedSQSFifoSkipGroupOnError.ts
  packages/batch/src/SqsFifoPartialProcessor.ts
  packages/batch/src/errors.ts
  packages/batch/src/index.ts
  packages/batch/src/processPartialResponseSync.ts
  packages/batch/src/types.ts
  packages/batch/tests/helpers/factories.ts
  packages/batch/tests/unit/SqsFifoPartialProcessor.test.ts
Labels: documentation, size/L, feature, tests, batch

#2622 test(idempotency): fix integration tests
  packages/idempotency/tests/e2e/makeIdempotent.test.ts
Labels: size/S, tests

#2630 docs(tracer): add ESM instructions to tracer usage docs
  docs/core/tracer.md
Labels: documentation, size/M

#2643 chore(ci): revert - bump version to 2.2.0 (#2639)
  CHANGELOG.md
  examples/app/CHANGELOG.md
  examples/app/package.json
  examples/snippets/CHANGELOG.md
  examples/snippets/package.json
  layers/CHANGELOG.md
  layers/package.json
  lerna.json
  package-lock.json
  packages/batch/CHANGELOG.md
  packages/batch/package.json
  packages/commons/CHANGELOG.md
  packages/commons/package.json
  packages/commons/src/version.ts
  packages/idempotency/CHANGELOG.md
  packages/idempotency/package.json
  packages/jmespath/CHANGELOG.md
  packages/jmespath/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/metrics/CHANGELOG.md
  packages/metrics/package.json
  packages/parameters/CHANGELOG.md
  packages/parameters/package.json
  packages/parser/CHANGELOG.md
  packages/parser/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/tracer/CHANGELOG.md
  packages/tracer/package.json
Labels: documentation, dependencies, internal, size/L, commons, skip-changelog

#2646 chore(deps-dev): pin lerna to 8.1.2
  package-lock.json
  package.json
Labels: dependencies, size/XS

#2408 feat(logger): add `clearState()` method
  packages/logger/src/Logger.ts
  packages/logger/src/middleware/middy.ts
  packages/logger/src/types/Logger.ts
  packages/logger/tests/unit/Logger.test.ts
  packages/logger/tests/unit/middleware/middy.test.ts
Labels: logger, size/XXL, feature, tests

#2673 fix(logger): reset log level after sampling refresh
  packages/logger/src/Logger.ts
  packages/logger/tests/e2e/sampleRate.decorator.test.FunctionCode.ts
  packages/logger/tests/unit/Logger.test.ts
Labels: bug, logger, size/S, tests

#2685 docs(parser): add api docs
  package-lock.json
  package.json
  packages/parser/src/errors.ts
  packages/parser/src/parserDecorator.ts
  packages/parser/src/schemas/alb.ts
  packages/parser/src/schemas/apigw.ts
  packages/parser/src/schemas/cloudformation-custom-resource.ts
  packages/parser/src/schemas/cloudwatch.ts
  packages/parser/src/schemas/dynamodb.ts
  packages/parser/src/schemas/eventbridge.ts
  packages/parser/src/schemas/kafka.ts
  packages/parser/src/schemas/kinesis-firehose.ts
  packages/parser/src/schemas/kinesis.ts
  packages/parser/src/schemas/lambda.ts
  packages/parser/src/schemas/s3.ts
  packages/parser/src/schemas/ses.ts
  packages/parser/src/schemas/sns.ts
  packages/parser/src/schemas/sqs.ts
  packages/parser/src/schemas/vpc-lattice.ts
  packages/parser/src/schemas/vpc-latticev2.ts
  packages/parser/src/types/index.ts
  packages/parser/src/types/parser.ts
  packages/parser/src/types/schema.ts
  packages/parser/tests/events/kinesisFirehoseKinesisEvent.json
  packages/parser/tests/events/kinesisFirehoseSQSEvent.json
  packages/parser/tests/events/lambdaFunctionUrlEvent.json
  packages/parser/tests/events/s3EventBridgeNotificationObjectCreatedEvent.json
  packages/parser/tests/events/s3SqsEvent.json
  packages/parser/tests/events/snsSqsEvent.json
  packages/parser/tests/events/vpcLatticeV2Event.json
  packages/parser/typedoc.json
  typedoc.json
Labels: documentation, dependencies, automation, internal, size/XXL, tests, parser

#2696 docs(logger): rework working with keys doc sections
  docs/core/logger.md
  examples/snippets/logger/appendAndRemoveKeys.ts
  examples/snippets/logger/appendKeys.ts
  examples/snippets/logger/clearStateDecorator.ts
  examples/snippets/logger/clearStateMiddy.ts
  examples/snippets/logger/persistentKeys.ts
  examples/snippets/logger/persistentKeysConstructor.ts
  examples/snippets/logger/removeKeys.ts
  examples/snippets/logger/removePersistentKeys.ts
  examples/snippets/logger/resetKeys.ts
  examples/snippets/logger/resetKeysDecorator.ts
  examples/snippets/logger/resetKeysMiddy.ts
  packages/logger/src/Logger.ts
  packages/logger/src/middleware/middy.ts
  packages/logger/src/types/Logger.ts
  packages/logger/tests/unit/Logger.test.ts
Labels: documentation, logger, size/XL, tests

#2700 chore(layers): downgrade aws cdk to 2.145.0
  examples/app/package.json
  layers/package.json
  package-lock.json
  packages/testing/package.json
Labels: documentation, dependencies, size/S
