Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2024-11, with the labels that each got.

#3287 chore: fix relative import regression
  packages/parser/src/envelopes/apigw.ts
  packages/parser/src/envelopes/envelope.ts
Labels: size/XS, parser

#3285 test(maintenance): switch tracer to vitest
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .husky/pre-push
  packages/logger/tests/unit/initializeLogger.test.ts
  packages/testing/src/setupEnv.ts
  packages/tracer/jest.config.cjs
  packages/tracer/package.json
  packages/tracer/src/Tracer.ts
  packages/tracer/tests/e2e/decorator.test.ts
  packages/tracer/tests/e2e/manual.test.ts
  packages/tracer/tests/e2e/middy.test.ts
  packages/tracer/tests/helpers/populateEnvironmentVariables.ts
  packages/tracer/tests/unit/EnvironmentVariablesService.test.ts
  packages/tracer/tests/unit/ProviderService.test.ts
  packages/tracer/tests/unit/Tracer.test.ts
  packages/tracer/tests/unit/middy.test.ts
  packages/tracer/vitest.config.ts
  vitest.config.ts
Labels: dependencies, automation, tracer, internal, size/XXL, tests

#3292 test(maintenance): switch layers to vitest
  layers/jest.config.js
  layers/package.json
  layers/tests/e2e/layerPublisher.test.ts
  layers/tests/unit/layer-publisher.test.ts
  layers/vitest.config.ts
  packages/testing/src/TestInvocationLogs.ts
  vitest.workspace.ts
Labels: dependencies, size/L, tests

#3057 feat(metrics): add ability to pass custom logger
  layers/tests/e2e/layerPublisher.class.test.functionCode.ts
  layers/tests/e2e/layerPublisher.test.ts
  packages/commons/src/types/GenericLogger.ts
  packages/commons/src/types/index.ts
  packages/metrics/src/Metrics.ts
  packages/metrics/src/types/Metrics.ts
  packages/metrics/tests/unit/Metrics.test.ts
  packages/metrics/tests/unit/middleware/middy.test.ts
  packages/metrics/tests/unit/repro.test.ts
Labels: metrics, size/L, feature, tests, commons

#3293 chore(parser): fix type inference for result types
  packages/parser/src/envelopes/apigw.ts
  packages/parser/src/envelopes/apigwv2.ts
  packages/parser/src/envelopes/cloudwatch.ts
  packages/parser/src/envelopes/dynamodb.ts
  packages/parser/src/envelopes/envelope.ts
  packages/parser/src/envelopes/event-bridge.ts
  packages/parser/src/envelopes/kafka.ts
  packages/parser/src/envelopes/kinesis-firehose.ts
  packages/parser/src/envelopes/kinesis.ts
  packages/parser/src/envelopes/lambda.ts
  packages/parser/src/envelopes/sns.ts
  packages/parser/src/envelopes/sqs.ts
  packages/parser/src/envelopes/vpc-lattice.ts
  packages/parser/src/envelopes/vpc-latticev2.ts
  packages/parser/src/middleware/parser.ts
  packages/parser/src/types/envelope.ts
  packages/parser/src/types/parser.ts
  packages/parser/tests/unit/types.test.ts
Labels: size/L, tests, parser

#3304 test(parameters): migrate tests to vitest
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .husky/pre-push
  packages/parameters/jest.config.cjs
  packages/parameters/package.json
  packages/parameters/src/appconfig/AppConfigProvider.ts
  packages/parameters/src/secrets/SecretsProvider.ts
  packages/parameters/tests/e2e/appConfigProvider.class.test.ts
  packages/parameters/tests/e2e/dynamoDBProvider.class.test.ts
  packages/parameters/tests/e2e/secretsProvider.class.test.ts
  packages/parameters/tests/e2e/ssmProvider.class.test.ts
  packages/parameters/tests/helpers/populateEnvironmentVariables.ts
  packages/parameters/tests/tsconfig.json
  packages/parameters/tests/types/returnTypes.test.ts
  packages/parameters/tests/unit/AppConfigProvider.test.ts
  packages/parameters/tests/unit/BaseProvider.test.ts
  packages/parameters/tests/unit/DynamoDBProvider.test.ts
  packages/parameters/tests/unit/EnvironmentVariablesService.test.ts
  packages/parameters/tests/unit/SSMProvider.test.ts
  packages/parameters/tests/unit/SecretsProvider.test.ts
  packages/parameters/tests/unit/getAppConfig.test.ts
  packages/parameters/tests/unit/getParameter.test.ts
  packages/parameters/tests/unit/getParameters.test.ts
  packages/parameters/tests/unit/getParametersByName.test.ts
  packages/parameters/tests/unit/getSecret.test.ts
  packages/parameters/tests/unit/setParameter.test.ts
  packages/parameters/vitest.config.ts
  vitest.config.ts
Labels: dependencies, automation, internal, parameters, size/XXL, tests

#3325 fix(parser): event type literal for selfManagedKafka
  .husky/pre-push
  packages/parser/src/schemas/kafka.ts
  packages/parser/tests/events/kafkaEventSelfManaged.json
Labels: bug, internal, size/XS, tests, parser

#3319 fix(metrics): skip empty string dimension values
  packages/metrics/src/Metrics.ts
  packages/metrics/tests/unit/Metrics.test.ts
Labels: bug, metrics, size/L, tests

#3327 chore: migrate dev environment to nodejs22
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/make-release.yml
  .github/workflows/make-version.yml
  .github/workflows/publish-package.yml
  .github/workflows/publish_layer.yml
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .github/workflows/reusable_deploy_layer_stack.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  .gitpod.Dockerfile
  .nvmrc
  docs/contributing/setup.md
  docs/contributing/testing.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/index.md
  docs/upgrade.md
  examples/app/template.yaml
  examples/snippets/batch/templates/sam/dynamodb.yaml
  examples/snippets/batch/templates/sam/kinesis.yaml
  examples/snippets/batch/templates/sam/sqs.yaml
  examples/snippets/idempotency/templates/tableSam.yaml
  layers/package.json
  layers/src/layer-publisher-stack.ts
  layers/tests/unit/layer-publisher.test.ts
  packages/batch/package.json
  packages/event-handler/package.json
  packages/idempotency/package.json
  packages/logger/package.json
  packages/metrics/package.json
  packages/parameters/package.json
  packages/parser/package.json
  packages/testing/src/constants.ts
  packages/testing/src/helpers.ts
  packages/testing/src/resources/TestNodejsFunction.ts
  packages/tracer/package.json
Labels: documentation, dependencies, automation, internal, size/L, tests, layers

#3328 feat(parser): add schema for DynamoDB - Kinesis Stream event
  docs/utilities/parser.md
  packages/parser/src/schemas/dynamodb.ts
  packages/parser/src/schemas/index.ts
  packages/parser/src/schemas/kinesis.ts
  packages/parser/src/types/index.ts
  packages/parser/src/types/schema.ts
  packages/parser/tests/events/kinesis/dynamodb-stream.json
  packages/parser/tests/events/kinesis/firehose-put.json
  packages/parser/tests/events/kinesis/firehose-sqs.json
  packages/parser/tests/events/kinesis/firehose.json
  packages/parser/tests/events/kinesis/stream-cloudwatch-logs.json
  packages/parser/tests/events/kinesis/stream-one-record.json
  packages/parser/tests/events/kinesis/stream.json
  packages/parser/tests/unit/envelopes/kinesis-firehose.test.ts
  packages/parser/tests/unit/envelopes/kinesis.test.ts
  packages/parser/tests/unit/schema/kinesis.test.ts
Labels: documentation, size/L, feature, tests, parser

#3339 chore(parser): return correct type for safeParse in envelopes
  packages/parser/src/envelopes/envelope.ts
  packages/parser/src/envelopes/event-bridge.ts
  packages/parser/src/envelopes/lambda.ts
  packages/parser/src/envelopes/vpc-lattice.ts
  packages/parser/src/envelopes/vpc-latticev2.ts
Labels: size/S, parser

#3347 chore(maintenance): remove Gitpod-specific configs
  .gitpod.Dockerfile
  .gitpod.yml
Labels: internal, size/S

#3301 feat(parser): Add appsync resolver event Zod schemas
  packages/parser/package.json
  packages/parser/src/schemas/appsync.ts
  packages/parser/src/schemas/index.ts
  packages/parser/src/types/index.ts
  packages/parser/src/types/schema.ts
  packages/parser/tests/events/appsync/cognito-identity-group.json
  packages/parser/tests/events/appsync/cognito-identity-null-group.json
  packages/parser/tests/events/appsync/custom-domain-name.json
  packages/parser/tests/events/appsync/iam-identity-cognito.json
  packages/parser/tests/events/appsync/iam-identity-no-cognito.json
  packages/parser/tests/events/appsync/invalid.json
  packages/parser/tests/events/appsync/lambda-identity.json
  packages/parser/tests/events/appsync/no-identity.json
  packages/parser/tests/events/appsync/null-prev.json
  packages/parser/tests/events/appsync/null-source.json
  packages/parser/tests/events/appsync/oidc-identity.json
  packages/parser/tests/unit/schema/appsync.test.ts
Labels: dependencies, size/XXL, tests, parser

#3352 feat(metrics): warn when overwriting dimension
  packages/metrics/src/Metrics.ts
  packages/metrics/tests/unit/Metrics.test.ts
Labels: metrics, size/M, feature, tests

#3351 feat(metrics): disable metrics with `POWERTOOLS_METRICS_DISABLED`
  packages/commons/src/config/EnvironmentVariablesService.ts
  packages/commons/tests/unit/EnvironmentVariablesService.test.ts
  packages/metrics/src/Metrics.ts
  packages/metrics/src/config/EnvironmentVariablesService.ts
  packages/metrics/tests/unit/Metrics.test.ts
Labels: metrics, size/L, feature, tests, commons

#3373 chore: move RFCs to discussions
  .github/DISCUSSION_TEMPLATE/rfcs.yml
  docs/contributing/getting_started.md
  docs/maintainers.md
  docs/roadmap.md
Labels: documentation, internal, size/M

#3379 chore: remove jest from codebase
  .devcontainer/devcontainer.json
  .github/boring-cyborg.yml
  .github/dependabot.yml
  .github/workflows/quality_check.yml
  .npmignore
  docs/contributing/testing.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/utilities/idempotency.md
  docs/utilities/parameters.md
  examples/app/.gitignore
  examples/snippets/batch/testingYourCode.ts
  examples/snippets/idempotency/workingWithLocalDynamoDB.test.ts
  examples/snippets/logger/unitTesting.ts
  examples/snippets/metrics/testingMetrics.ts
  examples/snippets/package.json
  examples/snippets/parameters/testingYourCodeClearCache.ts
  examples/snippets/parameters/testingYourCodeClientMock.ts
  examples/snippets/parameters/testingYourCodeFunctionsJestMock.ts
  examples/snippets/parameters/testingYourCodeFunctionsMock.ts
  examples/snippets/parameters/testingYourCodeProvidersMock.ts
  layers/.gitignore
  layers/cdk.json
  layers/package.json
  package-lock.json
  package.json
  packages/logger/tests/helpers/setupEnv.ts
  packages/parameters/package.json
  packages/testing/package.json
  packages/testing/src/setupEnv.ts
Labels: documentation, dependencies, automation, internal, size/XL, tests, layers

#3368 chore: add @middy/core v6 as peer dependency
  package-lock.json
  package.json
  packages/idempotency/package.json
  packages/idempotency/tests/e2e/makeHandlerIdempotent.test.FunctionCode.ts
  packages/logger/package.json
  packages/metrics/package.json
  packages/parameters/package.json
  packages/parser/package.json
  packages/tracer/package.json
Labels: dependencies, size/S, tests

#3377 feat(logger): change visibility to protected
  packages/logger/src/Logger.ts
Labels: logger, size/XS

#3387 docs: multiple minor improvements
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/index.md
  docs/overrides/main.html
  docs/upgrade.md
  docs/utilities/idempotency.md
  docs/utilities/parser.md
  examples/snippets/metrics/customLogger.ts
  examples/snippets/metrics/testingMetrics.ts
  mkdocs.yml
Labels: documentation, size/L
