Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2024-08, with the labels that each got.

#2870 chore(maintenance): add LocalStack customer reference
  README.md
  docs/index.md
  docs/media/logos/localstack.svg
  packages/batch/README.md
  packages/commons/README.md
  packages/event-handler/README.md
  packages/idempotency/README.md
  packages/jmespath/README.md
  packages/logger/README.md
  packages/metrics/README.md
  packages/parameters/README.md
  packages/parser/README.md
  packages/tracer/README.md
Labels: documentation, internal, size/L

#2865 fix(logger): invalid time zone environment variables leads to error
  packages/logger/src/formatter/LogFormatter.ts
  packages/logger/tests/unit/formatter/PowertoolsLogFormatter.test.ts
Labels: bug, logger, size/S, tests

#2876 chore(ci): extract cached-node-modules action
  .github/actions/cached-node-modules/action.yml
  .github/workflows/make-release.yml
  .github/workflows/make-version.yml
  .github/workflows/publish_layer.yml
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .github/workflows/reusable_deploy_layer_stack.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
Labels: automation, size/M

#2899 chore(commons): extract lru-cache into commons
  packages/commons/package.json
  packages/commons/src/LRUCache.ts
  packages/commons/src/types/LRUCache.ts
  packages/commons/tests/unit/LRUCache.test.ts
  packages/commons/typedoc.json
  packages/idempotency/src/persistence/BasePersistenceLayer.ts
Labels: dependencies, idempotency, size/M, tests, commons

#2901 feat(parser): add helper functions to transform JSON stringified payloads
  docs/core/event-handler/api-gateway.md
  docs/utilities/parser.md
  examples/snippets/parser/exampleAlbPayload.json
  examples/snippets/parser/exampleSqsPayload.json
  examples/snippets/parser/extendAlbSchema.ts
  examples/snippets/parser/extendSqsSchema.ts
  packages/parser/package.json
  packages/parser/src/helpers.ts
  packages/parser/tests/unit/helpers.test.ts
Labels: documentation, dependencies, size/L, feature, tests, parser

#2904 feat(metrics): add unit None for CloudWatch EMF Metrics
  packages/metrics/src/constants.ts
Labels: metrics, size/XS, feature

#2917 docs(idempotency): review API docs & README
  .markdownlintignore
  docs/utilities/idempotency.md
  examples/snippets/idempotency/workingWithLocalDynamoDB.test.ts
  examples/snippets/idempotency/workingWithLocalDynamoDB.ts
  package.json
  packages/idempotency/README.md
  packages/idempotency/src/IdempotencyConfig.ts
  packages/idempotency/src/IdempotencyHandler.ts
  packages/idempotency/src/idempotencyDecorator.ts
  packages/idempotency/src/makeIdempotent.ts
  packages/idempotency/src/persistence/BasePersistenceLayer.ts
  packages/idempotency/src/persistence/DynamoDBPersistenceLayer.ts
  packages/idempotency/src/persistence/IdempotencyRecord.ts
  packages/idempotency/src/types/DynamoDBPersistence.ts
  packages/idempotency/src/types/IdempotencyOptions.ts
  packages/idempotency/src/types/IdempotencyRecord.ts
  packages/idempotency/src/types/index.ts
  packages/idempotency/typedoc.json
Labels: documentation, dependencies, internal, idempotency, size/L

#2916 fix(idempotency): include cause in idempotency persistence layer error
  packages/idempotency/src/errors.ts
  packages/idempotency/tests/unit/IdempotencyHandler.test.ts
  packages/idempotency/tests/unit/makeIdempotent.test.ts
Labels: bug, idempotency, size/M, tests

#2902 feat(logger): introduce loglevel trace #1589
  docs/core/logger.md
  packages/logger/src/Logger.ts
  packages/logger/src/constants.ts
  packages/logger/src/types/Logger.ts
  packages/logger/tests/unit/Logger.test.ts
Labels: documentation, dependencies, logger, size/L, feature, tests

#2933 chore(layers): deploy Lambda layers in `ap-south-2` and `me-central-1`
  .github/workflows/reusable_deploy_layer_stack.yml
  docs/index.md
Labels: documentation, automation, size/XS

#2924 docs(logger): add logEventIfEnabled() docs
  docs/core/logger.md
  examples/snippets/logger/eventMiddy.ts
  examples/snippets/logger/logEventDecorator.ts
  examples/snippets/logger/logEventManual.ts
  examples/snippets/logger/logEventMiddy.ts
  examples/snippets/logger/samples/logEventInput.json
  examples/snippets/logger/samples/logEventOutput.json
  packages/logger/src/Logger.ts
Labels: documentation, logger, size/L

#2935 chore(ci): add vitest to workspace
  package-lock.json
  package.json
Labels: dependencies, size/XS

#2946 improv(parser): correctly infer helper return type
  packages/parser/src/helpers.ts
  packages/parser/tests/unit/helpers.test.ts
Labels: size/L, tests, enhancement, parser

#2938 test(batch): migrate unit tests to Vitest
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .husky/pre-push
  packages/batch/jest.config.cjs
  packages/batch/package.json
  packages/batch/src/BasePartialProcessor.ts
  packages/batch/tests/helpers/populateEnvironmentVariables.ts
  packages/batch/tests/unit/BasePartialProcessor.test.ts
  packages/batch/tests/unit/BatchProcessor.test.ts
  packages/batch/tests/unit/BatchProcessorSync.test.ts
  packages/batch/tests/unit/SqsFifoPartialProcessor.test.ts
  packages/batch/tests/unit/processPartialResponse.test.ts
  packages/batch/tests/unit/processPartialResponseSync.test.ts
  packages/batch/vitest.config.ts
  vitest.config.ts
  vitest.workspace.ts
Labels: dependencies, automation, internal, size/L, tests, batch

#2942 test(logger): simplify unit tests structure
  packages/logger/jest.config.cjs
  packages/logger/src/constants.ts
  packages/logger/src/index.ts
  packages/logger/tests/helpers/populateEnvironmentVariables.ts
  packages/logger/tests/helpers/setupEnv.ts
  packages/logger/tests/unit/EnvironmentVariablesService.test.ts
  packages/logger/tests/unit/Logger.test.ts
  packages/logger/tests/unit/configFromEnv.test.ts
  packages/logger/tests/unit/formatter/PowertoolsLogFormatter.test.ts
  packages/logger/tests/unit/formatters.test.ts
  packages/logger/tests/unit/initializeLogger.test.ts
  packages/logger/tests/unit/injectLambdaContext.test.ts
  packages/logger/tests/unit/logEvent.test.ts
  packages/logger/tests/unit/logLevels.test.ts
  packages/logger/tests/unit/middleware/middy.test.ts
  packages/logger/tests/unit/sampling.test.ts
  packages/logger/tests/unit/workingWithkeys.test.ts
Labels: logger, size/XXL, tests

#2977 chore(docs): load self hosted mermaid.js
  mkdocs.yml
Labels: documentation, size/XS

#2983 docs(metrics): review API docs & README
  packages/idempotency/README.md
  packages/metrics/README.md
  packages/metrics/src/Metrics.ts
  packages/metrics/src/config/EnvironmentVariablesService.ts
  packages/metrics/src/middleware/middy.ts
  packages/metrics/typedoc.json
Labels: metrics, internal, size/L

#2984 docs(logger): review API docs & README for Logger
  packages/logger/README.md
  packages/logger/src/Logger.ts
  packages/logger/src/config/EnvironmentVariablesService.ts
  packages/logger/src/formatter/LogFormatter.ts
  packages/logger/src/formatter/LogItem.ts
  packages/logger/src/formatter/PowertoolsLogFormatter.ts
  packages/logger/src/types/ConfigServiceInterface.ts
  packages/logger/src/types/Log.ts
  packages/logger/src/types/Logger.ts
  packages/logger/src/types/index.ts
  packages/logger/typedoc.json
Labels: logger, internal, size/XL

#2995 chore(docs): remove markdownlint exclusions
  .markdownlintignore
  package.json
  packages/commons/README.md
  packages/jmespath/README.md
Labels: dependencies, internal, size/S

#3000 docs: removed unnecessary exports previously added to api docs
  examples/app/functions/commons/helpers/scan-items.ts
  packages/batch/src/BasePartialBatchProcessor.ts
  packages/batch/src/BasePartialProcessor.ts
  packages/commons/src/LRUCache.ts
  packages/commons/src/config/EnvironmentVariablesService.ts
  packages/commons/src/middleware/cleanupMiddlewares.ts
  packages/commons/src/types/ConfigServiceInterface.ts
  packages/commons/src/types/middy.ts
  packages/commons/typedoc.json
  packages/idempotency/src/config/EnvironmentVariablesService.ts
  packages/idempotency/src/types/DynamoDBPersistence.ts
  packages/idempotency/src/types/IdempotencyOptions.ts
  packages/jmespath/src/PowertoolsFunctions.ts
  packages/logger/src/types/Logger.ts
  packages/logger/src/types/index.ts
  packages/logger/typedoc.json
  packages/parameters/src/base/transformValue.ts
  packages/parser/src/middleware/parser.ts
  packages/parser/src/types/index.ts
  packages/tracer/src/provider/ProviderService.ts
  typedoc.json
Labels: documentation, logger, tracer, idempotency, parameters, size/M, commons, batch, parser
