Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2024-09, with the labels that each got.

#3012 test(maintenance): improve assertions on traces & logs
  .github/dependabot.yml
  package-lock.json
  packages/idempotency/tests/e2e/idempotentDecorator.test.ts
  packages/idempotency/tests/e2e/makeHandlerIdempotent.test.ts
  packages/idempotency/tests/e2e/makeIdempotent.test.ts
  packages/testing/package.json
  packages/testing/src/TestInvocationLogs.ts
  packages/testing/src/types.ts
  packages/testing/src/xray-traces-utils.ts
  packages/tracer/package.json
  packages/tracer/tests/e2e/allFeatures.decorator.test.ts
  packages/tracer/tests/e2e/allFeatures.manual.test.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.ts
  packages/tracer/tests/helpers/FunctionSegmentNotDefinedError.ts
  packages/tracer/tests/helpers/invokeAllTests.ts
  packages/tracer/tests/helpers/traceAssertions.ts
  packages/tracer/tests/helpers/tracesUtils.ts
Labels: dependencies, size/XXL, tests

#3019 docs(maintenance): mark 1.x as EoL on docs
  docs/overrides/main.html
  docs/upgrade.md
Labels: documentation, size/XS

#3030 docs(maintenance): fix install instructions & switch test runner
  examples/app/README.md
  examples/app/cdk/example-stack.ts
  examples/app/jest.config.cjs
  examples/app/package.json
  examples/app/tests/cdk-app.test.ts
  examples/app/vitest.config.ts
  package-lock.json
  vitest.workspace.ts
Labels: documentation, dependencies, automation, size/L

#2736 feat(logger): introduce log key reordering functionality
  docs/core/logger.md
  examples/snippets/logger/reorderLogKeys.ts
  examples/snippets/logger/reorderLogKeysOutput.json
  packages/logger/src/Logger.ts
  packages/logger/src/formatter/PowertoolsLogFormatter.ts
  packages/logger/src/types/Log.ts
  packages/logger/src/types/Logger.ts
  packages/logger/tests/unit/formatters.test.ts
  packages/logger/tests/unit/initializeLogger.test.ts
Labels: documentation, logger, size/L, feature, tests

#3031 test(tracer): streamline e2e test structure
  package-lock.json
  packages/testing/src/types.ts
  packages/testing/src/xray-traces-utils.ts
  packages/tracer/package.json
  packages/tracer/tests/e2e/allFeatures.decorator.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.decorator.test.ts
  packages/tracer/tests/e2e/allFeatures.manual.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.manual.test.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.functionCode.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.ts
  packages/tracer/tests/e2e/constants.ts
  packages/tracer/tests/e2e/decorator.test.functionCode.ts
  packages/tracer/tests/e2e/decorator.test.ts
  packages/tracer/tests/e2e/manual.test.functionCode.ts
  packages/tracer/tests/e2e/manual.test.ts
  packages/tracer/tests/e2e/middy.test.functionCode.ts
  packages/tracer/tests/e2e/middy.test.ts
  packages/tracer/tests/helpers/invokeAllTests.ts
  packages/tracer/tests/helpers/resources.ts
Labels: dependencies, size/XXL, tests

#3014 chore(maintenance): switch to unmanaged log group for functions
  packages/testing/src/resources/TestNodejsFunction.ts
  packages/testing/src/xray-traces-utils.ts
Labels: blocked, size/S, tests

#3039 chore(docs): fix spelling issues
  CONTRIBUTING.md
  docs/core/logger.md
  docs/upgrade.md
  docs/utilities/parameters.md
  docs/utilities/parser.md
  docs/we_made_this.md
Labels: documentation, internal, size/S

#2955 fix(tracer): include request pathname in trace data
  packages/tracer/src/provider/ProviderService.ts
  packages/tracer/src/provider/utilities.ts
  packages/tracer/tests/e2e/middy.test.ts
  packages/tracer/tests/helpers/mockRequests.ts
  packages/tracer/tests/unit/ProviderService.test.ts
Labels: bug, tracer, size/L, tests

#3020 feat(parameters): adds setParameter function to store SSM parameters
  docs/utilities/parameters.md
  examples/snippets/parameters/setParameter.ts
  examples/snippets/parameters/setParameterOverwrite.ts
  packages/parameters/src/errors.ts
  packages/parameters/src/ssm/SSMProvider.ts
  packages/parameters/src/ssm/index.ts
  packages/parameters/src/ssm/setParameter.ts
  packages/parameters/src/types/SSMProvider.ts
  packages/parameters/tests/e2e/ssmProvider.class.test.functionCode.ts
  packages/parameters/tests/e2e/ssmProvider.class.test.ts
  packages/parameters/tests/unit/SSMProvider.test.ts
  packages/parameters/tests/unit/setParameter.test.ts
Labels: documentation, parameters, size/XL, feature, tests

#3047 improv(parameters): include cause in set parameter error
  packages/parameters/src/errors.ts
  packages/parameters/src/ssm/SSMProvider.ts
  packages/parameters/src/ssm/setParameter.ts
Labels: parameters, size/M, enhancement

#3044 improv(metrics): avoid emitting empty EMF metric
  packages/metrics/src/Metrics.ts
  packages/metrics/tests/unit/Metrics.test.ts
  packages/metrics/tests/unit/middleware/middy.test.ts
  packages/metrics/tests/unit/repro.test.ts
Labels: metrics, size/L, tests, enhancement

#3055 docs(idempotency): add callout about undefined early return
  docs/utilities/idempotency.md
  packages/idempotency/src/middleware/makeHandlerIdempotent.ts
Labels: documentation, tracer, idempotency, size/S

#3056 docs(tracer): clarify escape hatch mechanism
  docs/core/tracer.md
  packages/tracer/src/provider/ProviderService.ts
  packages/tracer/typedoc.json
Labels: documentation, tracer, size/S

#3058 improv(tracer): set `AWS_XRAY_CONTEXT_MISSING` to `IGNORE_ERROR` when no value is set
  packages/tracer/src/Tracer.ts
  packages/tracer/tests/unit/Tracer.test.ts
Labels: tracer, size/S, tests, enhancement

#3070 chore(deps-dev): bump path-to-regexp to 6.3.0
  package-lock.json
Labels: dependencies, size/XS

#3060 test(commons): migrate to vitest
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .husky/pre-push
  packages/batch/package.json
  packages/commons/jest.config.cjs
  packages/commons/package.json
  packages/commons/tests/types/LambdaInterface.test.ts
  packages/commons/tests/unit/EnvironmentVariablesService.test.ts
  packages/commons/tests/unit/LRUCache.test.ts
  packages/commons/tests/unit/LambdaInterface.test.ts
  packages/commons/tests/unit/Utility.test.ts
  packages/commons/tests/unit/awsSdkUtils.test.ts
  packages/commons/tests/unit/cleanupMiddlewares.test.ts
  packages/commons/tests/unit/fromBase64.test.ts
  packages/commons/tests/unit/typeUtils.test.ts
  packages/commons/vitest.config.ts
  vitest.config.ts
Labels: dependencies, automation, internal, size/L, tests

#3079 test(jmespath): switch tests to vitest
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .husky/pre-push
  packages/jmespath/jest.config.cjs
  packages/jmespath/package.json
  packages/jmespath/tests/helpers/populateEnvironmentVariables.ts
  packages/jmespath/tests/unit/compliance/base.test.ts
  packages/jmespath/tests/unit/compliance/boolean.test.ts
  packages/jmespath/tests/unit/compliance/current.test.ts
  packages/jmespath/tests/unit/compliance/escape.test.ts
  packages/jmespath/tests/unit/compliance/filters.test.ts
  packages/jmespath/tests/unit/compliance/functions.test.ts
  packages/jmespath/tests/unit/compliance/identifiers.test.ts
  packages/jmespath/tests/unit/compliance/indices.test.ts
  packages/jmespath/tests/unit/compliance/literal.test.ts
  packages/jmespath/tests/unit/compliance/multiselect.test.ts
  packages/jmespath/tests/unit/compliance/pipe.test.ts
  packages/jmespath/tests/unit/compliance/slice.test.ts
  packages/jmespath/tests/unit/compliance/syntax.test.ts
  packages/jmespath/tests/unit/compliance/unicode.test.ts
  packages/jmespath/tests/unit/compliance/wildcard.test.ts
  packages/jmespath/tests/unit/index.test.ts
  packages/jmespath/vitest.config.ts
  vitest.config.ts
Labels: dependencies, automation, internal, size/L

#3071 feat(idempotency): manipulate idempotent response via response hook
  docs/utilities/idempotency.md
  examples/snippets/idempotency/samples/workingWithResponseHookIdempotentResponse.json
  examples/snippets/idempotency/samples/workingWithResponseHookSampleEvent.json
  examples/snippets/idempotency/workingWithResponseHook.ts
  packages/idempotency/src/IdempotencyConfig.ts
  packages/idempotency/src/IdempotencyHandler.ts
  packages/idempotency/src/types/IdempotencyOptions.ts
  packages/idempotency/src/types/index.ts
  packages/idempotency/tests/unit/IdempotencyHandler.test.ts
Labels: documentation, idempotency, size/L, feature, tests

#3101 chore(layers): add Parser to layer
  layers/src/canary-stack.ts
  layers/src/layer-publisher-stack.ts
  layers/tests/e2e/layerPublisher.class.test.functionCode.ts
  layers/tests/e2e/layerPublisher.test.ts
Labels: size/M, tests, layers

#3092 docs(idempotency): fix descriptions in `Advanced` table
  docs/utilities/idempotency.md
Labels: documentation, need-issue, size/S

#3118 chore(deps): bump @aws-cdk/cli-lib-alpha to 2.160.0-alpha.0
  package-lock.json
  packages/testing/package.json
Labels: dependencies, size/XS

#3119 chore(docs): recreate requirements.txt file for mkdocs container
  docs/requirements.txt
Labels: documentation, size/XL

#3124 test(idempotency): migrate to vitest
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .husky/pre-push
  package-lock.json
  packages/idempotency/package.json
  packages/idempotency/src/middleware/makeHandlerIdempotent.ts
  packages/idempotency/tests/helpers/idempotencyUtils.ts
  packages/idempotency/tests/tsconfig.json
  packages/idempotency/tests/unit/EnvironmentVariableService.test.ts
  packages/idempotency/tests/unit/IdempotencyConfig.test.ts
  packages/idempotency/tests/unit/IdempotencyHandler.test.ts
  packages/idempotency/tests/unit/deepSort.test.ts
  packages/idempotency/tests/unit/idempotencyDecorator.test.ts
  packages/idempotency/tests/unit/makeIdempotent.test.ts
  packages/idempotency/tests/unit/persistence/BasePersistenceLayer.test.ts
  packages/idempotency/tests/unit/persistence/DynamoDbPersistenceLayer.test.ts
  packages/idempotency/tests/unit/persistence/IdempotencyRecord.test.ts
  packages/idempotency/vitest.config.ts
  packages/testing/package.json
  packages/testing/src/setupEnv.ts
  vitest.config.ts
Labels: dependencies, automation, internal, idempotency, size/XXL, tests

#3126 test(event-handler): migrate to vitest
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .husky/pre-push
  packages/event-handler/jest.config.cjs
  packages/event-handler/package.json
  packages/event-handler/tests/tsconfig.json
  packages/event-handler/tests/unit/index.test.ts
  packages/event-handler/vitest.config.ts
  vitest.config.ts
Labels: dependencies, automation, internal, size/M, tests

#3109 feat(batch): sequential async processing of records for `BatchProcessor`
  docs/utilities/batch.md
  examples/snippets/batch/sequentialAsyncProcessing.ts
  packages/batch/src/BasePartialProcessor.ts
  packages/batch/src/types.ts
  packages/batch/tests/unit/BatchProcessor.test.ts
  packages/batch/tests/unit/processPartialResponse.test.ts
Labels: documentation, size/XL, feature, tests, batch

#3131 test(logger): migrate to vitest & custom matchers
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .husky/pre-push
  packages/logger/package.json
  packages/logger/src/Logger.ts
  packages/logger/tests/tsconfig.json
  packages/logger/tests/unit/configFromEnv.test.ts
  packages/logger/tests/unit/formatters.test.ts
  packages/logger/tests/unit/initializeLogger.test.ts
  packages/logger/tests/unit/injectLambdaContext.test.ts
  packages/logger/tests/unit/logEvent.test.ts
  packages/logger/tests/unit/logLevels.test.ts
  packages/logger/tests/unit/sampling.test.ts
  packages/logger/tests/unit/workingWithkeys.test.ts
  packages/logger/vitest.config.ts
  packages/testing/src/setupEnv.ts
  vitest.config.ts
Labels: dependencies, logger, automation, internal, size/XL, tests

#3133 refactor(logger): use `LogLevelThreshold` constant inside `Logger` class
  packages/logger/src/Logger.ts
  packages/logger/src/types/Logger.ts
  packages/logger/src/types/index.ts
Labels: logger, size/M, enhancement
