Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2024-10, with the labels that each got.

#3149 test(idempotency): switch e2e tests to vitest
  packages/idempotency/jest.config.cjs
  packages/idempotency/package.json
  packages/idempotency/tests/e2e/idempotentDecorator.test.ts
  packages/idempotency/tests/e2e/makeHandlerIdempotent.test.ts
  packages/idempotency/tests/e2e/makeIdempotent.test.ts
Labels: dependencies, size/L, tests

#3145 chore(metrics): expose `MetricsInterface` as return type of single metric and further improve API docs
  packages/metrics/README.md
  packages/metrics/src/Metrics.ts
  packages/metrics/src/config/EnvironmentVariablesService.ts
  packages/metrics/src/constants.ts
  packages/metrics/src/middleware/middy.ts
  packages/metrics/src/types/ConfigServiceInterface.ts
  packages/metrics/src/types/Metrics.ts
  packages/metrics/src/types/MetricsInterface.ts
  packages/metrics/src/types/index.ts
  packages/metrics/tests/unit/Metrics.test.ts
Labels: metrics, internal, size/XXL, tests

#3150 feat(idempotency): ability to specify JMESPath custom functions
  docs/utilities/idempotency.md
  examples/snippets/idempotency/workingWithCustomJmesPathFunctions.ts
  packages/idempotency/src/IdempotencyConfig.ts
  packages/idempotency/src/types/IdempotencyOptions.ts
  packages/idempotency/tests/unit/IdempotencyConfig.test.ts
  packages/jmespath/src/PowertoolsFunctions.ts
Labels: documentation, idempotency, size/M, feature, tests

#3158 docs(parser): highlight `JSONStringify` helper
  docs/utilities/parser.md
  examples/snippets/parser/extendAPIGatewayProxyEventV2Schema.ts
  examples/snippets/parser/extendAlbSchema.ts
  examples/snippets/parser/extendSqsSchema.ts
  examples/snippets/parser/samples/exampleAPIGatewayProxyEventV2.json
  examples/snippets/parser/samples/exampleAlbPayload.json
  examples/snippets/parser/samples/examplePayload.json
  examples/snippets/parser/samples/exampleSqsPayload.json
  packages/parser/src/helpers.ts
  packages/parser/typedoc.json
Labels: documentation, size/L, parser

#3161 chore(maintenance): add Flyweight customer reference
  README.md
  docs/index.md
  packages/batch/README.md
  packages/commons/README.md
  packages/event-handler/README.md
  packages/idempotency/README.md
  packages/jmespath/README.md
  packages/logger/README.md
  packages/metrics/README.md
  packages/parameters/README.md
  packages/parser/README.md
  packages/tracer/README.md
Labels: documentation, internal, size/S

#3169 chore(deps-dev): bump aws-cdk from 1.155.0 to 1.161.0 in layers
  package-lock.json
  packages/testing/package.json
Labels: dependencies, size/XS

#3171 chore(layers): remove schema parsing from layer canary
  layers/tests/e2e/layerPublisher.class.test.functionCode.ts
  layers/tests/e2e/layerPublisher.test.ts
Labels: size/S, tests

#3197 docs: fix env variable name in `logEventIfEnabled()` docstring
  packages/logger/src/Logger.ts
Labels: documentation, logger, size/XS

#3189 docs(metrics): clarify single metrics metadata & publish
  docs/core/metrics.md
  examples/snippets/metrics/singleMetric.ts
  examples/snippets/metrics/singleMetricDifferentDimsDecorator.ts
  examples/snippets/metrics/singleMetricDifferentDimsMiddy.ts
  packages/metrics/src/Metrics.ts
Labels: documentation, metrics, size/M

#3190 docs(maintenance): add community content
  docs/we_made_this.md
Labels: documentation, size/S

#3195 feat(logger): include enumerable properties in formatted errors
  packages/logger/src/formatter/LogFormatter.ts
  packages/logger/tests/unit/formatters.test.ts
Labels: logger, size/M, feature, tests

#3213 feat: add resetKeys to LoggerInterface type
  packages/logger/src/types/Logger.ts
Labels: logger, size/XS

#3230 chore(parser): bump parser to 2.10.0
  examples/snippets/package.json
  package-lock.json
  packages/parser/package.json
Labels: dependencies, do-not-merge, need-issue, size/XS

#3234 chore(ci): add workflow to publish a single package
  .github/workflows/publish-package.yml
Labels: automation, size/M

#3236 chore(ci): add input type to the publish package workflow
  .github/workflows/publish-package.yml
Labels: automation, size/XS

#3238 chore(maintenance): add force-publish to bump all packages
  .github/workflows/make-version.yml
Labels: automation, size/XS

#3240 chore(maintenance): exclude e2e tests from pre-push hook
  .husky/pre-push
Labels: internal, size/XS

#3143 chore(docs): fix typo in captureHTTPsRequests
  docs/core/tracer.md
Labels: documentation, size/XS

#3250 fix(parser): fix cause errors nested structure
  packages/parser/src/envelopes/apigw.ts
  packages/parser/src/envelopes/apigwv2.ts
  packages/parser/src/envelopes/envelope.ts
  packages/parser/src/envelopes/kafka.ts
  packages/parser/src/types/parser.ts
  packages/parser/tests/unit/envelope.test.ts
  packages/parser/tests/unit/envelopes/apigw.test.ts
  packages/parser/tests/unit/envelopes/apigwv2.test.ts
  packages/parser/tests/unit/envelopes/cloudwatch.test.ts
  packages/parser/tests/unit/envelopes/dynamodb.test.ts
  packages/parser/tests/unit/envelopes/eventbridge.test.ts
  packages/parser/tests/unit/envelopes/kafka.test.ts
  packages/parser/tests/unit/envelopes/kinesis-firehose.test.ts
  packages/parser/tests/unit/envelopes/kinesis.test.ts
  packages/parser/tests/unit/envelopes/lambda.test.ts
  packages/parser/tests/unit/envelopes/sns.test.ts
  packages/parser/tests/unit/envelopes/sqs.test.ts
  packages/parser/tests/unit/envelopes/vpc-lattice.test.ts
  packages/parser/tests/unit/envelopes/vpc-latticev2.test.ts
  packages/parser/tests/unit/parser.middy.test.ts
Labels: bug, size/L, tests, parser

#3260 fix(parser): add aws region to kinesis event
  packages/parser/src/schemas/kinesis-firehose.ts
  packages/parser/src/schemas/kinesis.ts
  packages/parser/tests/unit/schema/kinesis.test.ts
Labels: bug, size/L, tests, parser

#3271 improv(parser): export API Gateway v2 request schemas
  packages/parser/src/schemas/apigwv2.ts
  packages/parser/src/schemas/index.ts
  packages/parser/src/types/index.ts
  packages/parser/src/types/schema.ts
  packages/parser/tests/unit/schema/apigwv2.test.ts
Labels: size/M, tests, enhancement, parser
