Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2024-05, with the labels that each got.

#2465 fix(parser): set APIGatewayProxyEventSchema body and query string keys to be nullable
  packages/parser/src/schemas/apigw.ts
  packages/parser/tests/events/apiGatewayAuthorizerRequestEvent.json
  packages/parser/tests/unit/envelopes/apigwt.test.ts
Labels: bug, size/S, tests, parser

#2452 docs(commons): refresh API docs & README
  packages/commons/README.md
  packages/commons/src/Utility.ts
  packages/commons/src/awsSdkUtils.ts
  packages/commons/src/config/EnvironmentVariablesService.ts
  packages/commons/src/middleware/cleanupMiddlewares.ts
  packages/commons/src/middleware/constants.ts
  packages/commons/src/typeUtils.ts
  packages/commons/src/types/ConfigServiceInterface.ts
  packages/commons/src/types/LambdaInterface.ts
  packages/commons/src/types/awsSdk.ts
  packages/commons/src/types/index.ts
  packages/commons/src/types/json.ts
  packages/commons/src/types/middy.ts
  packages/commons/typedoc.json
  packages/logger/tests/unit/Logger.test.ts
  packages/logger/tests/unit/middleware/middy.test.ts
  packages/metrics/tests/unit/Metrics.test.ts
  packages/tracer/tests/unit/Tracer.test.ts
Labels: internal, size/XL, tests, commons

#2487 chore(docs): fix update layer arn for cdk
  .github/scripts/update_layer_arn.sh
Labels: automation, size/XS

#2494 chore(docs): miscellaneous updates and clarifications on docs
  docs/core/metrics.md
  docs/index.md
  docs/overrides/main.html
  docs/upgrade.md
Labels: documentation, size/M

#2508 chore(tracer): mark captureAWS & captureAWSClient functions as deprecated
  packages/tracer/src/Tracer.ts
  packages/tracer/src/provider/ProviderService.ts
Labels: tracer, size/XS

#2520 chore(ci): Aggregate lint-staged in top package.json
  layers/package.json
  package.json
  packages/batch/package.json
  packages/commons/package.json
  packages/idempotency/package.json
  packages/jmespath/package.json
  packages/logger/package.json
  packages/metrics/package.json
  packages/parameters/package.json
  packages/parser/package.json
  packages/testing/package.json
  packages/tracer/package.json
Labels: dependencies, size/M

#2524 chore(parameters): Use AppConfig L2 constructs for integration tests
  packages/parameters/tests/helpers/resources.ts
Labels: size/L, tests

#2532 chore(ci): Adopt multi directory config for dependabot
  .github/dependabot.yml
Labels: size/S

#2557 improv(tracer): remove require in tracer provider
  packages/tracer/src/provider/ProviderService.ts
Labels: tracer, size/XS, enhancement

#2562 docs(batch): review API docs & README
  docs/utilities/batch.md
  examples/snippets/batch/accessLambdaContext.ts
  examples/snippets/batch/accessProcessedMessages.ts
  examples/snippets/batch/advancedTracingRecordHandler.ts
  examples/snippets/batch/customPartialProcessor.ts
  examples/snippets/batch/extendingFailure.ts
  examples/snippets/batch/gettingStartedDynamoDBStreams.ts
  examples/snippets/batch/gettingStartedErrorHandling.ts
  examples/snippets/batch/gettingStartedKinesis.ts
  examples/snippets/batch/gettingStartedSQS.ts
  examples/snippets/batch/gettingStartedSQSFifo.ts
  examples/snippets/batch/testingYourCode.ts
  package.json
  packages/batch/README.md
  packages/batch/src/BasePartialBatchProcessor.ts
  packages/batch/src/BasePartialProcessor.ts
  packages/batch/src/BatchProcessor.ts
  packages/batch/src/BatchProcessorSync.ts
  packages/batch/src/SqsFifoPartialProcessor.ts
  packages/batch/src/constants.ts
  packages/batch/src/errors.ts
  packages/batch/src/processPartialResponse.ts
  packages/batch/src/processPartialResponseSync.ts
  packages/batch/src/types.ts
  packages/batch/typedoc.json
Labels: documentation, dependencies, internal, size/XL, batch

#2574 chore(idempotency): expiration timestamp rounded to the nearest second
  packages/idempotency/src/persistence/BasePersistenceLayer.ts
  packages/idempotency/tests/e2e/makeIdempotent.test.ts
  packages/idempotency/tests/unit/persistence/BasePersistenceLayer.test.ts
Labels: idempotency, size/M, tests

#2521 improv(idempotency): handle functions with no return value
  packages/idempotency/src/IdempotencyHandler.ts
  packages/idempotency/src/persistence/DynamoDBPersistenceLayer.ts
  packages/idempotency/tests/e2e/idempotentDecorator.test.FunctionCode.ts
  packages/idempotency/tests/e2e/idempotentDecorator.test.ts
  packages/idempotency/tests/unit/persistence/DynamoDbPersistenceLayer.test.ts
Labels: idempotency, size/L, tests, enhancement

#2559 test(tracer): remove `axios` and use `https` directly
  package-lock.json
  packages/tracer/package.json
  packages/tracer/tests/e2e/allFeatures.decorator.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.manual.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.functionCode.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.functionCode.ts
  packages/tracer/tests/helpers/httpRequest.ts
Labels: dependencies, size/M, tests
