Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2024-07, with the labels that each got.

#2675 feat(layers): deploy Lambda layers in `ap-south-2` and `me-central-1`
  .github/workflows/reusable_deploy_layer_stack.yml
  docs/index.md
Labels: documentation, automation, size/XS, feature

#2716 chore(ci): update Dependabot groups for typedoc
  .github/dependabot.yml
Labels: size/S

#2717 feat(maintenance): drop support for Node.js 16.x
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/actions/cached-node-modules/action.yml
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .github/workflows/run-e2e-tests.yml
  docs/index.md
  docs/overrides/main.html
  docs/upgrade.md
  layers/src/canary-stack.ts
  layers/src/layer-publisher-stack.ts
  layers/tests/e2e/layerPublisher.test.ts
  layers/tests/unit/layer-publisher.test.ts
  package.json
  packages/batch/package.json
  packages/commons/src/middleware/cleanupMiddlewares.ts
  packages/idempotency/package.json
  packages/idempotency/tests/helpers/populateEnvironmentVariables.ts
  packages/jmespath/src/errors.ts
  packages/logger/package.json
  packages/logger/src/Logger.ts
  packages/logger/src/formatter/LogFormatter.ts
  packages/metrics/package.json
  packages/parameters/package.json
  packages/parameters/src/appconfig/getAppConfig.ts
  packages/parameters/src/secrets/getSecret.ts
  packages/parameters/src/ssm/SSMProvider.ts
  packages/parameters/src/ssm/getParameter.ts
  packages/parameters/src/ssm/getParameters.ts
  packages/parameters/src/ssm/getParametersByName.ts
  packages/parser/src/envelopes/apigw.ts
  packages/parser/src/envelopes/apigwv2.ts
  packages/parser/src/envelopes/cloudwatch.ts
  packages/parser/src/envelopes/dynamodb.ts
  packages/parser/src/envelopes/envelope.ts
  packages/parser/src/envelopes/event-bridge.ts
  packages/parser/src/envelopes/kafka.ts
  packages/parser/src/envelopes/kinesis-firehose.ts
  packages/parser/src/envelopes/kinesis.ts
  packages/parser/src/envelopes/lambda.ts
  packages/parser/src/envelopes/sns.ts
  packages/parser/src/envelopes/sqs.ts
  packages/parser/src/envelopes/vpc-lattice.ts
  packages/parser/src/envelopes/vpc-latticev2.ts
  packages/parser/src/errors.ts
  packages/parser/src/parser.ts
  packages/testing/src/constants.ts
  packages/testing/tests/helpers/populateEnvironmentVariables.ts
  packages/tracer/package.json
  packages/tracer/tests/e2e/allFeatures.decorator.test.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.functionCode.ts
  packages/tracer/tests/helpers/populateEnvironmentVariables.ts
  packages/tracer/tests/helpers/resources.ts
  packages/tracer/tests/helpers/traceAssertions.ts
  packages/tracer/tests/unit/EnvironmentVariablesService.test.ts
  packages/tracer/tests/unit/Tracer.test.ts
  tsconfig.json
Labels: documentation, dependencies, logger, automation, internal, parameters, size/L, feature, tests, layers, commons, parser

#2710 feat(logger): time zone aware timestamp in Logger
  docs/core/logger.md
  examples/snippets/logger/customTimezone.ts
  examples/snippets/logger/customTimezoneOutput.json
  packages/logger/src/formatter/LogFormatter.ts
  packages/logger/tests/unit/formatter/PowertoolsLogFormatter.test.ts
Labels: documentation, logger, size/L, feature, tests

#2731 chore(ci): enable CodeQl
  .github/workflows/codeql.yml
Labels: automation, size/M

#2711 feat(batch): add option to not throw `FullBatchFailureError` when the entire batch fails
  docs/utilities/batch.md
  examples/snippets/batch/noThrowOnFullBatchFailure.ts
  packages/batch/src/BasePartialBatchProcessor.ts
  packages/batch/src/processPartialResponse.ts
  packages/batch/src/processPartialResponseSync.ts
  packages/batch/src/types.ts
  packages/batch/tests/unit/processPartialResponse.test.ts
  packages/batch/tests/unit/processPartialResponseSync.test.ts
Labels: documentation, size/L, feature, tests, batch

#2747 fix(idempotency): check error identity via names
  packages/idempotency/src/IdempotencyHandler.ts
  packages/idempotency/src/errors.ts
  packages/idempotency/src/index.ts
  packages/idempotency/tests/unit/makeHandlerIdempotent.test.ts
  packages/idempotency/tests/unit/makeIdempotent.test.ts
Labels: bug, idempotency, size/L, tests

#2740 chore(ci): revert enable CodeQl (#2731)
  .github/workflows/codeql.yml
Labels: automation, size/M

#2748 feat(internal): support Middy.js 5.x
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/index.md
  docs/utilities/idempotency.md
  package-lock.json
  package.json
  packages/idempotency/package.json
  packages/logger/package.json
  packages/logger/tests/e2e/basicFeatures.middy.test.FunctionCode.ts
  packages/logger/tests/e2e/logEventEnvVarSetting.middy.test.FunctionCode.ts
  packages/metrics/package.json
  packages/parameters/package.json
  packages/parser/package.json
  packages/tracer/package.json
  packages/tracer/tests/e2e/allFeatures.middy.test.functionCode.ts
Labels: documentation, dependencies, size/M, feature, tests

#2762 chore(layers): revert deploy Lambda layers in `ap-south-2` and `me-central-1`
  .github/workflows/reusable_deploy_layer_stack.yml
  docs/index.md
Labels: documentation, automation, size/XS

#2755 docs(parser): add section on how to test parser using decorator
  docs/utilities/parser.md
  examples/snippets/parser/handlerDecorator.ts
  examples/snippets/parser/handlerSafeParseDecorator.ts
  examples/snippets/parser/safeParseDecorator.ts
  examples/snippets/parser/schema.ts
  examples/snippets/parser/unitTestDecorator.ts
  examples/snippets/parser/unitTestSafeParse.ts
Labels: documentation, size/L

#2739 feat(logger): custom function for unserializable values (JSON replacer)
  docs/core/logger.md
  examples/snippets/logger/unserializableValues.json
  examples/snippets/logger/unserializableValues.ts
  packages/logger/src/Logger.ts
  packages/logger/src/types/Logger.ts
  packages/logger/src/types/index.ts
  packages/logger/tests/unit/Logger.test.ts
Labels: documentation, logger, size/L, feature, tests

#2774 fix(parser): links the error cause with ParseError
  packages/parser/src/errors.ts
  packages/parser/tests/unit/envelope.test.ts
Labels: bug, size/S, tests, parser

#2787 feat(logger): introduce loglevel constant
  packages/logger/src/constants.ts
  packages/logger/src/index.ts
  packages/logger/src/types/Log.ts
  packages/logger/tests/unit/Logger.test.ts
Labels: logger, size/M, feature, tests

#2786 feat(parser): allow parser set event type of handler with middy
  packages/parser/src/envelopes/cloudwatch.ts
  packages/parser/src/envelopes/dynamodb.ts
  packages/parser/src/envelopes/kafka.ts
  packages/parser/src/envelopes/kinesis-firehose.ts
  packages/parser/src/envelopes/kinesis.ts
  packages/parser/src/envelopes/sns.ts
  packages/parser/src/envelopes/sqs.ts
  packages/parser/src/middleware/parser.ts
  packages/parser/src/parserDecorator.ts
  packages/parser/src/types/envelope.ts
  packages/parser/src/types/parser.ts
  packages/parser/tests/unit/parser.decorator.test.ts
  packages/parser/tests/unit/parser.middy.test.ts
Labels: size/L, feature, tests, parser

#2791 chore(maintenance): add biome to the project
  biome.json
  examples/app/cdk/example-stack.ts
  examples/app/functions/commons/helpers/get-item.ts
  examples/app/functions/commons/helpers/put-item.ts
  examples/app/functions/commons/helpers/scan-items.ts
  examples/app/package.json
  package-lock.json
  package.json
Labels: documentation, dependencies, size/M

#2806 chore(maintenance): migrate layers package to biome
  layers/bin/layers.ts
  layers/cdk.json
  layers/package.json
  layers/src/canary-stack.ts
  layers/src/layer-publisher-stack.ts
  layers/tests/e2e/layerPublisher.class.test.functionCode.ts
  layers/tests/e2e/layerPublisher.test.ts
  layers/tests/tsconfig.json
  layers/tsconfig.json
Labels: internal, size/L, tests, layers

#2810 chore(maintenance): migrate idempotency utility to biome
  packages/idempotency/package.json
  packages/idempotency/src/IdempotencyHandler.ts
  packages/idempotency/src/deepSort.ts
  packages/idempotency/src/idempotencyDecorator.ts
  packages/idempotency/src/makeIdempotent.ts
  packages/idempotency/src/persistence/BasePersistenceLayer.ts
  packages/idempotency/src/persistence/DynamoDBPersistenceLayer.ts
  packages/idempotency/src/persistence/IdempotencyRecord.ts
  packages/idempotency/src/persistence/LRUCache.ts
  packages/idempotency/src/types/BasePersistenceLayer.ts
  packages/idempotency/src/types/IdempotencyOptions.ts
  packages/idempotency/src/types/IdempotencyRecord.ts
  packages/idempotency/tests/e2e/idempotentDecorator.test.FunctionCode.ts
  packages/idempotency/tests/e2e/makeHandlerIdempotent.test.FunctionCode.ts
  packages/idempotency/tests/e2e/makeHandlerIdempotent.test.ts
  packages/idempotency/tests/e2e/makeIdempotent.test.ts
  packages/idempotency/tests/unit/EnvironmentVariableService.test.ts
  packages/idempotency/tests/unit/idempotencyDecorator.test.ts
Labels: idempotency, size/L, tests

#2808 chore(maintenance): migrate testing utility to biome
  packages/testing/package.json
  packages/testing/src/TestInvocationLogs.ts
  packages/testing/src/TestStack.ts
  packages/testing/src/constants.ts
  packages/testing/src/helpers.ts
  packages/testing/src/invokeTestFunction.ts
  packages/testing/src/resources/TestDynamodbTable.ts
  packages/testing/src/resources/TestNodejsFunction.ts
  packages/testing/src/types.ts
  packages/testing/tests/tsconfig.json
  packages/testing/tests/unit/TestInvocationLogs.test.ts
  packages/testing/tsconfig.esm.json
  packages/testing/tsconfig.json
Labels: documentation, dependencies, on-hold, size/L

#2805 chore(maintenance): migrate commons utility to biome
  packages/commons/package.json
  packages/commons/src/awsSdkUtils.ts
  packages/commons/src/config/EnvironmentVariablesService.ts
  packages/commons/src/fromBase64.ts
  packages/commons/src/middleware/cleanupMiddlewares.ts
  packages/commons/src/typeUtils.ts
  packages/commons/tests/tsconfig.json
  packages/commons/tests/unit/EnvironmentVariablesService.test.ts
  packages/commons/tests/unit/LambdaInterface.test.ts
  packages/commons/tests/unit/Utility.test.ts
  packages/commons/tests/unit/awsSdkUtils.test.ts
  packages/commons/tests/unit/cleanupMiddlewares.test.ts
  packages/commons/tests/unit/fromBase64.test.ts
  packages/commons/tests/unit/typeUtils.test.ts
  packages/commons/tsconfig.esm.json
  packages/commons/tsconfig.json
  packages/commons/typedoc.json
Labels: internal, size/L, tests, commons

#2804 chore(maintenance): migrate batch utility to biome
  packages/batch/package.json
  packages/batch/src/BasePartialBatchProcessor.ts
  packages/batch/src/SqsFifoPartialProcessor.ts
  packages/batch/src/constants.ts
  packages/batch/src/processPartialResponse.ts
  packages/batch/src/processPartialResponseSync.ts
  packages/batch/src/types.ts
  packages/batch/tests/helpers/factories.ts
  packages/batch/tests/helpers/handlers.ts
  packages/batch/tests/tsconfig.json
  packages/batch/tests/unit/BatchProcessor.test.ts
  packages/batch/tests/unit/BatchProcessorSync.test.ts
  packages/batch/tests/unit/SqsFifoPartialProcessor.test.ts
  packages/batch/tests/unit/processPartialResponse.test.ts
  packages/batch/tests/unit/processPartialResponseSync.test.ts
  packages/batch/tsconfig.esm.json
  packages/batch/tsconfig.json
  packages/batch/typedoc.json
Labels: dependencies, internal, size/L, tests, batch

#2807 chore(maintenance): migrate jmespath utility to biome
  packages/jmespath/package.json
  packages/jmespath/src/Functions.ts
  packages/jmespath/src/Lexer.ts
  packages/jmespath/src/ParsedResult.ts
  packages/jmespath/src/Parser.ts
  packages/jmespath/src/TreeInterpreter.ts
  packages/jmespath/src/constants.ts
  packages/jmespath/src/envelopes.ts
  packages/jmespath/src/types.ts
  packages/jmespath/src/utils.ts
  packages/jmespath/tests/unit/compliance/functions.test.ts
  packages/jmespath/tests/unit/index.test.ts
  packages/jmespath/tsconfig.esm.json
  packages/jmespath/tsconfig.json
  packages/jmespath/typedoc.json
Labels: size/L, jmespath

#2813 chore(maintenance): migrate logger utility to biome
  packages/logger/package.json
  packages/logger/src/Logger.ts
  packages/logger/src/config/EnvironmentVariablesService.ts
  packages/logger/src/formatter/LogFormatter.ts
  packages/logger/src/middleware/middy.ts
  packages/logger/src/types/Log.ts
  packages/logger/src/types/Logger.ts
  packages/logger/tests/e2e/basicFeatures.middy.test.FunctionCode.ts
  packages/logger/tests/e2e/basicFeatures.middy.test.ts
  packages/logger/tests/e2e/childLogger.manual.test.FunctionCode.ts
  packages/logger/tests/e2e/childLogger.manual.test.ts
  packages/logger/tests/e2e/logEventEnvVarSetting.middy.test.FunctionCode.ts
  packages/logger/tests/e2e/logEventEnvVarSetting.middy.test.ts
  packages/logger/tests/e2e/sampleRate.decorator.test.FunctionCode.ts
  packages/logger/tests/e2e/sampleRate.decorator.test.ts
  packages/logger/tests/helpers/resources.ts
  packages/logger/tests/unit/Logger.test.ts
  packages/logger/tests/unit/formatter/PowertoolsLogFormatter.test.ts
  packages/logger/tests/unit/middleware/middy.test.ts
  packages/logger/tsconfig.esm.json
  packages/logger/tsconfig.json
Labels: dependencies, logger, internal, size/L, tests

#2809 chore(maintenance): migrate tracer utility to biome
  packages/tracer/package.json
  packages/tracer/src/Tracer.ts
  packages/tracer/src/config/EnvironmentVariablesService.ts
  packages/tracer/src/middleware/middy.ts
  packages/tracer/src/provider/ProviderService.ts
  packages/tracer/src/provider/utilities.ts
  packages/tracer/src/types/ProviderService.ts
  packages/tracer/src/types/Tracer.ts
  packages/tracer/tests/e2e/allFeatures.decorator.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.decorator.test.ts
  packages/tracer/tests/e2e/allFeatures.manual.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.manual.test.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.functionCode.ts
  packages/tracer/tests/e2e/allFeatures.middy.test.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.functionCode.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.ts
  packages/tracer/tests/helpers/resources.ts
  packages/tracer/tests/helpers/traceAssertions.ts
  packages/tracer/tests/helpers/tracesUtils.ts
  packages/tracer/tests/tsconfig.json
  packages/tracer/tests/unit/EnvironmentVariablesService.test.ts
  packages/tracer/tests/unit/ProviderService.test.ts
  packages/tracer/tests/unit/Tracer.test.ts
  packages/tracer/tests/unit/middy.test.ts
  packages/tracer/tsconfig.esm.json
  packages/tracer/tsconfig.json
  packages/tracer/typedoc.json
Labels: dependencies, tracer, internal, size/XL, tests

#2812 chore(maintenance): migrate parameters utility to biome
  packages/parameters/package.json
  packages/parameters/src/appconfig/AppConfigProvider.ts
  packages/parameters/src/appconfig/getAppConfig.ts
  packages/parameters/src/base/BaseProvider.ts
  packages/parameters/src/base/GetMultipleOptions.ts
  packages/parameters/src/base/GetOptions.ts
  packages/parameters/src/base/transformValue.ts
  packages/parameters/src/config/EnvironmentVariablesService.ts
  packages/parameters/src/dynamodb/DynamoDBProvider.ts
  packages/parameters/src/secrets/SecretsProvider.ts
  packages/parameters/src/secrets/getSecret.ts
  packages/parameters/src/ssm/SSMProvider.ts
  packages/parameters/src/ssm/getParameter.ts
  packages/parameters/src/ssm/getParameters.ts
  packages/parameters/src/ssm/getParametersByName.ts
  packages/parameters/src/types/BaseProvider.ts
  packages/parameters/tests/e2e/appConfigProvider.class.test.functionCode.ts
  packages/parameters/tests/e2e/appConfigProvider.class.test.ts
  packages/parameters/tests/e2e/dynamoDBProvider.class.test.functionCode.ts
  packages/parameters/tests/e2e/dynamoDBProvider.class.test.ts
  packages/parameters/tests/e2e/secretsProvider.class.test.functionCode.ts
  packages/parameters/tests/e2e/secretsProvider.class.test.ts
  packages/parameters/tests/e2e/ssmProvider.class.test.functionCode.ts
  packages/parameters/tests/e2e/ssmProvider.class.test.ts
  packages/parameters/tests/helpers/resources.ts
  packages/parameters/tests/helpers/sdkMiddlewareRequestCounter.ts
  packages/parameters/tests/tsconfig.json
  packages/parameters/tests/unit/AppConfigProvider.test.ts
  packages/parameters/tests/unit/BaseProvider.test.ts
  packages/parameters/tests/unit/DynamoDBProvider.test.ts
  packages/parameters/tests/unit/SSMProvider.test.ts
  packages/parameters/tests/unit/SecretsProvider.test.ts
  packages/parameters/tests/unit/getAppConfig.test.ts
  packages/parameters/tests/unit/getParameter.test.ts
  packages/parameters/tests/unit/getParameters.test.ts
  packages/parameters/tests/unit/getSecret.test.ts
  packages/parameters/tsconfig.esm.json
  packages/parameters/tsconfig.json
  packages/parameters/typedoc.json
Labels: dependencies, parameters, size/L, tests

#2816 chore(maintenance): migrate metrics utility to biome
  packages/metrics/package.json
  packages/metrics/src/Metrics.ts
  packages/metrics/src/config/EnvironmentVariablesService.ts
  packages/metrics/src/middleware/middy.ts
  packages/metrics/src/types/Metrics.ts
  packages/metrics/src/types/MetricsInterface.ts
  packages/metrics/tests/e2e/basicFeatures.decorator.test.functionCode.ts
  packages/metrics/tests/e2e/basicFeatures.decorators.test.ts
  packages/metrics/tests/e2e/basicFeatures.manual.test.functionCode.ts
  packages/metrics/tests/e2e/basicFeatures.manual.test.ts
  packages/metrics/tests/helpers/metricsUtils.ts
  packages/metrics/tests/helpers/resources.ts
  packages/metrics/tests/tsconfig.json
  packages/metrics/tests/unit/Metrics.test.ts
  packages/metrics/tests/unit/middleware/middy.test.ts
  packages/metrics/tsconfig.esm.json
  packages/metrics/tsconfig.json
  packages/metrics/typedoc.json
Labels: dependencies, metrics, internal, size/L, tests

#2824 chore(docs): Add lambda layer policy to versioning docs
  docs/versioning.md
Labels: documentation, size/S

#2832 improv(logger): export LoggerInterface
  packages/logger/src/types/index.ts
Labels: logger, size/XS, enhancement

#2831 chore(parser): mark parser as GA
  .github/scripts/release_patch_package_json.js
  .markdownlintignore
  packages/parser/README.md
Labels: automation, internal, size/L

#2836 chore(ci): revert bump version to 2.6.0
  CHANGELOG.md
  examples/app/CHANGELOG.md
  examples/app/package.json
  examples/snippets/CHANGELOG.md
  examples/snippets/package.json
  layers/CHANGELOG.md
  layers/package.json
  lerna.json
  package-lock.json
  packages/batch/CHANGELOG.md
  packages/batch/package.json
  packages/commons/CHANGELOG.md
  packages/commons/package.json
  packages/commons/src/version.ts
  packages/idempotency/CHANGELOG.md
  packages/idempotency/package.json
  packages/jmespath/CHANGELOG.md
  packages/jmespath/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/metrics/CHANGELOG.md
  packages/metrics/package.json
  packages/parameters/CHANGELOG.md
  packages/parameters/package.json
  packages/parser/CHANGELOG.md
  packages/parser/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/tracer/CHANGELOG.md
  packages/tracer/package.json
Labels: documentation, dependencies, internal, size/L, commons

#2838 chore(parser): review imports
  packages/parser/src/envelopes/apigw.ts
Labels: size/XS, parser

#2846 chore(parser): adds exports for Record schemas
  packages/parser/package.json
  packages/parser/src/schemas/index.ts
  packages/parser/src/schemas/kafka.ts
  packages/parser/src/schemas/kinesis-firehose.ts
  packages/parser/src/schemas/ses.ts
  packages/parser/src/schemas/sns.ts
  packages/parser/src/schemas/sqs.ts
  packages/parser/src/types/schema.ts
  packages/parser/tests/unit/schema/kafka.test.ts
  packages/parser/tests/unit/schema/kinesis.test.ts
  packages/parser/tests/unit/schema/ses.test.ts
  packages/parser/tests/unit/schema/sns.test.ts
  packages/parser/tests/unit/schema/sqs.test.ts
Labels: dependencies, size/L, tests, parser

#2843 chore(maintenance): add caylent as customer reference
  README.md
  docs/index.md
  docs/media/logos/caylent.png
  packages/batch/README.md
  packages/commons/README.md
  packages/idempotency/README.md
  packages/jmespath/README.md
  packages/logger/README.md
  packages/metrics/README.md
  packages/parameters/README.md
  packages/parser/README.md
  packages/tracer/README.md
Labels: documentation, internal, size/S

#2847 chore(parser): adds scoped exports for schemas and envelopes
  packages/parser/package.json
Labels: dependencies, size/L

#2841 chore(maintenance): remove eslint & prettier
  .devcontainer/devcontainer.json
  .eslintignore
  .eslintrc.js
  .github/boring-cyborg.yml
  .gitpod.yml
  .prettierrc
  CONTRIBUTING.md
  docs/contributing/conventions.md
  examples/app/functions/commons/helpers/utils.ts
  layers/tests/e2e/layerPublisher.test.ts
  package-lock.json
  package.json
  packages/idempotency/tests/unit/makeHandlerIdempotent.test.ts
  packages/idempotency/tests/unit/makeIdempotent.test.ts
  packages/jmespath/src/TreeInterpreter.ts
  packages/jmespath/tests/unit/compliance/functions.test.ts
  packages/logger/src/Logger.ts
  packages/metrics/src/Metrics.ts
  packages/metrics/tests/e2e/basicFeatures.decorator.test.functionCode.ts
  packages/tracer/src/Tracer.ts
  packages/tracer/tests/e2e/asyncHandler.decorator.test.functionCode.ts
Labels: documentation, dependencies, logger, automation, tracer, metrics, internal, size/L, tests

#2859 chore(maintenance): add Banxware & WeSchool customer references
  docs/index.md
  docs/media/logos/banxware.svg
  docs/media/logos/caylent.png
  docs/media/logos/caylent.svg
  docs/media/logos/weschool.svg
  packages/batch/README.md
  packages/commons/README.md
  packages/idempotency/README.md
  packages/jmespath/README.md
  packages/logger/README.md
  packages/metrics/README.md
  packages/parameters/README.md
  packages/parser/README.md
  packages/tracer/README.md
Labels: documentation, internal, size/M

#2858 chore: create event-handler utility workspace
  .github/actions/cached-node-modules/action.yml
  .github/boring-cyborg.yml
  .github/scripts/release_patch_package_json.js
  .github/semantic.yml
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .husky/pre-push
  docs/core/event-handler/api-gateway.md
  lerna.json
  package-lock.json
  package.json
  packages/event-handler/README.md
  packages/event-handler/jest.config.cjs
  packages/event-handler/package.json
  packages/event-handler/src/index.ts
  packages/event-handler/tests/tsconfig.json
  packages/event-handler/tests/unit/index.test.ts
  packages/event-handler/tsconfig.esm.json
  packages/event-handler/tsconfig.json
  typedoc.json
Labels: documentation, dependencies, automation, internal, size/L
