Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2025-05, with the labels that each got.

#3876 chore(docs): add powertools community mcp
  docs/we_made_this.md
Labels: documentation, size/S

#3878 chore: remove typedoc zod plugin
  package-lock.json
  package.json
  typedoc.json
Labels: dependencies, size/XS

#3880 chore: pin version of commons dependency
  package-lock.json
  packages/event-handler/package.json
  packages/idempotency/package.json
  packages/jmespath/package.json
  packages/logger/package.json
  packages/metrics/package.json
  packages/parameters/package.json
  packages/parser/package.json
  packages/tracer/package.json
  packages/validation/package.json
Labels: dependencies, size/S

#3882 chore(docs): fix youtube iframes
  docs/we_made_this.md
Labels: documentation, size/XS

#3888 fix(event-handler): ignore return type from onSubscribe handler
  packages/event-handler/src/appsync-events/AppSyncEventsResolver.ts
  packages/event-handler/tests/unit/AppSyncEventsResolver.test.ts
Labels: bug, size/XS, tests, event-handler

#3889 chore: update script to increment govcloud layer in docs
  .github/scripts/update_layer_arn.sh
  .github/workflows/publish_layer.yml
  docs/maintainers.md
Labels: documentation, automation, internal, size/M

#3907 feat(parser): add schemas for AppSync Events
  docs/features/parser.md
  packages/parser/src/schemas/appsync-events.ts
  packages/parser/src/schemas/appsync-shared.ts
  packages/parser/src/schemas/appsync.ts
  packages/parser/src/schemas/index.ts
  packages/parser/src/types/index.ts
  packages/parser/src/types/schema.ts
  packages/parser/tests/events/appsync-events/base.json
  packages/parser/tests/unit/schema/appsync-events.test.ts
Labels: documentation, size/L, feature, tests, parser

#3896 feat(idempotency): support for `Redis` as idempotency backend
  package-lock.json
  packages/idempotency/package.json
  packages/idempotency/src/constants.ts
  packages/idempotency/src/errors.ts
  packages/idempotency/src/index.ts
  packages/idempotency/src/persistence/BasePersistenceLayer.ts
  packages/idempotency/src/persistence/CachePersistenceLayer.ts
  packages/idempotency/src/persistence/DynamoDBPersistenceLayer.ts
  packages/idempotency/src/persistence/IdempotencyRecord.ts
  packages/idempotency/src/types/BasePersistenceLayer.ts
  packages/idempotency/src/types/CachePersistence.ts
  packages/idempotency/src/types/DynamoDBPersistence.ts
  packages/idempotency/src/types/IdempotencyRecord.ts
  packages/idempotency/src/types/index.ts
  packages/idempotency/tests/helpers/idempotencyUtils.ts
  packages/idempotency/tests/unit/persistence/CachePersistenceLayer.test.ts
  packages/idempotency/typedoc.json
Labels: dependencies, idempotency, size/XL, feature, tests

#3922 refactor(event-handler): mark identity field as unknown in event
  packages/event-handler/src/types/appsync-events.ts
Labels: size/S, enhancement, event-handler

#3924 docs(event-handler): add examples on how to drop messages
  docs/features/event-handler/appsync-events.md
  examples/snippets/event-handler/appsync-events/aggregatedProcessingWithPartialResults.ts
  examples/snippets/event-handler/appsync-events/unauthorizedException.ts
  packages/event-handler/src/types/appsync-events.ts
Labels: documentation, size/M, event-handler

#3931 feat(parser): add support for tumbling windows in Kinesis and DynamoDB events
  packages/parser/src/schemas/dynamodb.ts
  packages/parser/src/schemas/kinesis.ts
  packages/parser/tests/unit/schema/dynamodb.test.ts
  packages/parser/tests/unit/schema/kinesis.test.ts
Labels: size/L, feature, tests, parser

#3937 docs(idempotency): add idempotency doc for `CachePersistenceLayer`
  docs/Dockerfile
  docs/features/idempotency.md
  examples/snippets/idempotency/cachePersistenceLayerRedis.ts
  examples/snippets/idempotency/cachePersistenceLayerValkey.ts
  examples/snippets/idempotency/customizeCachePersistenceLayer.ts
  examples/snippets/idempotency/templates/cacheCdk.ts
  examples/snippets/idempotency/templates/cacheSam.yml
  examples/snippets/idempotency/templates/tableSam.yaml
  examples/snippets/idempotency/workingWithLocalCacheValkey.test.ts
  examples/snippets/package.json
  package-lock.json
  packages/idempotency/src/persistence/CachePersistenceLayer.ts
Labels: documentation, dependencies, idempotency, size/L

#3953 chore: Add llms.txt to documentation
  docs/requirements.in
  docs/requirements.txt
  mkdocs.yml
Labels: documentation, size/L

#3945 feat(commons): environment variable helpers
  packages/commons/package.json
  packages/commons/src/config/EnvironmentVariablesService.ts
  packages/commons/src/constants.ts
  packages/commons/src/envUtils.ts
  packages/commons/src/types/envUtils.ts
  packages/commons/src/types/index.ts
  packages/commons/tests/unit/EnvironmentVariablesService.test.ts
  packages/commons/tests/unit/envUtils.test.ts
  packages/commons/typedoc.json
Labels: dependencies, size/XL, feature, tests, commons

#3961 docs: clarify zod version support
  docs/features/parser.md
Labels: documentation, size/XS

#3966 chore: add latest to site_url
  mkdocs.yml
Labels: documentation, size/XS

#3959 chore: switch codebase to default esm
  .github/scripts/package.json
  layers/package.json
  layers/tests/e2e/layerPublisher.test.ts
  package.json
  packages/batch/package.json
  packages/batch/tsconfig.cjs.json
  packages/batch/tsconfig.esm.json
  packages/batch/tsconfig.json
  packages/commons/package.json
  packages/commons/tsconfig.cjs.json
  packages/commons/tsconfig.esm.json
  packages/commons/tsconfig.json
  packages/event-handler/package.json
  packages/event-handler/tsconfig.cjs.json
  packages/event-handler/tsconfig.esm.json
  packages/event-handler/tsconfig.json
  packages/idempotency/package.json
  packages/idempotency/tsconfig.cjs.json
  packages/idempotency/tsconfig.esm.json
  packages/idempotency/tsconfig.json
  packages/jmespath/package.json
  packages/jmespath/tsconfig.cjs.json
  packages/jmespath/tsconfig.esm.json
  packages/jmespath/tsconfig.json
  packages/logger/package.json
  packages/logger/tsconfig.cjs.json
  packages/logger/tsconfig.esm.json
  packages/logger/tsconfig.json
  packages/metrics/package.json
  packages/metrics/tsconfig.cjs.json
  packages/metrics/tsconfig.esm.json
  packages/metrics/tsconfig.json
  packages/parameters/package.json
  packages/parameters/tsconfig.cjs.json
  packages/parameters/tsconfig.esm.json
  packages/parameters/tsconfig.json
  packages/parser/package.json
  packages/parser/tsconfig.cjs.json
  packages/parser/tsconfig.esm.json
  packages/parser/tsconfig.json
  packages/testing/package.json
  packages/testing/tsconfig.cjs.json
  packages/testing/tsconfig.esm.json
  packages/testing/tsconfig.json
  packages/tracer/package.json
  packages/tracer/tsconfig.cjs.json
  packages/tracer/tsconfig.esm.json
  packages/tracer/tsconfig.json
  packages/validation/package.json
  packages/validation/tests/unit/validate.test.ts
  packages/validation/tsconfig.cjs.json
  packages/validation/tsconfig.esm.json
  packages/validation/tsconfig.json
  tsconfig.cjs.json
  tsconfig.json
Labels: dependencies, automation, internal, size/XL, tests

#3970 chore(commons): consolidate boolean parsing
  packages/commons/src/envUtils.ts
  packages/commons/src/types/envUtils.ts
  packages/commons/tests/unit/envUtils.test.ts
Labels: size/L, tests, commons

#3957 feat(event-handler): add Amazon Bedrock Agents Functions Resolver
  packages/event-handler/package.json
  packages/event-handler/src/bedrock-agent/BedrockAgentFunctionResolver.ts
  packages/event-handler/src/bedrock-agent/index.ts
  packages/event-handler/src/bedrock-agent/utils.ts
  packages/event-handler/src/types/appsync-events.ts
  packages/event-handler/src/types/bedrock-agent.ts
  packages/event-handler/src/types/common.ts
  packages/event-handler/src/types/index.ts
  packages/event-handler/tests/unit/appsync-events/AppSyncEventsResolver.test.ts
  packages/event-handler/tests/unit/appsync-events/RouteHandlerRegistry.test.ts
  packages/event-handler/tests/unit/appsync-events/Router.test.ts
  packages/event-handler/tests/unit/bedrock-agent/BedrockAgentFunctionResolver.test.ts
Labels: dependencies, size/XXL, feature, tests, event-handler

#3978 chore: add Instil as customer reference
  README.md
  docs/index.md
  docs/media/logos/instil.svg
  packages/batch/README.md
  packages/commons/README.md
  packages/event-handler/README.md
  packages/idempotency/README.md
  packages/jmespath/README.md
  packages/logger/README.md
  packages/metrics/README.md
  packages/parameters/README.md
  packages/parser/README.md
  packages/tracer/README.md
  packages/validation/README.md
Labels: documentation, internal, size/S
