Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2025-07, with the labels that each got.

#4102 fix(logger): set `hourCycle` to h23 when tz is not UTC
  packages/logger/src/formatter/LogFormatter.ts
Labels: logger, size/XS

#4103 docs: clarify version mismatch risks
  docs/getting-started/installation.md
  docs/getting-started/lambda-layers.md
Labels: documentation, size/M

#4111 feat(event-handler): support `onQuery` and `onMutation` handlers
  packages/event-handler/package.json
  packages/event-handler/src/appsync-events/AppSyncEventsResolver.ts
  packages/event-handler/src/appsync-events/RouteHandlerRegistry.ts
  packages/event-handler/src/appsync-events/Router.ts
  packages/event-handler/src/appsync-graphql/AppSyncGraphQLResolver.ts
  packages/event-handler/src/appsync-graphql/RouteHandlerRegistry.ts
  packages/event-handler/src/appsync-graphql/Router.ts
  packages/event-handler/src/appsync-graphql/errors.ts
  packages/event-handler/src/appsync-graphql/index.ts
  packages/event-handler/src/appsync-graphql/scalarTypesUtils.ts
  packages/event-handler/src/appsync-graphql/utils.ts
  packages/event-handler/src/bedrock-agent/BedrockAgentFunctionResolver.ts
  packages/event-handler/src/bedrock-agent/BedrockFunctionResponse.ts
  packages/event-handler/src/types/appsync-events.ts
  packages/event-handler/src/types/appsync-graphql.ts
  packages/event-handler/src/types/bedrock-agent.ts
  packages/event-handler/src/types/common.ts
  packages/event-handler/src/types/index.ts
  packages/event-handler/tests/unit/appsync-graphql/AppSyncGraphQLResolver.test.ts
  packages/event-handler/tests/unit/appsync-graphql/RouteHandlerRegistry.test.ts
  packages/event-handler/tests/unit/appsync-graphql/Router.test.ts
  packages/event-handler/tests/unit/appsync-graphql/scalarTypesUtils.test.ts
  packages/event-handler/typedoc.json
Labels: dependencies, size/XL, tests, event-handler

#4126 chore: fix typo in partitioned layers workflow
  .github/workflows/layers_partition_verify.yml
  .github/workflows/layers_partitions.yml
Labels: automation, size/S

#3964 fix(metrics): addDimensions() documentation and tests
  docs/features/metrics.md
  examples/snippets/metrics/dimensionSets.ts
  packages/metrics/src/Metrics.ts
  packages/metrics/tests/unit/dimensions.test.ts
Labels: bug, documentation, metrics, size/L, tests

#4133 docs: update roadmap with completed features and Discord badge
  .gitignore
  README.md
  docs/media/join-discord.svg
  docs/roadmap.md
Labels: documentation, size/M

#4156 refactor(metrics): optimize `addDimensions` method to avoid O(n²) complexity
  packages/metrics/src/Metrics.ts
Labels: metrics, size/XS

#4146 refactor(tracer): replace class-based env access with functional helpers
  packages/tracer/src/Tracer.ts
  packages/tracer/src/config/EnvironmentVariablesService.ts
  packages/tracer/src/provider/ProviderService.ts
  packages/tracer/tests/unit/EnvironmentVariablesService.test.ts
Labels: dependencies, tracer, size/L, tests

#4152 chore(batch): exclude deprecated code from coverage
  docs/features/batch.md
  packages/batch/src/BasePartialProcessor.ts
  packages/batch/src/BatchProcessorSync.ts
  packages/batch/src/processPartialResponseSync.ts
  packages/batch/tests/unit/BatchProcessorSync.test.ts
  packages/batch/tests/unit/processPartialResponseSync.test.ts
Labels: documentation, size/XL, tests, batch

#3972 feat(event-handler): add base router class
  packages/event-handler/src/rest/BaseRouter.ts
  packages/event-handler/src/rest/constatnts.ts
  packages/event-handler/src/types/rest.ts
  packages/event-handler/tests/unit/rest/BaseRouter.test.ts
Labels: size/L, feature, tests, event-handler

#4180 docs: update release steps in maintainers section
  docs/maintainers.md
Labels: documentation, internal, size/M

#4188 refactor(metrics): replace EnvironmentVariablesService with cached #envConfig
  packages/metrics/src/Metrics.ts
  packages/metrics/src/config/EnvironmentVariablesService.ts
Labels: metrics, size/L

#4195 refactor(ci): Updated the publish command in the CI to use `npm publish` instead of `lerna publish`
  .github/workflows/make-release.yml
  .github/workflows/publish-package.yml
Labels: automation, size/XS

#4196 fix(parser): set zod peer range to 4.x
  package-lock.json
  packages/parser/package.json
Labels: dependencies, size/XS

#4208 improv(maintenance): Removed some unused assignments and added missing error handling
  examples/snippets/parameters/testingYourCodeClientHandler.ts
  packages/parameters/tests/unit/BaseProvider.test.ts
Labels: size/XS, tests

#4213 ci: remove local create-pr action
  .github/actions/create-pr/action.yml
  .github/actions/create-pr/create_pr_for_staged_changes.sh
  .github/workflows/make-version.yml
  .github/workflows/publish_layer.yml
Labels: automation, size/L

#4222 fix(metrics): emit warning when default dimensions are overwritten
  packages/metrics/src/Metrics.ts
  packages/metrics/tests/unit/customTimestamp.test.ts
  packages/metrics/tests/unit/dimensions.test.ts
  packages/metrics/tests/unit/initializeMetrics.test.ts
Labels: metrics, size/L, tests

#4231 chore(ci): bump version to 2.24.1
  CHANGELOG.md
  examples/app/CHANGELOG.md
  examples/app/package.json
  examples/snippets/CHANGELOG.md
  examples/snippets/package.json
  layers/CHANGELOG.md
  layers/package.json
  package-lock.json
  packages/batch/CHANGELOG.md
  packages/batch/package.json
  packages/commons/CHANGELOG.md
  packages/commons/package.json
  packages/event-handler/CHANGELOG.md
  packages/event-handler/package.json
  packages/idempotency/CHANGELOG.md
  packages/idempotency/package.json
  packages/jmespath/CHANGELOG.md
  packages/jmespath/package.json
  packages/kafka/CHANGELOG.md
  packages/kafka/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/metrics/CHANGELOG.md
  packages/metrics/package.json
  packages/parameters/CHANGELOG.md
  packages/parameters/package.json
  packages/parser/CHANGELOG.md
  packages/parser/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/tracer/CHANGELOG.md
  packages/tracer/package.json
  packages/validation/CHANGELOG.md
  packages/validation/package.json
Labels: documentation, dependencies, size/L

#4240 test(parser): Fixed failing tests after zod version bump to 4.0.14
  examples/snippets/package.json
  package-lock.json
  packages/kafka/package.json
  packages/parser/package.json
  packages/parser/tests/unit/envelopes/cloudwatch.test.ts
Labels: dependencies, size/M, tests

#4218 feat(event-handler): add support for AppSync GraphQL batch resolvers
  packages/event-handler/src/appsync-graphql/AppSyncGraphQLResolver.ts
  packages/event-handler/src/appsync-graphql/RouteHandlerRegistry.ts
  packages/event-handler/src/appsync-graphql/Router.ts
  packages/event-handler/src/appsync-graphql/errors.ts
  packages/event-handler/src/appsync-graphql/index.ts
  packages/event-handler/src/appsync-graphql/utils.ts
  packages/event-handler/src/types/appsync-graphql.ts
  packages/event-handler/src/types/index.ts
  packages/event-handler/tests/unit/appsync-graphql/AppSyncGraphQLResolver.test.ts
  packages/event-handler/tests/unit/appsync-graphql/RouteHandlerRegistry.test.ts
  packages/event-handler/tests/unit/appsync-graphql/Router.test.ts
Labels: size/XXL, tests, event-handler
