Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2025-08, with the labels that each got.

#4259 fix(parser): cognito schema `preferredRole` may be null
  packages/parser/src/schemas/cognito.ts
  packages/parser/tests/unit/schema/cognito.test.ts
Labels: size/S, tests, parser

#4251 refactor(logger): replace EnvironmentVariablesService class with helper functions
  packages/logger/src/Logger.ts
  packages/logger/src/config/EnvironmentVariablesService.ts
  packages/logger/src/formatter/LogFormatter.ts
  packages/logger/src/formatter/PowertoolsLogFormatter.ts
  packages/logger/src/types/formatters.ts
  packages/logger/tests/unit/configFromEnv.test.ts
  packages/logger/tests/unit/formatters.test.ts
  packages/logger/tests/unit/logLevels.test.ts
  packages/logger/tests/unit/sampling.test.ts
Labels: logger, size/XL, tests

#4299 feat(event-handler): add error classes for http errors
  packages/event-handler/src/rest/constants.ts
  packages/event-handler/src/rest/errors.ts
  packages/event-handler/src/types/rest.ts
  packages/event-handler/tests/unit/rest/errors.test.ts
Labels: size/L, tests, event-handler

#4310 chore(deps): Bumped the version to 2.25.0
  CHANGELOG.md
  examples/app/CHANGELOG.md
  examples/app/package.json
  examples/snippets/CHANGELOG.md
  examples/snippets/package.json
  layers/CHANGELOG.md
  layers/package.json
  package-lock.json
  packages/batch/CHANGELOG.md
  packages/batch/package.json
  packages/commons/CHANGELOG.md
  packages/commons/package.json
  packages/event-handler/CHANGELOG.md
  packages/event-handler/package.json
  packages/idempotency/CHANGELOG.md
  packages/idempotency/package.json
  packages/jmespath/CHANGELOG.md
  packages/jmespath/package.json
  packages/kafka/CHANGELOG.md
  packages/kafka/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/metrics/CHANGELOG.md
  packages/metrics/package.json
  packages/parameters/CHANGELOG.md
  packages/parameters/package.json
  packages/parser/CHANGELOG.md
  packages/parser/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/tracer/CHANGELOG.md
  packages/tracer/package.json
  packages/validation/CHANGELOG.md
  packages/validation/package.json
Labels: documentation, dependencies, size/L

#4314 refactor: idempotency env service to functions 4246
  packages/commons/src/config/EnvironmentVariablesService.ts
  packages/commons/src/index.ts
  packages/commons/tests/unit/EnvironmentVariablesService.test.ts
  packages/idempotency/src/IdempotencyConfig.ts
  packages/idempotency/src/config/EnvironmentVariablesService.ts
  packages/idempotency/src/persistence/BasePersistenceLayer.ts
  packages/idempotency/tests/unit/EnvironmentVariableService.test.ts
Labels: idempotency, size/L, tests, commons

#4321 improv(ci): Skip Layer version checks for the Gamma environment
  .github/workflows/layers_partitions.yml
Labels: automation, size/XS

#4327 improv(idempotency): Prevent error when AWS_LAMBDA_FUNCTION_NAME is not passed in the Idempotency Persistence Layer
  packages/idempotency/src/persistence/BasePersistenceLayer.ts
  packages/idempotency/tests/unit/persistence/BasePersistenceLayer.test.ts
Labels: idempotency, size/S, tests

#4332 docs: add FraudFalcon customer reference
  README.md
  docs/index.md
  packages/batch/README.md
  packages/commons/README.md
  packages/event-handler/README.md
  packages/idempotency/README.md
  packages/jmespath/README.md
  packages/kafka/README.md
  packages/logger/README.md
  packages/metrics/README.md
  packages/parameters/README.md
  packages/parser/README.md
  packages/tracer/README.md
  packages/validation/README.md
Labels: documentation, internal, size/S

#4329 fix(event-handler): pass event, context and request objects into handler
  packages/event-handler/src/rest/BaseRouter.ts
  packages/event-handler/src/rest/constants.ts
  packages/event-handler/src/types/rest.ts
  packages/event-handler/tests/unit/rest/BaseRouter.test.ts
  packages/event-handler/tests/unit/rest/ErrorHandlerRegistry.test.ts
Labels: size/L, tests, event-handler

#4287 improv(metrics): emit warning when default dimensions are overwritten
  packages/metrics/src/Metrics.ts
  packages/metrics/tests/unit/dimensions.test.ts
Labels: metrics, size/L, tests

#4347 ci: switch e2e env in run-e2e-tests workflow
  .github/workflows/run-e2e-tests.yml
Labels: automation, size/M

#4355 improv(ci): Automate the layer version tracking during the Make Release workflow
  .github/scripts/update_layer_arn.sh
  .github/workflows/make-release.yml
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
Labels: automation, size/M

#4367 improv(ci): Added comments in workflow files triggering Excessive Secret Exposure Alert
  .github/workflows/layers_partition_verify.yml
  .github/workflows/layers_partitions.yml
  .github/workflows/update_ssm.yml
Labels: automation, size/M

#4356 improv(ci): Automate the SSM Parameter Update step of the release workflow
  .github/scripts/update_layer_arn.sh
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_deploy_layer_stack.yml
  .github/workflows/update_ssm.yml
  docs/maintainers.md
Labels: documentation, automation, internal, size/M

#4370 improv(ci): Moved the secrets expanded in the run block to env variables
  .github/workflows/bootstrap_region.yml
  .github/workflows/dispatch_analytics.yml
  .github/workflows/layer_balance.yml
  .github/workflows/make-release.yml
  .github/workflows/publish-package.yml
  .github/workflows/reusable_publish_docs.yml
Labels: automation, size/M

#4385 improv(ci): Fixed the Make Release workflow permission issue
  .github/workflows/publish_layer.yml
Labels: automation, size/XS

#4349 feat(event-handler): add resolution logic to base router
  packages/event-handler/src/rest/BaseRouter.ts
  packages/event-handler/src/rest/converters.ts
  packages/event-handler/src/rest/utils.ts
  packages/event-handler/src/types/rest.ts
  packages/event-handler/tests/unit/rest/BaseRouter.test.ts
  packages/event-handler/tests/unit/rest/ErrorHandlerRegistry.test.ts
  packages/event-handler/tests/unit/rest/RouteHandlerRegistry.test.ts
  packages/event-handler/tests/unit/rest/converters.test.ts
  packages/event-handler/tests/unit/rest/utils.test.ts
Labels: size/XXL, tests, event-handler

#4389 improv(logger): Updated the regex for `getCodeLocation` to prevent regex exploit
  packages/logger/src/formatter/LogFormatter.ts
Labels: logger, size/XS
