Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2025-09, with the labels that each got.

#4413 feat(parser): implemented a helper function `Base64Encoded` to decode base64 encoded payloads
  packages/parser/src/helpers/index.ts
  packages/parser/src/schemas/kinesis.ts
  packages/parser/tests/unit/helpers.test.ts
Labels: size/L, tests, parser

#4418 improv(docs): Fixed the version dropdown in the docs
  .github/workflows/reusable_publish_docs.yml
Labels: automation, size/XS

#4408 feat(parser): integrate parser with Batch Processing
  package-lock.json
  package.json
  packages/batch/package.json
  packages/batch/src/BasePartialBatchProcessor.ts
  packages/batch/src/BasePartialProcessor.ts
  packages/batch/src/BatchProcessor.ts
  packages/batch/src/constants.ts
  packages/batch/src/types.ts
  packages/batch/tests/unit/BatchProcessor.test.ts
Labels: dependencies, size/XL, tests, batch

#4439 feat(event-handler): implement mechanism to manipulate response in middleware
  packages/event-handler/src/rest/BaseRouter.ts
  packages/event-handler/src/rest/converters.ts
  packages/event-handler/src/rest/utils.ts
  packages/event-handler/src/types/rest.ts
  packages/event-handler/tests/unit/rest/BaseRouter.test.ts
  packages/event-handler/tests/unit/rest/ErrorHandlerRegistry.test.ts
  packages/event-handler/tests/unit/rest/converters.test.ts
  packages/event-handler/tests/unit/rest/utils.test.ts
Labels: size/XL, tests, event-handler

#4450 fix(parser): updated the binaryValue and stringValue in the SqsMsgAttributeSchema to nullable
  packages/parser/src/schemas/sqs.ts
Labels: size/XS, parser

#4455 fix(event-handler): handle nullable fields in APIGatewayProxyEvent
  packages/event-handler/src/rest/utils.ts
  packages/event-handler/tests/unit/rest/utils.test.ts
Labels: size/L, tests, event-handler

#4458 chore(event-handler): expose rest handler functionality
  packages/event-handler/package.json
  packages/event-handler/src/rest/RouteHandlerRegistry.ts
  packages/event-handler/src/rest/Router.ts
  packages/event-handler/src/rest/converters.ts
  packages/event-handler/src/rest/index.ts
  packages/event-handler/src/types/index.ts
  packages/event-handler/src/types/rest.ts
  packages/event-handler/tests/unit/rest/ErrorHandlerRegistry.test.ts
  packages/event-handler/tests/unit/rest/RouteHandlerRegistry.test.ts
  packages/event-handler/tests/unit/rest/Router/basic-routing.test.ts
  packages/event-handler/tests/unit/rest/Router/decorators.test.ts
  packages/event-handler/tests/unit/rest/Router/error-handling.test.ts
  packages/event-handler/tests/unit/rest/Router/logging.test.ts
  packages/event-handler/tests/unit/rest/Router/middleware.test.ts
  packages/event-handler/tests/unit/rest/converters.test.ts
  packages/event-handler/tests/unit/rest/errors.test.ts
  packages/event-handler/tests/unit/rest/utils.test.ts
Labels: dependencies, size/L, tests, event-handler

#4460 chore(event-handler): rename variables to reflect that options object is now a RequestContext
  packages/event-handler/src/rest/Router.ts
  packages/event-handler/src/rest/utils.ts
  packages/event-handler/src/types/rest.ts
  packages/event-handler/tests/unit/rest/ErrorHandlerRegistry.test.ts
  packages/event-handler/tests/unit/rest/Router/basic-routing.test.ts
  packages/event-handler/tests/unit/rest/Router/decorators.test.ts
  packages/event-handler/tests/unit/rest/Router/error-handling.test.ts
  packages/event-handler/tests/unit/rest/Router/middleware.test.ts
  packages/event-handler/tests/unit/rest/utils.test.ts
Labels: size/L, tests, event-handler

#4488 chore(ci): update layer ARN on documentation
  docs/getting-started/lambda-layers.md
  examples/app/cdk/example-stack.ts
  examples/app/template.yaml
Labels: documentation, size/M

#4498 fix(batch): fixed the build issue with Batch processor due to missing dependencies
  docs/features/batch.md
  package-lock.json
  packages/batch/package.json
  packages/batch/src/BasePartialBatchProcessor.ts
  packages/batch/src/BatchProcessor.ts
  packages/batch/src/parser.ts
  packages/batch/src/types.ts
  packages/batch/tests/helpers/factories.ts
  packages/batch/tests/unit/parsing.test.ts
Labels: documentation, dependencies, size/XL, tests, batch

#4507 fix(event-handler): run global middleware on all requests for REST API
  packages/event-handler/src/rest/Router.ts
  packages/event-handler/src/rest/converters.ts
  packages/event-handler/tests/unit/rest/Router/decorators.test.ts
  packages/event-handler/tests/unit/rest/Router/middleware.test.ts
  packages/event-handler/tests/unit/rest/converters.test.ts
Labels: size/L, tests, event-handler

#4511 feat(event-handler): throw error when middleware does not await next()
  packages/event-handler/src/rest/utils.ts
  packages/event-handler/tests/unit/rest/Router/middleware.test.ts
Labels: size/M, tests, event-handler

#4512 fix(event-handler): fixed CORS behaviour not aligned with CORS spec
  packages/event-handler/src/rest/middleware/cors.ts
  packages/event-handler/tests/unit/rest/middleware/cors.test.ts
Labels: size/L, tests, event-handler

#4537 docs(idempotency): fix dataKeywordArgument reference and remove unused test code
  packages/idempotency/src/makeIdempotent.ts
  packages/idempotency/tests/unit/IdempotencyHandler.test.ts
Labels: idempotency, size/M, tests

#4542 docs(event-handler): update to new APIs before release
  docs/features/event-handler/rest.md
  examples/snippets/event-handler/rest/advanced_compress.ts
  examples/snippets/event-handler/rest/advanced_cors_per_route.ts
  examples/snippets/event-handler/rest/advanced_cors_simple.ts
  examples/snippets/event-handler/rest/advanced_fine_grained_responses.ts
  examples/snippets/event-handler/rest/advanced_mw_compose_middleware_index.ts
  examples/snippets/event-handler/rest/advanced_mw_compose_middleware_shared.ts
  examples/snippets/event-handler/rest/advanced_mw_custom_middleware.ts
  examples/snippets/event-handler/rest/advanced_mw_destructuring_problem.ts
  examples/snippets/event-handler/rest/advanced_mw_early_return.ts
  examples/snippets/event-handler/rest/advanced_mw_middleware_order.ts
  examples/snippets/event-handler/rest/diagrams/middleware_early_return.mermaid
  examples/snippets/event-handler/rest/diagrams/middleware_error_handling.mermaid
  examples/snippets/event-handler/rest/diagrams/middleware_execution_order.mermaid
  examples/snippets/event-handler/rest/diagrams/middleware_handled_error.mermaid
  examples/snippets/event-handler/rest/diagrams/middleware_throwing_error.mermaid
  examples/snippets/event-handler/rest/gettingStarted_dynamic_routes.ts
  examples/snippets/event-handler/rest/gettingStarted_error_handling.ts
  examples/snippets/event-handler/rest/gettingStarted_handle_not_found.ts
  examples/snippets/event-handler/rest/gettingStarted_methods.ts
  examples/snippets/event-handler/rest/gettingStarted_multi_methods.ts
  examples/snippets/event-handler/rest/gettingStarted_route_prefix.ts
  examples/snippets/event-handler/rest/gettingStarted_serialization.ts
  examples/snippets/event-handler/rest/gettingStarted_throwing_http_errors.ts
Labels: documentation, size/L

#4535 chore(ci): update layer ARN on documentation
  docs/getting-started/lambda-layers.md
  examples/app/cdk/example-stack.ts
  examples/app/template.yaml
Labels: documentation, size/M

#4528 chore: sanitize CI inputs via env var
  .github/workflows/bootstrap_region.yml
  .github/workflows/layer_balance.yml
  .github/workflows/layers_partition_verify.yml
  .github/workflows/layers_partitions.yml
  .github/workflows/publish_layer.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/update_ssm.yml
Labels: automation, size/L

#4548 style(commons): apply stricter linting
  packages/commons/src/Utility.ts
  packages/commons/src/envUtils.ts
  packages/commons/src/index.ts
  packages/commons/tests/types/LambdaInterface.test.ts
  packages/commons/tests/unit/awsSdkUtils.test.ts
Labels: documentation, dependencies, automation, size/S, tests, commons

#4565 style(validation): apply stricter linting
  packages/validation/src/middleware.ts
  packages/validation/tests/unit/decorator.test.ts
  packages/validation/tests/unit/middleware.test.ts
Labels: documentation, automation, size/S, tests

#4566 style(testing): apply stricter linting
  packages/testing/src/TestStack.ts
  packages/testing/src/setupEnv.ts
  packages/testing/src/xray-traces-utils.ts
Labels: size/XS

#4567 style(parser): apply stricter linting
  packages/parser/src/envelopes/sns-sqs.ts
  packages/parser/src/parserDecorator.ts
  packages/parser/src/schemas/appsync-events.ts
  packages/parser/src/schemas/appsync.ts
  packages/parser/src/schemas/cognito.ts
  packages/parser/src/schemas/kafka.ts
  packages/parser/src/types/parser.ts
  packages/parser/tests/types/parser.test-d.ts
  packages/parser/tests/unit/parser.decorator.test.ts
  packages/parser/tests/unit/parser.middy.test.ts
  packages/parser/tests/unit/parser.test.ts
Labels: size/M, tests, parser

#4568 style(jmespath): apply stricter linting & improve docstrings
  packages/jmespath/src/Expression.ts
  packages/jmespath/src/Functions.ts
  packages/jmespath/src/Lexer.ts
  packages/jmespath/src/ParsedResult.ts
  packages/jmespath/src/Parser.ts
  packages/jmespath/src/PowertoolsFunctions.ts
  packages/jmespath/src/TreeInterpreter.ts
  packages/jmespath/src/ast.ts
  packages/jmespath/src/constants.ts
  packages/jmespath/src/envelopes.ts
  packages/jmespath/src/errors.ts
  packages/jmespath/src/search.ts
  packages/jmespath/src/types.ts
  packages/jmespath/src/utils.ts
Labels: size/L

#4570 style(tracer): apply stricter linting
  packages/tracer/src/Tracer.ts
  packages/tracer/src/middleware/middy.ts
  packages/tracer/src/provider/ProviderService.ts
  packages/tracer/src/types/Tracer.ts
  packages/tracer/tests/e2e/decorator.test.ts
  packages/tracer/tests/e2e/manual.test.ts
  packages/tracer/tests/helpers/mockRequests.ts
  packages/tracer/tests/unit/ProviderService.test.ts
  packages/tracer/tests/unit/Tracer.test.ts
  packages/tracer/tests/unit/middy.test.ts
  packages/tracer/vitest.config.ts
Labels: tracer, size/L, tests

#4571 style(metrics): apply stricter linting
  packages/metrics/src/Metrics.ts
  packages/metrics/src/middleware/middy.ts
  packages/metrics/tests/e2e/basicFeatures.decorator.test.functionCode.ts
  packages/metrics/tests/e2e/basicFeatures.decorators.test.ts
  packages/metrics/tests/e2e/basicFeatures.manual.test.functionCode.ts
  packages/metrics/tests/e2e/basicFeatures.manual.test.ts
  packages/metrics/tests/helpers/metricsUtils.ts
  packages/metrics/tests/unit/logMetrics.test.ts
Labels: metrics, size/M, tests

#4573 feat(event-handler): added `includeRouter` method to split routes
  packages/event-handler/src/rest/ErrorHandlerRegistry.ts
  packages/event-handler/src/rest/RouteHandlerRegistry.ts
  packages/event-handler/src/rest/Router.ts
  packages/event-handler/src/rest/utils.ts
  packages/event-handler/tests/unit/rest/Router/basic-routing.test.ts
  packages/event-handler/tests/unit/rest/utils.test.ts
Labels: size/L, tests, event-handler

#4577 style(parameters): apply stricter linting
  packages/parameters/src/appconfig/AppConfigProvider.ts
  packages/parameters/src/appconfig/getAppConfig.ts
  packages/parameters/src/dynamodb/DynamoDBProvider.ts
  packages/parameters/src/secrets/SecretsProvider.ts
  packages/parameters/src/secrets/getSecret.ts
  packages/parameters/src/ssm/SSMProvider.ts
  packages/parameters/src/ssm/getParameter.ts
  packages/parameters/src/ssm/getParameters.ts
  packages/parameters/src/ssm/getParametersByName.ts
  packages/parameters/src/ssm/setParameter.ts
  packages/parameters/src/types/AppConfigProvider.ts
  packages/parameters/src/types/BaseProvider.ts
  packages/parameters/src/types/DynamoDBProvider.ts
  packages/parameters/src/types/SSMProvider.ts
  packages/parameters/src/types/SecretsProvider.ts
  packages/parameters/tests/e2e/appConfigProvider.class.test.ts
  packages/parameters/tests/e2e/dynamoDBProvider.class.test.ts
  packages/parameters/tests/e2e/secretsProvider.class.test.ts
  packages/parameters/tests/e2e/ssmProvider.class.test.ts
  packages/parameters/tests/unit/AppConfigProvider.test.ts
  packages/parameters/tests/unit/DynamoDBProvider.test.ts
  packages/parameters/tests/unit/SSMProvider.test.ts
  packages/parameters/tests/unit/SecretsProvider.test.ts
  packages/parameters/tests/unit/setParameter.test.ts
  packages/parameters/typedoc.json
Labels: parameters, size/XXL, tests

#4578 style(event-handler): apply stricter linting
  packages/event-handler/src/appsync-events/Router.ts
  packages/event-handler/src/appsync-graphql/AppSyncGraphQLResolver.ts
  packages/event-handler/src/appsync-graphql/index.ts
  packages/event-handler/src/bedrock-agent/BedrockAgentFunctionResolver.ts
  packages/event-handler/src/rest/converters.ts
  packages/event-handler/src/rest/middleware/cors.ts
  packages/event-handler/src/rest/utils.ts
  packages/event-handler/src/types/bedrock-agent.ts
  packages/event-handler/src/types/rest.ts
  packages/event-handler/tests/unit/appsync-events/AppSyncEventsResolver.test.ts
  packages/event-handler/tests/unit/appsync-graphql/AppSyncGraphQLResolver.test.ts
  packages/event-handler/tests/unit/bedrock-agent/BedrockAgentFunctionResolver.test.ts
  packages/event-handler/tests/unit/rest/RouteHandlerRegistry.test.ts
  packages/event-handler/tests/unit/rest/Router/basic-routing.test.ts
  packages/event-handler/tests/unit/rest/Router/decorators.test.ts
  packages/event-handler/tests/unit/rest/Router/error-handling.test.ts
  packages/event-handler/tests/unit/rest/Router/middleware.test.ts
  packages/event-handler/tests/unit/rest/converters.test.ts
  packages/event-handler/tests/unit/rest/helpers.ts
  packages/event-handler/tests/unit/rest/middleware/compress.test.ts
  packages/event-handler/tests/unit/rest/utils.test.ts
Labels: size/L, tests, event-handler
