Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2025-02, with the labels that each got.

#3529 fix(parser): parse sqs record body field as JSON and S3Schema in S3SqsEventNoificationRecordSchema
  packages/parser/src/schemas/s3.ts
  packages/parser/tests/unit/schema/s3.test.ts
Labels: bug, size/S, feature, tests, parser

#3549 chore: update `actions/cached-node-modules` GitHub Action
  .github/workflows/make-release.yml
  .github/workflows/make-version.yml
  .github/workflows/publish-package.yml
  .github/workflows/publish_layer.yml
  .github/workflows/quality_check.yml
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  .github/workflows/reusable_deploy_layer_stack.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
Labels: automation, size/M

#3552 improv(idempotency): mark `getHashedIdempotencyKey()` method as protected
  packages/idempotency/src/persistence/BasePersistenceLayer.ts
Labels: idempotency, size/XS, enhancement

#3553 fix(logger): prevent overwriting standard keys
  docs/core/logger.md
  packages/logger/src/Logger.ts
  packages/logger/src/constants.ts
  packages/logger/src/formatter/LogItem.ts
  packages/logger/src/types/Logger.ts
  packages/logger/src/types/logKeys.ts
  packages/logger/tests/unit/workingWithkeys.test.ts
Labels: bug, documentation, logger, size/L, tests

#3560 improv(logger): switch key order for better readability
  docs/core/logger.md
  examples/snippets/logger/customTimezoneOutput.json
  examples/snippets/logger/reorderLogKeysOutput.json
  examples/snippets/logger/unserializableValues.json
  packages/logger/src/formatter/PowertoolsLogFormatter.ts
  packages/logger/tests/unit/formatters.test.ts
  packages/logger/tests/unit/initializeLogger.test.ts
Labels: documentation, logger, size/L, tests, enhancement

#3564 improv(parser): allow extending base provider with no AWS SDK client
  docs/utilities/parameters.md
  examples/snippets/parameters/customProviderVault.ts
  examples/snippets/parameters/customProviderVaultUsage.ts
  packages/parameters/src/appconfig/AppConfigProvider.ts
  packages/parameters/src/base/BaseProvider.ts
  packages/parameters/src/dynamodb/DynamoDBProvider.ts
  packages/parameters/src/secrets/SecretsProvider.ts
  packages/parameters/src/ssm/SSMProvider.ts
  packages/parameters/src/types/BaseProvider.ts
Labels: documentation, parameters, size/L, enhancement

#3567 chore(docs): enable privacy plugin in docs
  .gitignore
  mkdocs.yml
Labels: documentation, size/XS

#3568 feat(parser): simplify `ParseResult` and `parse` inference
  packages/parser/src/parser.ts
  packages/parser/src/types/index.ts
  packages/parser/src/types/parser.ts
  packages/parser/tests/types/envelopes.test.ts
  packages/parser/tests/types/parser.test.ts
Labels: size/L, feature, tests, parser

#3438 feat(ci): Add advanced automation
  .github/workflows/bootstrap_region.yml
  .github/workflows/update_ssm.yml
Labels: automation, size/L, feature

#3575 feat(parser): add TransferFamilySchema for AWS Transfer Family events
  docs/utilities/parser.md
  packages/parser/package.json
  packages/parser/src/schemas/index.ts
  packages/parser/src/schemas/transfer-family.ts
  packages/parser/src/types/index.ts
  packages/parser/src/types/schema.ts
  packages/parser/tests/events/transfer-family/base.json
  packages/parser/tests/unit/schema/transfer-family.test.ts
Labels: documentation, dependencies, size/M, feature, tests, parser

#3576 chore(ci): remove pinned actions & pkg versions
  .github/workflows/bootstrap_region.yml
Labels: automation, size/S

#3578 docs: update roadmap
  docs/roadmap.md
  docs/upgrade.md
Labels: documentation, size/L

#3585 fix(ci): Fix path for latest SSM param
  .github/workflows/update_ssm.yml
Labels: bug, automation, size/XS

#3586 fix(ci): Add permissions to jobs
  .github/workflows/bootstrap_region.yml
Labels: bug, automation, size/XS

#3587 chore(ci): fix double `@` in action hash
  .github/workflows/bootstrap_region.yml
Labels: automation, size/XS

#3592 chore(validation): add workspace pkg
  .github/workflows/reusable-run-linting-check-and-unit-tests.yml
  lerna.json
  package-lock.json
  package.json
  packages/validation/README.md
  packages/validation/package.json
  packages/validation/src/index.ts
  packages/validation/tests/tsconfig.json
  packages/validation/tests/unit/index.test.ts
  packages/validation/tsconfig.esm.json
  packages/validation/tsconfig.json
  packages/validation/vitest.config.ts
Labels: dependencies, automation, internal, size/L

#3593 feat(logger): add circular buffer
  packages/logger/src/logBuffer.ts
  packages/logger/tests/unit/logBuffer.test.ts
Labels: logger, size/L, feature, tests

#3598 feat(parser): provide sub-path exports
  packages/parser/package.json
  packages/parser/src/envelopes/api-gateway.ts
  packages/parser/src/envelopes/api-gatewayv2.ts
  packages/parser/src/envelopes/eventbridge.ts
  packages/parser/src/envelopes/index.ts
  packages/parser/src/envelopes/sns-sqs.ts
  packages/parser/src/types/index.ts
  packages/parser/src/types/schema.ts
  packages/parser/tests/types/envelopes.test.ts
  packages/parser/tests/types/parser.test.ts
  packages/parser/tests/unit/envelopes/api-gateway.test.ts
  packages/parser/tests/unit/envelopes/api-gatewayv2.test.ts
  packages/parser/tests/unit/envelopes/cloudwatch.test.ts
  packages/parser/tests/unit/envelopes/dynamodb.test.ts
  packages/parser/tests/unit/envelopes/event-bridge.test.ts
  packages/parser/tests/unit/envelopes/kafka.test.ts
  packages/parser/tests/unit/envelopes/kinesis-firehose.test.ts
  packages/parser/tests/unit/envelopes/kinesis.test.ts
  packages/parser/tests/unit/envelopes/lambda.test.ts
  packages/parser/tests/unit/envelopes/sns-sqs.test.ts
  packages/parser/tests/unit/envelopes/vpc-lattice.test.ts
  packages/parser/tests/unit/envelopes/vpc-latticev2.test.ts
  packages/parser/tests/unit/parser.decorator.test.ts
  packages/parser/tests/unit/parser.middy.test.ts
  packages/parser/tests/unit/schema/alb.test.ts
Labels: dependencies, size/L, feature, tests, parser

#3604 docs(logger): add notice about mutating attributes in log formatter
  docs/core/logger.md
  packages/logger/src/formatter/LogFormatter.ts
Labels: documentation, logger, size/M

#3532 feat(idempotency): add support for custom key prefix
  packages/idempotency/src/IdempotencyHandler.ts
  packages/idempotency/src/makeIdempotent.ts
  packages/idempotency/src/middleware/makeHandlerIdempotent.ts
  packages/idempotency/src/persistence/BasePersistenceLayer.ts
  packages/idempotency/src/types/BasePersistenceLayer.ts
  packages/idempotency/src/types/IdempotencyOptions.ts
  packages/idempotency/tests/unit/idempotencyDecorator.test.ts
  packages/idempotency/tests/unit/makeIdempotent.test.ts
  packages/idempotency/tests/unit/persistence/BasePersistenceLayer.test.ts
Labels: idempotency, size/L, feature, tests

#3611 docs(idempotency): document keyPrefix feature
  docs/utilities/idempotency.md
  examples/snippets/idempotency/customKeyPrefixDecorator.ts
  examples/snippets/idempotency/customKeyPrefixFnWrapper.ts
  examples/snippets/idempotency/customKeyPrefixMiddleware.ts
Labels: documentation, size/L

#3606 docs(validation): add draft of feature page
  docs/utilities/validation.md
  packages/validation/README.md
Labels: documentation, size/XL

#3603 chore: Add sitemap to documentation website
  mkdocs.yml
Labels: documentation, size/XS

#3639 feat(logger): Emit a warning on buffer flush
  packages/logger/src/Logger.ts
  packages/logger/src/logBuffer.ts
  packages/logger/tests/unit/logBuffer.test.ts
Labels: logger, size/M, tests

#3644 feat(logger): refresh sample rate calculation per invocation
  docs/core/logger.md
  examples/snippets/logger/logSampling.ts
  packages/logger/src/Logger.ts
  packages/logger/src/middleware/middy.ts
  packages/logger/tests/unit/injectLambdaContext.test.ts
Labels: documentation, logger, size/M, feature, tests

#3651 chore(maintenance): set app sdk ua env variable when none is set
  packages/commons/src/awsSdkUtils.ts
  packages/commons/src/index.ts
  packages/commons/tests/unit/awsSdkUtils.test.ts
Labels: size/M, tests, commons

#3641 feat(logger): Enable log buffering feature
  packages/logger/src/Logger.ts
  packages/logger/src/types/Logger.ts
  packages/logger/tests/unit/logBuffer.test.ts
Labels: logger, size/L, tests

#3659 chore: add new AWS regions to layer workflow and documentation
  .github/workflows/reusable_deploy_layer_stack.yml
  .github/workflows/update_ssm.yml
  docs/index.md
Labels: documentation, automation, size/M

#3665 chore(ci): adopt new CDK Toolkit Library
  .github/dependabot.yml
  .github/workflows/run-e2e-tests.yml
  package-lock.json
  packages/testing/package.json
  packages/testing/src/TestStack.ts
Labels: dependencies, automation, size/M

#3671 fix(parser): Update S3 Event Schema
  packages/parser/src/schemas/s3.ts
  packages/parser/tests/events/s3/s3-lifecycle-event.json
  packages/parser/tests/unit/schema/s3.test.ts
Labels: bug, size/XS, parser

#3662 feat(validation): implement validate function and SchemaValidationErr…
  packages/validation/src/errors.ts
  packages/validation/src/index.ts
  packages/validation/src/types.ts
  packages/validation/src/validate.ts
  packages/validation/tests/unit/index.test.ts
  packages/validation/tests/unit/validate.test.ts
Labels: size/L, feature

#3672 feat(logger): refresh sample rate calculation before each invocation
  docs/core/logger.md
  examples/snippets/logger/logSampling.ts
  packages/commons/src/Utility.ts
  packages/logger/src/Logger.ts
  packages/logger/src/middleware/middy.ts
  packages/logger/tests/unit/injectLambdaContext.test.ts
  packages/logger/tests/unit/sampling.test.ts
Labels: documentation, logger, size/M, feature, tests, commons

#3676 feat(logger): flush buffer on uncaught error decorator
  packages/logger/src/Logger.ts
  packages/logger/src/constants.ts
  packages/logger/src/types/Logger.ts
  packages/logger/tests/unit/logBuffer.test.ts
Labels: logger, size/XL, feature, tests
