Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2025-01, with the labels that each got.

#3458 chore(deps): bump @aws-cdk/cli-lib-alpha to 2.174.1-alpha.0
  package-lock.json
  packages/testing/package.json
Labels: dependencies, size/XS

#3462 refactor(metrics): swap `isDate` for `instanceof Date`
  packages/metrics/src/Metrics.ts
Labels: metrics, size/XS, enhancement

#3442 feat(parser): `DynamoDBMarshalled` helper to parse DynamoDB data structure
  docs/utilities/parser.md
  examples/snippets/parser/extendDynamoDBStreamSchema.ts
  examples/snippets/parser/samples/exampleDynamoDBStreamPayload.json
  packages/parser/package.json
  packages/parser/src/helpers/dynamodb.ts
  packages/parser/tests/unit/helpers.test.ts
  packages/parser/tests/unit/schema/utils.ts
Labels: documentation, dependencies, size/L, tests, parser

#3470 fix(tracer): forward `X-Amzn-Trace-Id` header when instrumenting fetch
  packages/tracer/src/Tracer.ts
  packages/tracer/src/config/EnvironmentVariablesService.ts
  packages/tracer/src/provider/ProviderService.ts
  packages/tracer/tests/helpers/mockRequests.ts
  packages/tracer/tests/unit/ProviderService.test.ts
Labels: bug, tracer, size/M, tests

#3388 test(parser): refactor appsync schema tests
  packages/parser/tests/events/appsync/cognito-identity-null-group.json
  packages/parser/tests/events/appsync/custom-domain-name.json
  packages/parser/tests/events/appsync/iam-identity-cognito.json
  packages/parser/tests/events/appsync/iam-identity-no-cognito.json
  packages/parser/tests/events/appsync/invalid.json
  packages/parser/tests/events/appsync/lambda-identity.json
  packages/parser/tests/events/appsync/no-identity.json
  packages/parser/tests/events/appsync/null-prev.json
  packages/parser/tests/events/appsync/null-source.json
  packages/parser/tests/events/appsync/oidc-identity.json
  packages/parser/tests/events/appsync/resolver.json
  packages/parser/tests/unit/schema/appsync.test.ts
  packages/parser/tests/unit/schema/utils.ts
Labels: size/XL, tests

#3472 chore(deps): bump the aws-cdk group
  examples/app/package.json
  layers/package.json
  package-lock.json
  packages/testing/package.json
Labels: documentation, dependencies, size/S

#3476 chore(parser): remove faker dependency
  package-lock.json
  packages/parser/package.json
  packages/parser/tests/unit/schema/appsync.test.ts
Labels: dependencies, size/XS, tests, parser

#3485 fix(parser): identitySource can be null in APIGatewayRequestAuthorizerEventV2Schema
  packages/parser/src/schemas/apigwv2.ts
  packages/parser/tests/unit/schema/apigwv2.test.ts
Labels: bug, size/S, tests, parser

#3482 fix(parser): DynamoDBStream schema & envelope
  packages/commons/package.json
  packages/commons/src/unmarshallDynamoDB.ts
  packages/commons/tests/unit/unmarshallDynamoDB.test.ts
  packages/parser/src/envelopes/dynamodb.ts
  packages/parser/src/schemas/dynamodb.ts
  packages/parser/src/types/envelope.ts
  packages/parser/tests/events/dynamodb/base.json
  packages/parser/tests/unit/envelopes/dynamodb.test.ts
  packages/parser/tests/unit/helpers.test.ts
  packages/parser/tests/unit/schema/dynamodb.test.ts
Labels: bug, dependencies, size/XL, tests, commons, parser

#3489 fix(parser): Kafka Envelope + tests
  packages/parser/src/envelopes/kafka.ts
  packages/parser/src/schemas/kafka.ts
  packages/parser/tests/events/kafka/base.json
  packages/parser/tests/events/kafkaEventSelfManaged.json
  packages/parser/tests/unit/envelopes/kafka.test.ts
  packages/parser/tests/unit/schema/kafka.test.ts
Labels: bug, size/L, tests, parser

#3493 chore(parser): add util-dynamodb as optional dependency
  package-lock.json
  packages/parser/package.json
  packages/parser/src/helpers/dynamodb.ts
Labels: dependencies, size/XS, parser

#3496 chore(deps): bump aws-cdk-lib & co
  package-lock.json
  packages/testing/package.json
Labels: dependencies, size/XS

#3504 fix(parser): EventBridge envelope uses correct path
  packages/parser/src/envelopes/event-bridge.ts
  packages/parser/tests/events/apiGatewayAuthorizerRequestEvent.json
  packages/parser/tests/events/apiGatewayAuthorizerTokenEvent.json
  packages/parser/tests/events/apiGatewayAuthorizerV2Event.json
  packages/parser/tests/events/apiGatewayProxyEvent.json
  packages/parser/tests/events/apiGatewayProxyEventAnotherPath.json
  packages/parser/tests/events/apiGatewayProxyEventPathTrailingSlash.json
  packages/parser/tests/events/apiGatewayProxyEventPrincipalId.json
  packages/parser/tests/events/apiGatewayProxyEventTestUI.json
  packages/parser/tests/events/apiGatewayProxyEvent_noVersionAuth.json
  packages/parser/tests/events/apiGatewayProxyOtherEvent.json
  packages/parser/tests/events/apiGatewayProxyV2Event.json
  packages/parser/tests/events/apiGatewayProxyV2EventPathTrailingSlash.json
  packages/parser/tests/events/apiGatewayProxyV2Event_GET.json
  packages/parser/tests/events/apiGatewayProxyV2IamEvent.json
  packages/parser/tests/events/apiGatewayProxyV2LambdaAuthorizerEvent.json
  packages/parser/tests/events/apiGatewayProxyV2OtherGetEvent.json
  packages/parser/tests/events/apiGatewayProxyV2SchemaMiddlewareInvalidEvent.json
  packages/parser/tests/events/apiGatewayProxyV2SchemaMiddlewareValidEvent.json
  packages/parser/tests/events/apiGatewaySchemaMiddlewareInvalidEvent.json
  packages/parser/tests/events/apiGatewaySchemaMiddlewareValidEvent.json
  packages/parser/tests/events/appSyncAuthorizerEvent.json
  packages/parser/tests/events/appSyncAuthorizerResponse.json
  packages/parser/tests/events/appSyncDirectResolver.json
  packages/parser/tests/events/appSyncResolverEvent.json
  packages/parser/tests/events/eventbridge/base.json
  packages/parser/tests/unit/envelopes/eventbridge.test.ts
  packages/parser/tests/unit/envelopes/lambda.test.ts
  packages/parser/tests/unit/parser.decorator.test.ts
  packages/parser/tests/unit/parser.middy.test.ts
  packages/parser/tests/unit/schema/eventbridge.test.ts
  packages/parser/tests/unit/schema/lambda.test.ts
  packages/parser/tests/unit/schema/utils.ts
Labels: bug, size/XXL, tests, parser

#3507 improv(parser): export APIGatewayEventRequestContextSchema
  packages/parser/src/schemas/apigw.ts
  packages/parser/src/schemas/index.ts
Labels: size/XS, enhancement, parser

#3506 fix(parser): SNS Envelope handles non-JSON
  packages/parser/src/envelopes/index.ts
  packages/parser/src/envelopes/sns.ts
  packages/parser/src/envelopes/sqs.ts
  packages/parser/src/schemas/sns.ts
  packages/parser/tests/events/sns/base.json
  packages/parser/tests/unit/envelopes/sns.test.ts
  packages/parser/tests/unit/envelopes/sqs.test.ts
  packages/parser/tests/unit/helpers.test.ts
  packages/parser/tests/unit/schema/sns.test.ts
  packages/parser/tests/unit/schema/utils.ts
Labels: bug, size/XL, tests, parser

#3511 fix(parser): API Gateway Envelopes handle non-JSON
  packages/parser/src/envelopes/apigw.ts
  packages/parser/src/envelopes/apigwv2.ts
  packages/parser/src/envelopes/envelope.ts
  packages/parser/tests/unit/envelopes/apigw.test.ts
  packages/parser/tests/unit/envelopes/apigwv2.test.ts
  packages/parser/tests/unit/schema/apigw.test.ts
  packages/parser/tests/unit/schema/apigwv2.test.ts
Labels: bug, size/L, tests, parser

#3514 fix(parser): LambdaFunctionUrl envelope assumes JSON string in body
  packages/parser/src/envelopes/lambda.ts
  packages/parser/tests/events/lambda/base.json
  packages/parser/tests/events/lambda/get-request.json
  packages/parser/tests/events/lambda/iam-auth.json
  packages/parser/tests/events/lambda/invalid.json
  packages/parser/tests/unit/envelopes/lambda.test.ts
  packages/parser/tests/unit/schema/lambda.test.ts
Labels: bug, size/L, tests, parser

#3523 chore(parser): deprecate `AlbMultiValueHeadersSchema`
  packages/parser/src/schemas/alb.ts
  packages/parser/tests/events/alb/base.json
  packages/parser/tests/events/alb/multi-fields.json
  packages/parser/tests/events/albEventPathTrailingSlash.json
  packages/parser/tests/events/albMultiValueHeadersEvent.json
  packages/parser/tests/unit/helpers.test.ts
  packages/parser/tests/unit/schema/alb.test.ts
Labels: size/L, tests, parser

#3524 fix(parser): set min length of 1 to s3 event lists
  packages/parser/src/schemas/s3.ts
  packages/parser/tests/events/s3/base.json
  packages/parser/tests/events/s3/decoded-key.json
  packages/parser/tests/events/s3/delete-object.json
  packages/parser/tests/events/s3/eventbridge-object-created.json
  packages/parser/tests/events/s3/eventbridge-object-deleted.json
  packages/parser/tests/events/s3/eventbridge-object-expired.json
  packages/parser/tests/events/s3/eventbridge-object-restored.json
  packages/parser/tests/events/s3/glacier.json
  packages/parser/tests/events/s3/object-iam-user.json
  packages/parser/tests/events/s3/object-temp-credentials.json
  packages/parser/tests/events/s3/sqs-event.json
  packages/parser/tests/unit/schema/s3.test.ts
  packages/parser/tests/unit/schema/utils.ts
Labels: bug, size/L, tests, parser

#3521 fix(parser): min array length on Records
  packages/parser/src/schemas/ses.ts
  packages/parser/tests/events/cloudformation/custom-resource-create.json
  packages/parser/tests/events/cloudformation/custom-resource-delete.json
  packages/parser/tests/events/cloudformation/custom-resource-update.json
  packages/parser/tests/events/ses/base.json
  packages/parser/tests/unit/envelopes/sqs.test.ts
  packages/parser/tests/unit/parser.decorator.test.ts
  packages/parser/tests/unit/schema/appsync.test.ts
  packages/parser/tests/unit/schema/cloudformation-custom-resource.test.ts
  packages/parser/tests/unit/schema/dynamodb.test.ts
  packages/parser/tests/unit/schema/eventbridge.test.ts
  packages/parser/tests/unit/schema/lambda.test.ts
  packages/parser/tests/unit/schema/ses.test.ts
  packages/parser/tests/unit/schema/utils.ts
Labels: bug, size/L, tests, parser

#3526 fix(parser): Firehose SQS should fail for invalid SQS message
  packages/parser/src/schemas/kinesis-firehose.ts
  packages/parser/tests/events/kinesis/firehose-sqs-invalid.json
  packages/parser/tests/unit/schema/kinesis.test.ts
Labels: bug, size/M, tests, parser

#3531 fix(parser): allow Kinesis envelopes to handle non-JSON strings
  packages/parser/src/envelopes/kinesis-firehose.ts
  packages/parser/src/envelopes/kinesis.ts
  packages/parser/src/schemas/dynamodb.ts
  packages/parser/src/schemas/kinesis-firehose.ts
  packages/parser/src/schemas/kinesis.ts
  packages/parser/tests/events/kinesis/stream-one-record.json
  packages/parser/tests/unit/envelopes/kinesis-firehose.test.ts
  packages/parser/tests/unit/envelopes/kinesis.test.ts
  packages/parser/tests/unit/schema/kinesis.test.ts
  packages/parser/typedoc.json
Labels: bug, size/XL, tests, parser

#3534 fix(parser): allow VPC envelopes to handle non-JSON strings
  package-lock.json
  packages/parser/package.json
  packages/parser/src/envelopes/envelope.ts
  packages/parser/src/envelopes/vpc-lattice.ts
  packages/parser/src/envelopes/vpc-latticev2.ts
  packages/parser/tests/events/vpc-lattice-v2/base.json
  packages/parser/tests/events/vpc-lattice/base.json
  packages/parser/tests/events/vpcLatticeEvent.json
  packages/parser/tests/events/vpcLatticeEventV2PathTrailingSlash.json
  packages/parser/tests/unit/envelope.test.ts
  packages/parser/tests/unit/envelopes/apigw.test.ts
  packages/parser/tests/unit/envelopes/apigwv2.test.ts
  packages/parser/tests/unit/envelopes/cloudwatch.test.ts
  packages/parser/tests/unit/envelopes/dynamodb.test.ts
  packages/parser/tests/unit/envelopes/eventbridge.test.ts
  packages/parser/tests/unit/envelopes/kafka.test.ts
  packages/parser/tests/unit/envelopes/kinesis-firehose.test.ts
  packages/parser/tests/unit/envelopes/kinesis.test.ts
  packages/parser/tests/unit/envelopes/lambda.test.ts
  packages/parser/tests/unit/envelopes/sns.test.ts
  packages/parser/tests/unit/envelopes/snssqs.test.ts
  packages/parser/tests/unit/envelopes/sqs.test.ts
  packages/parser/tests/unit/envelopes/vpc-lattice.test.ts
  packages/parser/tests/unit/envelopes/vpc-latticev2.test.ts
  packages/parser/tests/unit/helpers.test.ts
  packages/parser/tests/unit/helpers/utils.ts
  packages/parser/tests/unit/parser.decorator.test.ts
  packages/parser/tests/unit/parser.middy.test.ts
  packages/parser/tests/unit/schema/alb.test.ts
  packages/parser/tests/unit/schema/apigw.test.ts
  packages/parser/tests/unit/schema/apigwv2.test.ts
  packages/parser/tests/unit/schema/appsync.test.ts
  packages/parser/tests/unit/schema/cloudformation-custom-resource.test.ts
  packages/parser/tests/unit/schema/cloudwatch.test.ts
  packages/parser/tests/unit/schema/dynamodb.test.ts
  packages/parser/tests/unit/schema/eventbridge.test.ts
  packages/parser/tests/unit/schema/kafka.test.ts
  packages/parser/tests/unit/schema/kinesis.test.ts
  packages/parser/tests/unit/schema/lambda.test.ts
  packages/parser/tests/unit/schema/s3.test.ts
  packages/parser/tests/unit/schema/ses.test.ts
  packages/parser/tests/unit/schema/sns.test.ts
  packages/parser/tests/unit/schema/sqs.test.ts
  packages/parser/tests/unit/schema/utils.ts
  packages/parser/tests/unit/schema/vpc-lattice.test.ts
  packages/parser/tests/unit/schema/vpc-latticev2.test.ts
Labels: bug, dependencies, size/XL, tests, parser

#3544 chore(layers): add compatible architecture field
  layers/src/layer-publisher-stack.ts
Labels: size/XS, layers
