Repository aws-powertools/powertools-lambda-typescript, pull requests merged in 2025-03, with the labels that each got.

#3684 chore(maintenance): remove code owners file
  .github/CODEOWNERS
Labels: internal, size/XS

#3682 chore(maintenance): simplify Utility class
  packages/commons/src/Utility.ts
  packages/commons/tests/unit/Utility.test.ts
  packages/logger/src/Logger.ts
  packages/metrics/src/Metrics.ts
  packages/tracer/src/Tracer.ts
Labels: logger, tracer, metrics, size/L, tests, commons

#3690 feat(logger): Flush buffer on uncaught error in Middy middleware
  packages/logger/src/Logger.ts
  packages/logger/src/middleware/middy.ts
  packages/logger/tests/unit/logBuffer.test.ts
Labels: logger, size/L, feature, tests

#3694 feat(validation): Add Middy.js middleware for JSON Schema validation
  packages/validation/src/middleware.ts
  packages/validation/tests/unit/middleware.test.ts
Labels: size/L, feature

#3709 fix(idempotency): include sk in error msgs when using composite key
  packages/idempotency/src/IdempotencyHandler.ts
  packages/idempotency/src/persistence/DynamoDBPersistenceLayer.ts
  packages/idempotency/src/persistence/IdempotencyRecord.ts
  packages/idempotency/src/types/IdempotencyRecord.ts
  packages/idempotency/tests/unit/IdempotencyHandler.test.ts
  packages/idempotency/tests/unit/persistence/DynamoDbPersistenceLayer.test.ts
Labels: bug, idempotency, size/L, tests

#3713 docs(validation): api docs & minor fixes
  README.md
  packages/validation/README.md
  packages/validation/package.json
  packages/validation/src/decorator.ts
  packages/validation/src/errors.ts
  packages/validation/src/index.ts
  packages/validation/src/middleware.ts
  packages/validation/src/types.ts
  packages/validation/src/utils.ts
  packages/validation/src/validate.ts
  packages/validation/tests/unit/decorator.test.ts
  packages/validation/tests/unit/index.test.ts
  packages/validation/tests/unit/middleware.test.ts
  packages/validation/tests/unit/validate.test.ts
  packages/validation/typedoc.json
  vitest.config.ts
Labels: dependencies, size/XXL

#3717 docs(validation): add main docs page
  docs/utilities/validation.md
  examples/snippets/event-handler/.gitignore
  examples/snippets/validation/advancedBringAjvInstance.ts
  examples/snippets/validation/advancedCustomFormats.ts
  examples/snippets/validation/advancedExternalRefs.ts
  examples/snippets/validation/gettingStartedDecorator.ts
  examples/snippets/validation/gettingStartedEnvelope.ts
  examples/snippets/validation/gettingStartedEnvelopeBuiltin.ts
  examples/snippets/validation/gettingStartedMiddy.ts
  examples/snippets/validation/gettingStartedStandalone.ts
  examples/snippets/validation/samples/gettingStartedEnvelopeEvent.json
  examples/snippets/validation/samples/gettingStartedSQSEnvelopeEvent.json
  examples/snippets/validation/samples/schemaWithCustomFormat.json
  examples/snippets/validation/schemas.ts
  examples/snippets/validation/schemasWithExternalRefs.ts
  mkdocs.yml
Labels: documentation, size/XL

#3725 chore(ci): remove old api copy step
  .github/workflows/reusable_publish_docs.yml
Labels: automation, size/XS

#3722 fix(logger): correctly refresh sample rate
  docs/core/logger.md
  examples/snippets/logger/logSampling.ts
  examples/snippets/logger/samples/debugLogSamplingNotSampled.json
  examples/snippets/logger/samples/debugLogSamplingSampled.json
  packages/logger/src/Logger.ts
  packages/logger/tests/unit/injectLambdaContext.test.ts
  packages/logger/tests/unit/sampling.test.ts
Labels: bug, documentation, logger, size/L, tests

#3726 feat(logger): set correlation ID in Logger
  docs/core/logger.md
  examples/snippets/logger/correlationIdDecorator.ts
  examples/snippets/logger/correlationIdLogger.ts
  examples/snippets/logger/correlationIdManual.ts
  examples/snippets/logger/correlationIdMiddy.ts
  examples/snippets/logger/correlationIdPaths.ts
  examples/snippets/logger/samples/correlationIdOutput.json
  examples/snippets/logger/samples/correlationIdPayload.json
  packages/logger/package.json
  packages/logger/src/Logger.ts
  packages/logger/src/correlationId.ts
  packages/logger/src/index.ts
  packages/logger/src/middleware/middy.ts
  packages/logger/src/types/Logger.ts
  packages/logger/src/types/index.ts
  packages/logger/tests/unit/injectLambdaContext.test.ts
Labels: documentation, dependencies, logger, size/XL, tests

#3736 test: fix transient fails in log sampling tests
  packages/logger/tests/e2e/sampleRate.decorator.test.FunctionCode.ts
  packages/testing/src/TestStack.ts
Labels: size/M, tests

#3741 fix(parser): ddb base schema + other exports
  docs/utilities/parser.md
  examples/snippets/parser/envelopeDecorator.ts
  examples/snippets/parser/envelopeMiddy.ts
  examples/snippets/parser/extend.ts
  examples/snippets/parser/extendDynamoDBStreamSchema.ts
  examples/snippets/parser/handlerSafeParseDecorator.ts
  examples/snippets/parser/manual.ts
  examples/snippets/parser/manualSafeParse.ts
  examples/snippets/parser/middy.ts
  examples/snippets/parser/safeParseDecorator.ts
  examples/snippets/parser/safeParseMiddy.ts
  examples/snippets/parser/unitTestDecorator.ts
  examples/snippets/parser/unitTestSafeParse.ts
  packages/parser/package.json
  packages/parser/src/envelopes/api-gateway.ts
  packages/parser/src/envelopes/api-gatewayv2.ts
  packages/parser/src/helpers/index.ts
  packages/parser/src/middleware/index.ts
  packages/parser/src/schemas/api-gateway.ts
  packages/parser/src/schemas/api-gatewayv2.ts
  packages/parser/src/schemas/dynamodb.ts
  packages/parser/src/schemas/index.ts
  packages/parser/src/schemas/lambda.ts
  packages/parser/src/schemas/s3.ts
  packages/parser/tests/unit/envelopes/api-gateway.test.ts
  packages/parser/tests/unit/envelopes/api-gatewayv2.test.ts
  packages/parser/tests/unit/envelopes/cloudwatch.test.ts
  packages/parser/tests/unit/envelopes/kafka.test.ts
  packages/parser/tests/unit/envelopes/kinesis-firehose.test.ts
  packages/parser/tests/unit/envelopes/sns-sqs.test.ts
  packages/parser/tests/unit/envelopes/sns.test.ts
  packages/parser/tests/unit/envelopes/sqs.test.ts
  packages/parser/tests/unit/envelopes/vpc-lattice.test.ts
  packages/parser/tests/unit/envelopes/vpc-latticev2.test.ts
  packages/parser/tests/unit/helpers.test.ts
  packages/parser/tests/unit/parser.middy.test.ts
  packages/parser/typedoc.json
Labels: bug, documentation, dependencies, size/L, tests, parser

#3742 chore(logger): clear prev request buffers in manual mode
  docs/core/logger.md
  packages/logger/src/Logger.ts
Labels: documentation, logger, size/S

#3696 feat(metrics): allow setting functionName via constructor parameter and environment variable
  docs/core/metrics.md
  docs/index.md
  examples/snippets/metrics/captureColdStartMetric.ts
  examples/snippets/metrics/functionName.ts
  packages/metrics/src/Metrics.ts
  packages/metrics/src/config/EnvironmentVariablesService.ts
  packages/metrics/src/middleware/middy.ts
  packages/metrics/src/types/ConfigServiceInterface.ts
  packages/metrics/src/types/Metrics.ts
  packages/metrics/tests/unit/coldStartMetric.test.ts
  packages/metrics/tests/unit/initializeMetrics.test.ts
  packages/metrics/tests/unit/logMetrics.test.ts
Labels: documentation, metrics, size/XL, tests

#3759 chore(ci): fix compat runtimes in govcloud layer creation
  .github/workflows/layers_govcloud.yml
Labels: bug, automation, size/XS

#3760 fix(ci): Switch GovCloud publish-layer-version to --cli-input-json
  .github/workflows/layers_govcloud.yml
Labels: bug, automation, size/M

#3762 fix(ci): region typo in govcloud
  .github/workflows/layers_govcloud.yml
Labels: bug, automation, size/XS

#3763 chore(ci): Simpllified GovCloud Deploy
  .github/workflows/layer_govcloud_verify.yml
  .github/workflows/layers_govcloud.yml
Labels: automation, size/L

#3769 chore: add Guild customer reference
  README.md
  docs/index.md
  docs/media/logos/guild.png
  packages/batch/README.md
  packages/commons/README.md
  packages/event-handler/README.md
  packages/idempotency/README.md
  packages/jmespath/README.md
  packages/logger/README.md
  packages/metrics/README.md
  packages/parameters/README.md
  packages/parser/README.md
  packages/tracer/README.md
  packages/validation/README.md
Labels: documentation, internal, size/S

#3768 chore(parameters): update AWS SDK client type
  docs/utilities/parameters.md
  examples/snippets/package.json
  examples/snippets/parameters/customProviderVault.ts
  examples/snippets/parameters/customProviderVaultTypes.ts
  examples/snippets/parameters/customProviderVaultUsage.ts
  package-lock.json
  packages/parameters/src/types/BaseProvider.ts
Labels: documentation, dependencies, parameters, size/L

#3776 docs: update roadmap end Q1
  docs/roadmap.md
Labels: documentation, size/S

#3782 improv(parser): export all SQS schemas
  packages/parser/src/schemas/index.ts
  packages/parser/src/schemas/sqs.ts
Labels: size/S, enhancement, parser

#3783 feat: make getKey protected on DynamoDbPersistenceLayer
  packages/idempotency/src/persistence/DynamoDBPersistenceLayer.ts
Labels: idempotency, size/XS, feature
